DEBUG=1
SECRET_KEY=<SECRET_KEY>
DJANGO_ALLOWED_HOSTS=<DJANGO_ALLOWED_HOSTS>
DB_ENGINE=<DB_ENGINE>
DB_NAME=<YOUR_DB_NAME>
DB_USER=<YOUR_DB_USER>
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_HOST=<YOUR_DB_HOST>
DB_PORT=<YOUR_DB_PORT>
