coverage==5.0.3
Django==2.2.13
# django-appconf==1.0.3
# django-bootstrap-modal-forms==1.5.0
django-ckeditor==5.7.0 # All references are in the initial commit
django-crispy-forms==1.7.2 # ?

django-debug-toolbar==1.11

django-extensions==2.1.6
django-filter==2.1.0 # Used. All references very old
# django-geojson==2.12.0
django-import-export==1.2.0 # Is it really used?

# django-leaflet==0.24.0
# django-localflavor==2.1
# django-map-widgets==0.2.2

django-mathfilters==0.4.0 # Only used in templates/workflow/projectdashboard_list.html
# django-multiupload==0.5.2
# django-registration==3.1.2
# django-report-utils==0.3.15

django-rest-swagger==2.2.0

django-select2==7.2.2
django-simple-history==2.7.2
django-tables2==2.0.6
django-uuidfield==0.5.0
django-wysiwyg==0.8.0
djangorestframework==3.11.2

flake8==3.7.9

pendulum==2.0.5
Pillow==8.2.0
psycopg2-binary==2.8.4

pylint==2.5.2


pytest==5.4.1

pytz==2019.1
requests==2.21.0
simplejson==3.16.0
# six==1.12.0
social-auth-app-django==3.1.0

WeasyPrint==47
whitenoise==5.0.1

