dicttoxml
Django==2.2
django-crispy-forms
django-extensions
django-geojson
django-import-export
django-leaflet
django-localflavor
django-mathfilters
django-multiupload
django-registration
django-report-utils
django-admin-report
django-rest-swagger
django-tables2
djangorestframework
django-filter
httplib2
jdcal
macholib
openpyxl
Pillow
python-dateutil
requests
django-ckeditor
django-wysiwyg
mysqlclient
django-uuidfield
simplejson
python-logstash
django-simple-history
requests-oauthlib
pytz
social-auth-app-django
PyYAML
reportlab
WeasyPrint
python3-ldap
django-debug-toolbar
