{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Update' %}{% endblock %}
{% block content %}

<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% trans 'Change Password' %}</h2>
        <div class="panel panel-default">
                <div class="panel-heading">
                  <p>{% trans 'Change your password' %}</p>
                </div>
                <div class="panel-body">
                  <div>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-errors">
                            <p>{{ form.errors }}</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="old_password">{% trans 'Old Password' %}*</label>
                        <input
                          type="password"
                          id="id_old_password"
                          name="old_password"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                            <label class="control-label" for="new_password1">{% trans 'New Password' %}*</label>
                            <input
                                type="password"
                                id="id_new_password1"
                                name="new_password1"
                                class="form-control"
                                aria-describedby="passwordHelpBlock"
                            />
                            <span id="passwordHelpBlock" class="help-block">
                                {% trans 'Your password must be at least 6 characters' %}
                            </span>
                      </div>
                      <div class="form-group">
                            <label class="control-label" for="new_password2">{% trans 'Confirm New Password' %}*</label>
                            <input
                                type="password"
                                id="id_new_password2"
                                name="new_password2"
                                class="form-control"
                            />
                      </div>
        
                      <div class="form-group text-right">
                          <a 
                            href="{% url 'profile' %}"
                            type="reset" 
                            role="button" 
                            class="btn btn-sm btn-close">
                            {% trans 'Cancel' %}
                          </a>
                          <button
                            type="submit"
                            class="btn btn-sm btn-success"
                          >
                            {% trans 'Save Changes' %}
                          </button>
                      </div>
                    </form>
                  </div>
                </div>
        </div>
    </div>
</div>
<!-- <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save changes</button>
      </form> -->
{% endblock content %}