{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="login">
      {% if non_ldap %}
        <div class="social-buttons">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-go"><i class="fa fa-google"></i> Google</a>
        </div>
        or
        <a href="{% url 'register' %}">Register a new Tola Account</a><br/>
      {% endif %}
  </form>
{% endblock %}