{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}


<div class='row container-fluid'>
  <div class='col-sm-4 col-sm-offset-4'>
  <h1>Login</h1>
  <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class='btn btn-block btn-primary' value="login">

      <!--{% if non_ldap %}
        <div class="social-btns">
             <a type="button" href="{% url 'social:begin' 'google-oauth2' %}" class="btn-floating btn-lg btn-email"><i class="fa fa-google"></i> Google</a>
        </div>
        or
        <a href="{% url 'register' %}">Register a new Account</a><br/>
      {% endif %}-->
  

  </form>
  </div>

</div>
{% endblock %}

