{% extends "base.html" %}
{% load i18n %}
<!-- {% load crispy_forms_tags %}  -->
{% block content %}
<div class="container auth-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>{% trans 'Login' %}</h1>
      <div
        class="btn-group btn-group-justified auth-nav"
        role="group"
        aria-label="..."
      >
        <div class="btn-group" role="group">
          <a
            type="button"
            class="btn btn-sm btn-login"
            href="{% url 'login' %}"
          >
            <strong>{% trans 'Login' %}</strong></a
          >
        </div>
        <div class="btn-group" role="group">
          <a
            type="button"
            class="btn btn-sm btn-default"
            href="/accounts/register/user/none/"
          >
            <strong>{% trans 'Register' %}</strong></a
          >
        </div>
      </div>
      <div class="panel panel-default auth-main">
          <div class="panel-heading">
          <strong>{% trans 'Fill in your login details to start your session' %}</strong>
        </div>
        <div class="panel-body">
          <div class="auth-form">
            <form action="/accounts/login/" method="POST">
              {% csrf_token %}
              <!-- {{ form | crispy }} -->
              <div class="form-group">
                <label class="control-label" for="first_name">{% trans 'Username' %}</label>
                <input
                  type="text"
                  id="login_username"
                  name="username"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label class="control-label" for="first_name">{% trans 'Password' %}</label>
                <input
                  type="password"
                  id="login_password"
                  name="password"
                  class="form-control"
                />
              </div>

              <div class="form-group text-right">
                  <button type="reset" class="btn btn-md btn-close">
                    </i> {% trans 'Clear' %}
                  </button>
                  <button
                    type="submit"
                    id="login_submit_btn"
                    class="btn btn-md btn-primary"
                  >
                    {% trans 'Sign in' %}
                  </button>

                  <!-- <div class="btn-group" role="group">
                    <a
                      type="button"
                      class="btn btn-md btn-primary"
                      href="{% url 'password_reset' %}"
                    >
                      <strong>Password reset</strong></a
                    >
                  </div> -->
              </div>
            </form>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">{% trans 'Login with Google' %}</a>
            <div class="col-md-12 text-center">
              <a class="forgot-password" href="/accounts/user/password_reset/">
                {% trans 'Forgot password?' %}
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
{% endblock %}
