{% extends 'base.html' %} {% block content %}
{% load i18n %}
<div class="container auth-container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>{% trans 'Create an Organization' %}</h1>
			<div class="panel panel-default auth-main">
				<div class="panel-heading">
					<strong>{% trans 'Fill in organization details' %}</strong>
					<span>{% trans '(mandatory fields are marked with *)' %}</span>
				</div>
				<div class="panel-body">
					<div class="auth-form">
						<form action="/accounts/register/organization" method="POST">
							{% csrf_token %}
							<div class="row">
								<div class="form-group" id="div_org_name">
									<label class="control-label" for="name">{% trans 'Name' %}*</label>
									<input
										type="text"
										id="org_name"
										name="name"
										class="form-control"
									/>
								</div>
							</div>
							<div class="row">
								<div class="">
									<label for="description">{% trans 'Description' %}</label>
									<textarea
										name="description"
										id="description"
										rows="3"
										class="form-control"
									></textarea>
								</div>
							</div>
							<div class="row">
								<div id="div_org_url">
									<label class="control-label" for="organization_url">{% trans 'URL' %}</label>
									<input
										type="text"
										id="org_url"
										name="organization_url"
										class="form-control"
									/>
								</div>
							</div>
							<div class="row">
								<div class="" id="div_location">
									<label class="control-label" for="location">{% trans 'Location' %}</label>
									<input
										type="text"
										id="location"
										name="location"
										class="form-control"
									/>
								</div>
							</div>
							<div class="row">
								<div class="">
									<label for="activity_url">{% trans 'Activity URL' %}</label>
									<input
                                        type="text"
										id="activity_url"
										name="activity_url"
										class="form-control"
										readonly
									/>
								</div>
							</div>
							<div class="row">
                                <div class="text-right">
									{% if user.activity_user.organization %}
                                    <button  id="reset-org-create-form" type="reset" class="btn btn-md btn-close">
                                        {% trans 'Cancel' %}
									</button>
									{% endif %}
                                    <button id="orgFormSubmitBtn"  type="submit" class="btn btn-success" disabled>
                                        {% trans 'Create' %}
                                    </button>
                                </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
<script>
	$('#reset-org-create-form').click(() => {
		document.location.href = '/'
	})
</script>

{% endblock %}
{% block extra_js_in_body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/auth/org_register.js"></script>
{% endblock extra_js_in_body %}