{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password Reset' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% trans 'Reset Password' %}</h2>
        <div class="panel panel-default">
                <div class="panel-heading">
                  <p>{% trans 'Fill in the email address tied to your account and submit to reset your password' %}</p>
                </div>
                <div class="panel-body">
                  <div>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label" for="first_name">{% trans 'Email Address' %}</label>
                        <input
                          type="email"
                          id="id_email"
                          name="email"
                          class="form-control"
                        />
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </div>
        
                      <div class="form-group text-right">
                          <a 
                            href="{% url 'login' %}"
                            type="reset" 
                            role="button" 
                            class="btn btn-sm btn-close">
                            {% trans 'Cancel' %}
                          </a>
                          <button
                            type="submit"
                            class="btn btn-sm btn-primary"
                          >
                            </i> {% trans 'Submit' %}
                          </button>
                      </div>
                    </form>
                  </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}