{% extends 'base.html' %} {% block content %}
{% load i18n %}
<div class="container">
    <br><br><br>
    <div class="alert alert-success" role="alert">
        <p><strong>{% trans 'Success' %}!</strong></p>
        <p>
            {% trans 'An email has been sent with instructions to reset your password.' %}
        </p>
        <p>
            {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
        </p>
    </div>
</div>
{% endblock %}
