{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Enter new password' %}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h3>{% trans 'Set New Password' %}</h2>
        <div class="panel panel-default">
                <div class="panel-heading">
                  <p>{% trans 'Fill in a new password and confirm to reset your current password' %}</p>
                </div>
                <div class="panel-body">
                  <div>
                    <form method="POST">
                      {% csrf_token %}
                      <div class="form-group">
                        <label class="control-label" for="first_name">{% trans 'New Password' %}</label>
                        <input
                          type="password"
                          id="id_new_password1"
                          name="new_password1"
                          class="form-control"
                        />
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </div>
                      <div class="form-group">
                            <label class="control-label" for="first_name">{% trans 'New password confirmation' %}</label>
                            <input
                              type="password"
                              id="id_new_password2"
                              name="new_password2"
                              class="form-control"
                            />
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                          </div>
        
                      <div class="form-group text-right">
                        <a 
                            href="{% url 'login' %}"
                            type="reset" 
                            role="button" 
                            class="btn btn-sm btn-close">
                            {% trans 'Cancel' %}
                        </a>
                          <button
                            type="submit"
                            class="btn btn-sm btn-primary"
                          >
                            {% trans 'Change my password' %}
                          </button>
                      </div>
                    </form>
                  </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}