{% extends "base.html" %} {% block content %}
{% load i18n %}

<script>
  $(document).ready(() => {
    $('#id_title').select2({
      theme: 'bootstrap',
    });
    $('#id_user').select2({
      theme: 'bootstrap',

    });
    $('#id_user').prop('readonly', true)

    $('#id_organization').select2({
      theme: 'bootstrap',
    });
    $('#id_organizations').select2({
      theme: 'bootstrap',
      multiple: true,
    });
  });
</script>

<div class="container">
  {% if form.errors %}
  <div class="help-block">
    {% for field in form %} {% for error in field.errors %}
    <strong><i>{{ field.label }}</i> - {{ error | escape }}</strong>&nbsp; {% endfor %} {% endfor %}
  </div>
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <strong>{{ error | escape }}</strong>
  </div>
  {% endfor %} {% endif %} {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/">{% trans 'My Dashboard' %}</a></li>
    <li class="active">{% trans 'Profile' %}</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {% trans 'My Profile' %}
      </h4>
    </div>
    <div class="sub-navigation-actions">
      <!-- sample action buttons -->
      <div class="btn-group" role="group" aria-label="">
        <a href="{% url 'change_password' %}" class="btn btn-primary btn-sm">
          {% trans 'Change Password' %}
        </a>
      </div>
    </div>
  </div>
  <div class="admin-content">
    {% load crispy_forms_tags %}
    <form method="POST" action="">
      {% crispy user_form user_form.helper %}
      {% crispy form form.helper %}
      <div>
        <button type="Reset" class="btn btn-md btn-close" id="id-reset-btn">{% trans 'Cancel' %}</button>
        <button type="Submit" class="btn btn-md btn-success">{% trans 'Save' %}</button>
      </div>
    </form>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('#id-reset-btn').click(() => {
      document.location.href = '/';
    });
  })
</script>


{% endblock content %}