{% extends "base.html" %} {% block title %} Create an account {% endblock %} {% block content %}
<div class="container auth-container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Create an account</h1>
			<div class="btn-group btn-group-justified auth-nav" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<a type="button" class="btn hikaya-btn-default" href="{% url 'login' %}"><strong>Login</strong></a>
				</div>
				<div class="btn-group" role="group">
					<a type="button" class="btn hikaya-btn-primary" href="{% url 'register' %}"
						><strong>Register</strong></a
					>
				</div>
			</div>
			<div class="panel panel-default auth-main">
				<div class="panel-heading">
					<strong>Fill in your details</strong>
				</div>
				<div class="panel-body">
					<div class="auth-form">
						<form action="">
              {% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<label for="first_name">First Name</label>
									<input type="text" class="form-control" />
								</div>
								<div class="col-md-6">
									<label for="last_name">Last Name</label>
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="username">Username</label>
									<input type="text" class="form-control" />
								</div>
								<div class="col-md-6">
									<label for="email_address">Email Address</label>
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="password">Password</label>
									<input type="text" class="form-control" />
								</div>
								<div class="col-md-6">
									<label for="confirm_password">Confirm Password</label>
									<input type="text" class="form-control" />
								</div>
							</div>
							<div class="row auth-form-action text-right">
								<button type="reset" class="btn btn-md hikaya-btn-cancel">
									<i class="fa fa-undo"></i> Cancel
								</button>
								<button type="submit" class="btn btn-md hikaya-btn-primary">
									<i class="fa fa-save"></i> Submit
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>

	<!-- <form action="" method="post">
		{% csrf_token %} {% load crispy_forms_tags %}
		{{ userform | crispy }}
		{{ activityform | crispy }}
		<div id="iframe">
			<h6>Notice/Disclaimer:</h6>

			<p>
				{{ privacy.privacy_disclaimer }}
			</p>
		</div>
		<br />
		<div>
			<input type="submit" value="Create the account" />
		</div>
	</form> -->
</div>
{% endblock %}
