<form method="POST">
    <div class="modal-body">
        {% csrf_token %}
        <div :class="{ 
            'form-group': true, 
            'has-error': errors.has('name')
        }">
            <label for="name">[[ level_1_label ]] name*</label
            >
            <input
                type="text"
                name="name"
                :class="{ 
                    'form-control': true, 
                    'is-danger': errors.has('name') 
                }"   
                v-model="name" 
                v-validate="'required'"
                :placeholder="level_1_label"
            />
            <span v-show="errors.has('name')" class="help is-danger">[[ errors.first('name') ]]</span>
        </div>
        <div
            :class="{
                'form-group': true
            }"
        >
            <label for="sectors">Sectors</label>
            <select :bootstrap-styling="true"
                id="sectors"
                :class="{
                        'form-control': true,
                    }"
                v-model="sectors"
                placeholder="Sector"
                multiple="true"
                >
                <option
                    v-for="sector in sectorsList"
                    :value=sector.id>[[ sector.sector ]]</option>
            </select>
            <p class="help-text">Hold down <span style="font-weight: bold">Control</span> or <span style="font-weight: bold">Command</span> on a Mac, to select more than one</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group" id="div_start_date">
                    <label for="startDate">Start Date</label>
                    <input
                        type="date"
                        id="startDate"
                        name="startDate"
                        :class="{ 
                            'form-control': true, 
                            }"
                        style="width:200px;"
                        v-model="start_date" 
                        placeholder="Start Date"
                        v-on:change="setMinDate()"
                        :max="maxDate"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" id="div_end_date">
                    <label for="endDate">End Date</label>
                    <input
                        type="date"
                        id="endDate"
                        name="endDate"
                        :class="{ 
                            'form-control': true, 
                            }"
                        style="width:200px;"
                        v-model="end_date" 
                        placeholder="End Date"
                        v-on:change="setMaxDate()"
                        :min="minDate"/>
                </div>
            </div>
        </div>
    </div>
</form>