<script>
	$(document).ready(() => {
		$('#id_type').select2({
			placeholder: 'Select Type...',
			theme: 'bootstrap',
			dropdownParent: $('#addLocationModal'),
		});
		// show quick add modal if quick-modal to true
		const url = new URL(window.location.href);
		if (url.searchParams.get('quick-modal')) {
			$('#addLocationModal').modal('show');
		}
	});

	var saveLocation = buttonId => {
		$(`#${buttonId}`).click(e => {
			e.preventDefault();
			const formValue = $('#addLocationForm').serializeArray();
			const obj = {};
			formValue.forEach(item => {
				obj[item.name] = item.value;
			});

			$.ajax({
				url: "{% url 'siteprofile_add' %}",
				type: 'POST',
				data: obj,
				success: function(resp, status) {
                    if (resp.status === 201) {
                        // notify success
                        toastr.success('Location was added sucessfully');
                        //close modal
                        $('#addLocationModal').modal('hide');
                        // reset form
                        $('#addLocationForm').trigger('reset');
    
                        const urlWithoutQueryString = window.location.href.split('?')[0];
                        if (buttonId === 'saveLocationAndNew') {
                            window.location.replace(`${urlWithoutQueryString}?quick-modal=true`);
                        } else {
                            setTimeout(() => {
                                window.location.replace(urlWithoutQueryString);
                            }, 2000);
                        }

                    } else {
                        toastr.error('There was a problem adding Location')
                    }
				},
				error: function(xhr, status, error) {
					toastr.error(error, 'Failed');
				},
			});
		});
	};

	$(() => {
		saveLocation('saveLocationAndNew');
		saveLocation('saveLocation');
	});
</script>

<form id="addLocationForm">
	<!-- Modal -->
	<div
		class="modal fade"
		id="addLocationModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="addLocationModalLabel"
	>
		<div class="modal-dialog" role="document">
				<style>
					.mw-wrap{
						width: 100% !important;
						min-width: 400px !important; 
					}
					.mw-coordinates-overlay {
						width: 200px !important;
					}
				</style>
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="addLocationModalLabel">Add Location</h4>
				</div>
				<div class="modal-body">					
					{% csrf_token %}
					{% load crispy_forms_tags %}
					{% crispy form %}

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-close" data-dismiss="modal">
						Close
					</button>
					<button type="button" class="btn btn-outline-success" id="saveLocationAndNew">
						Save &amp; New
					</button>

					<button type="button" class="btn btn-success" id="saveLocation">
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
