<form method="POST">
    <div class="modal-body">
        {% csrf_token %}
        <div :class="{ 
            'form-group': true, 
            'has-error': errors.has('name')
        }">
            <label for="name">[[ level_2_label ]] name*</label
            >
            <input
                type="text"
                name="name"
                :class="{ 
                    'form-control': true, 
                    'is-danger': errors.has('name') 
                }"   
                v-model="name" 
                v-validate="'required'"
                :placeholder="level_2_label"
            />
            <span v-show="errors.has('name')" class="help is-danger">[[ errors.first('name') ]]</span>
        </div>
        <div
            :class="{
                'form-group': true
            }"
        >
            <label for="program">[[ level_2_label ]]</label>
            <select
                id="program"
                :class="{
                        'form-control': true,
                    }"
                v-model="program"
                :placeholder="level_2_label"
                >
                <option
                    v-for="program in programsList"
                    :value=program.id>[[ program.name ]]</option>
            </select>
        </div>

    </div>
</form>