@import url('reset.css');

/* General Demo Style */
body{

}
a{
	color: #555;
	text-decoration: none;
}
a:hover{
	color: #000;
}
.clr{
	clear: both;
}
.wrapper_2{
	position: relative;
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 13px;
}
.wrapper_2 p{
	clear: both;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
}
.reference{
	padding-top: 40px;
}
h1{
	font-size: 34px;
	position:relative;
	color: #000;
	font-weight: 400;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	background-color: #ffffff"
    padding: 10px;
	z-index:1000;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 span{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	text-transform: none;
	font-size: 20px;
}
/* Header Style */
.header{
	font-family:"Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 3px 5px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.6);
}
.header a{
	line-height: 18px;
	padding: 0 4px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #000;
	color: #ddd;
}
.header a:hover{
	color: #fff;
}
.header a span{
	font-weight: bold;
}
.header span.right{
	float: right;
}
@media screen and (max-width: 860px) {
	.header a{
		display: block;
		text-align: center;
		font-size: 10px;
		text-shadow: none;
	}
	.header span.right{
		float: none;
	}
}