<div class="sidebar-tabs">
    <ul role="tablist">
        <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
        <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
        <li><a href="#focus" role="tab"><i class="fa fa-tasks"></i></a></li>
        <li><a href="#demographic" role="tab"><i class="fa fa-users"></i></a></li>
         <li><a href="#m_e" role="tab"><i class="fa fa-folder-open"></i></a></li>
    </ul>

    <ul role="tablist">
        <li><a href="#gallery" role="tab"><i class="fa fa-camera"></i></a></li>
        <li><a href="#stories" role="tab"><i class="fa fa-gift"></i></a></li>
        <li><a href="#i_surveys" role="tab"><i class="fa fa-list-alt"></i></a></li>
        <li><a href="#contacts" role="tab"><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>