<div id="level">
    <!-- Sub navigation -->
  <div class="sub-navigation">
      <div class="sub-navigation-header">
          <h4 class="page-title">Levels List</h4>
      </div>
      <div class="sub-navigation-actions"> 
            <div class="sub-nav-item">
                <div class="btn-group" role="group" aria-label="">
                    <a role="button" class="btn btn-sm btn-default disabled">
                    <i class="fa fa-list"></i> List
                    </a>
        
                    <a role="button" class="btn btn-sm btn-default" href="">
                    <i class="fa fa-sitemap"></i> Tree
                    </a>
                </div>
            </div>
          <div class="sub-nav-item">
            <div class="btn-group" role="group" aria-label="...">
                <a
                role="button"
                class="btn btn-sm btn-primary"
                id="show-modal" 
                @click=toggleModal()
                >
                <i class="fa fa-plus"></i> Level
                </a>
            </div>
            <!-- Level create modal -->
            <modal v-if="showModal" @close="showModal = false">
                <h4 slot="header">[[modalHeader]]</h4>
              <div slot="body">
                {% include 'admin/indicator_configs/forms/level_form.html' %}
              </div>
              <div slot="footer">
                {% include 'ui-components/quick_entry_modal_footer.html' %}
              </div>
            </modal>
            <!-- Level delete modal -->
            <modal v-if=showDeleteModal @close="showDeleteModal = false">
              <div slot="body">
                <p>Are you sure you want to delete <b>[[ itemToDelete.name ]]</b>?</p>
              </div>
              <div slot="footer">
                <div class="text-right">
                  <button type="submit" class="btn btn-close" @click="showDeleteModal = false">
                    Cancel
                  </button>
                  <button
                    class="btn btn-danger"
                    @click=deleteProfileType(itemToDelete.id)
                  >
                    Delete
                  </button>
                </div>
              </div>
              <h4 slot="header">[[modalHeader]]</h4>
            </modal>
          </div>
      </div>
  </div>

  <div class="p-10"  v-if="!levels.length">
    {% include 'admin/no_data.html' %}
  </div>
  
  <!-- Table -->
  <table class="table" id="levelsTable" v-if="levels.length">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Sort</th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr v-cloak v-for="level in levels" v-if="level.name">
          <td>
            <a @click="toggleModal(level)" data-toggle="tooltip" title="{{level.name}}">
              [[ level.name ]]
            </a>
          </td>
          <td>
             [[ level.description ]]
          </td>
          <td>
            <span v-if="level.sort">[[ level.sort ]]</span>
            <span v-if="!level.sort">--</span>
         </td>
          <td class="text-right">
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm disabled">Actions</button>
              <button
                type="button"
                class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a 
                  class="force-link"
                  @click=toggleModal(level)
                  >Edit</a></li>
                <li>
                  <a 
                    class="text-danger force-link"
                    @click=toggleDeleteModal(level)
                  >Delete</a>
                </li> 
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% include 'ui-components/vue_modal.html'%}
  
  {% block extra_js_in_body %}
  <script src="{{ STATIC_URL }}vue.js/indicators/level.js"></script>
  {% endblock extra_js_in_body %}
  
  