<form id="addProfileTypesForm" method="POST">
    <div class="modal-body">
      {% csrf_token %}
      <div :class="{
          'form-group': true, 
          'has-error': errors.has('frequency')
        }">
        <label for="frequency">Data collection frequency*</label
        >
        <input
          type="text"
          name="frequency"
          :class="{ 
              'form-control': true, 
              'is-danger': errors.has('frequency') 
            }"   
          v-model="frequency" 
          v-validate="'required'"
          placeholder="Enter frequency"
        />
        <span v-show="errors.has('frequency')" class="help is-danger">[[ errors.first('frequency') ]]</span>
      </div>
      <div :class="{
        'form-group': true
      }">
        <label for="description">Description</label>
        <textarea
            rows="3"
            name="description"
            :class="{ 
                'form-control': true, 
            }"   
            v-model="description" 
            placeholder="Description"
        ></textarea>
      </div>
    </div>
  </form>