<script>
  $(document).ready(() => {
    $('#program').select2({
      placeholder: 'Select {{ request.user.activity_user.organization.level_1_label }}...',
      theme: 'bootstrap',
      dropdownParent: $('#addProjectModal'),
    });


    // show the modal if project modal is set to true
    const url = new URL(window.location.href);
    if (url.searchParams.get('project-modal')) {
      $('#addProjectModal').modal('show');
    }
  });


  var saveProject = (buttonId) => {
    $(`#${buttonId}`).click(e => {
      e.preventDefault();

      const formValue = $('#addProjectForm').serializeArray();

      const obj = {};

      formValue.forEach(item => {
        obj[item.name] = item.value;
      });

      const data = { ...obj, program: $('#program').val() };
      $.ajax({
        url: '{% url "add-level2" %}',
        type: 'POST',
        data,
        success: function (resp, status) {
          // notify success
          toastr.success('Project was added successfully', `${resp}`);

          //close modal
          $('#addProjectModal').modal('hide');

          // reset form
          $('#addProjectForm').trigger('reset');
          $('#program')
            .select('val', '')
            .trigger('change');

          const urlWithoutQueryString = window.location.href.split('?')[0];
          if (buttonId === 'submitProjectAndNew') {
            window.location.replace(`${urlWithoutQueryString}?project-modal=true`);
          } else {
            setTimeout(() => {
              window.location.replace(urlWithoutQueryString);
            }, 2000);
          }
        },
        error: function (xhr, status, error) {
          toastr.error(error, 'Failed');
        },
      });
    });
  }

  $(function () {
    saveProject('submitProject');
    saveProject('submitProjectAndNew');
  });
</script>

<!-- Modal -->
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModalLabel">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addProjectModalLabel">
          Create {{ request.user.activity_user.organization.level_2_label }}
        </h4>
      </div>

      <form id="addProjectForm" action="" method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="project_name">{{request.user.activity_user.organization.level_2_label}} Name</label>
            <input type="text" name="project_name" required="" id="id_project_name"
              class="textinput textInput form-control" maxlength="255"
              placeholder="{{request.user.activity_user.organization.level_2_label}} Name" />
          </div>

          <div class="form-group">
            <label for="program">{{ request.user.activity_user.organization.level_1_label }}</label>
            <select class="form-control" id="program" name="program" required>
              <option value=""></option>
              {% for item in get_programs %} {% if item.name %}
              <option value="{{ item.id }} ">
                {{ item.name | truncatechars:50 }}
              </option>
              {% endif %}{% endfor %}
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-close" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-outline-success" id="submitProjectAndNew">
            Save &amp; New
          </button>

          <button type="button" class="btn btn-success" id="submitProject">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>