<script>
  $(document).ready(() => {
    $('#program').select2({
      placeholder: 'Select program...',
      theme: 'bootstrap',
    });
  });

  $(() => {
    $('#submitProject').click(e => {
      e.preventDefault();

      const formValue = $('#addProjectForm').serializeArray();

      const obj = {};

      formValue.forEach(item => {
        obj[item.name] = item.value;
      });

      const data = {...obj, program: $('#program').val()}

      $.ajax({
        url: '{% url "add-level2" %}',
        type: 'POST',
        data,
        success: function(resp, status) {
          // notify success
          toastr.success('Project was added sucessfully', `${resp}`);

          //close modal
          $('#addProjectModal').modal('hide');

          // reset form
          $('#addProjectForm').trigger('reset');
          $('#program')
            .select('val', '')
            .trigger('change');

          setTimeout(() => {
            window.location.reload();
          }, 2000);
        },
        error: function(xhr, status, error) {
          toastr.error(error, 'Failed');
        },
      });
    });
  });
</script>

<!-- Modal -->
<div
  class="modal fade"
  id="addProjectModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addProjectModalLabel"
>
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addProjectModalLabel">
          Create WorkflowLevel2
        </h4>
      </div>

      <form id="addProjectForm" action="" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          <div class="form-group">
            <label for="program">Program</label>
            <select
              class="form-control"
              id="program"
              name="program"
              required
            >
              <option value=""></option>

              {% for item in get_programs %}
              <option value="{{ item.id }} ">{{ item.name | truncatechars:50 }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="project_name">Project Name</label>
            <input
              type="text"
              name="project_name"
              required=""
              id="id_project_name"
              class="textinput textInput form-control"
              maxlength="255"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary" id="submitProject">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
