{% extends "base.html" %} {% block content %} 
{% include './modals/contact_quick_entry_form.html' %}

<script>
  $(document).ready(function() {
    $('#ContactTable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">Contacts</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Contact List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div>
        <button
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#addContactModal"
        >
          <i class="fa fa-plus"></i> Contact
        </button>
        &nbsp;
      </div>
    </div>
  </div>

  <!--Table-->
  <table class="table" id="ContactTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for contact in get_contacts %}
      <tr>
        <td>
          <a href="/workflow/contact_update/{{contact.id}}/" 
          data-toggle="tooltip" title="{{ contact.name }}">{{ contact.name | truncatechars:50 }}</a>
        </td>
        <td>{{ contact.city }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.address }}</td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">
              Actions
            </button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/workflow/contact_update/{{contact.id}}/">Edit</a></li>
              <li>
                <a
                  class="text-danger"
                  href="#deleteItemModal{{ contact.id }}"
                  data-toggle="modal"
                  onclick="setItemToDelete({{ contact.id }})"
                  data-target="#deleteItemModal{{ contact.id }}"
                >
                  Delete
                </a>
              </li>
            </ul>
          </div>
        </td>
        {% include 'workflow/contact_confirm_delete.html' %}
      </tr>
      {% endfor %}
    </tbody>

    {% endblock content %}
  </table>
</div>
