{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">Program Index</a></li>
  <li><a href="/workflow/stakeholder_list/0/0/">Stakeholder List</a></li>
  <li><a href="/workflow/contact_list/{{stakeholder_id}}/">Contact List</a></li>
  <li class="active">Contact Form</li>
</ol>
</div>
{% endblock %}
{% block page_title %}Contact Form{% endblock %}


{% block content %}
    {% include "form_guidance.html" %}
    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
	{% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

{% endblock content %}
