{% extends "base.html" %} {% block content %}
{% include './contact_form.html' %}

<script>
  $(document).ready(function() {
    $('#ContactTable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home Dashboard</a></li>
    <li class="active">Contacts</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Contacts</h4>
    </div>
    <div class="sub-navigation-actions">
        <div>
          <button class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addContactModal"
            > <i class="fa fa-plus"></i> New Contact </button>
          &nbsp;
        </div>
      </div>
    </div>

<!--Table-->
<table
    class="table"
    id="ContactTable"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for contact in get_contacts %}
      <tr>
        <td>{{contact.name}}</td>
        <td>{{contact.city}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{contact.address}}</td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>

</div>
{% endblock content %}

{% include '' %}
