{% extends "base.html" %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">{{ user.activity_user.organization.level_1_label }} Index</a></li>
  <li><a href="/workflow/documentation_list/{{ getProgram.id }}">Documentations</a></li>
  <li class="active">Document</li>
</ol>
</div>
{% block page_title %}Document Form{% endblock %}

{% block content %}
        <script>
            var developerKey = 'AIzaSyCuDmq8DjGziPnfAl4bW7fEZtf25teO3x4';
            // var developerKey = 'AIzaSyCT-IRNfrcEhYjcrf7CIHAF54eTldOaYlY';

            // The Client ID obtained from the Google Developers Console. Replace with your own Client ID.
            var clientId = '859950034311-r6gsqnipugbtv6a2j4h4eo2tt2a1js2t.apps.googleusercontent.com';
            // var clientId = "445847194486-gl2v6ud6ll65vf06vbjaslqqgejad61k.apps.googleusercontent.com"

            // Scope to use to access user's drive.
            var scope = ['https://www.googleapis.com/auth/drive.readonly'];
            var pickerApiLoaded = false;
            var oauthToken;
            var actionType = null;

            // Use the API Loader script to load google.picker and gapi.auth.
            function onApiLoad() {
                gapi.load('auth', {'callback': onAuthApiLoad});
                gapi.load('picker', {'callback': onPickerApiLoad});
            }

            function onAuthApiLoad() {
                window.gapi.auth.authorize(
                {
                'client_id': clientId,
                'scope': scope,
                'immediate': false
                },
                handleAuthResult);
            }

            function onPickerApiLoad() {
                pickerApiLoaded = true;
                createPicker();
            }

            function handleAuthResult(authResult) {
                if (authResult && !authResult.error) {
                oauthToken = authResult.access_token;
                createPicker();
                }
            }

            // Create and render a Picker object for picking user Photos.
            function createPicker() {
                if (pickerApiLoaded && oauthToken) {
                    var view = new google.picker.DocsView(google.picker.ViewId.DOCS);
                    var teamView = new google.picker.DocsView(google.picker.ViewId.DOCS);
                    view.setIncludeFolders(true);
                    // view.setOwnedByMe(true);
                    view.setSelectFolderEnabled(true);
                    view.setMode("DocsViewMode.LIST");
                    teamView.setEnableTeamDrives(true);
                    teamView.setIncludeFolders(true);
                    teamView.setSelectFolderEnabled(true);
                    teamView.setMode("DocsViewMode.LIST");
                    var picker = new google.picker.PickerBuilder()
                        // .enableFeature(google.picker.Feature.NAV_HIDDEN)
                        .enableFeature(google.picker.Feature.SUPPORT_TEAM_DRIVES)
                        .addView(view)
                        .addView(teamView)
                        .setOAuthToken(oauthToken)
                        // .setDeveloperKey(developerKey)
                        .setCallback(pickerCallback)
                        .setOrigin(window.location.protocol + '//' + window.location.host)
                        .build();
                    picker.setVisible(true);
                }
            }

            // A simple callback implementation.
            function pickerCallback(data) {
                //console.log(JSON.stringify(data));
                if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
                    var doc = data[google.picker.Response.DOCUMENTS][0];
                    var url = doc[google.picker.Document.URL];
                    var id = doc[google.picker.Document.ID];

                    console.log("URL: " + url);
                    console.log("ID: " + id);
                    console.log("name:" + doc['name']);

                    document.getElementById('id_url').value = url;
                    document.getElementById('id_name').value = doc['name'];
                }
            }

        </script>
        <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>


    {% include "form_guidance.html" %}
    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
	{% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

{% endblock content %}
