{% extends "base.html" %} 
{% block content %}
<script>
  $(document).ready(() => {
    $('#documentationtable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">Documents</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Document List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ user.activity_user.organization.level_1_label }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">--All--</a></li>
              {% for program in get_programs %}
              <li>
                <a href="#">{{ program.gaitid }} - {{ program.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <button
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addDocumentModal"
          >
            <i class="fa fa-plus"></i> Document
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table" id="documentationtable">
    <thead>
      <tr>
        <th>Document Name</th>
        <th>Program</th>
        <th>URL</th>
        <th class="text-right"></th>
      </tr>
    </thead>
    <tbody>
      {% for document in get_documentation %}
      <tr>
        <td>
          <a href="{% url 'documentation_update' pk=document.id %}" 
            data-toggle="tooltip" 
            title="{{ document.name }}">{{ document.name | truncatechars:50 }}</a>
        </td>
        <td>{{ document.program.name }}</td>
        <td>
          <a href="{{ document.url }}" target="_blank" 
            data-toggle="tooltip" 
            title="{{ document.url }}">
            {{ document.url | truncatechars:50 }}
          </a>
        </td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">
              Actions
            </button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{% url 'documentation_update' pk=document.id %}">Edit</a></li>
              <li><a class="text-danger" href="#">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      
      {% endfor %}
    </tbody>
  </table>

<!-- add document modal -->
{% include 'workflow/modals/add_document_modal.html' %} 
{% endblock content %}
