

<script type="text/javascript">
    var frm = $('#documentForm');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#alert-error").html("Success! ");
            },
            error: function(data) {
                $("#alert-error").html("Something went wrong!");
            }
        });
        return false;
    });
</script>

    <div class="modal-header">

    <div class="alert alert-error" id="alert-error">
        <strong>{{ error|escape }}</strong>
    </div>

    <h4 class="modal-title">{% block page_title %}Documentation List for {{ program }} {% endblock %}</h4>
    </div>
    <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            Programs
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a data-toggle="modal" data-target="#myModal" role="menuitem" tabindex="-1" href="/workflow/documentation_agreement_list/0/{{ project }}/">-- All --</a></li>
            {% for program in getPrograms %}
                <li role="presentation"><a data-toggle="modal" data-target="#myModal" role="menuitem" tabindex="-1" href="/workflow/documentation_agreement_list/{{ program.id }}/{{ project }}/">{{ program.gaitid}} - {{ program.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <br/>
        <!-- Table -->
        <table class="table">
            <tr>
                <th>Document Name</th>
                <th>Program</th>
                <th>&nbsp;</th>
            </tr>
            {% for item in getDocumentation %}
            <tr>
                <td>{{ item.name|truncatechars:90 }}</td>
                <td>{{ item.program|truncatechars:90 }}</td>
                <td><a class="documents" data-toggle="modal" data-target="#myModal" href="/workflow/documentation_update_project/{{ item.id }}/{{ project }}/" class="btn btn-xs btn-info">Add to Project</a></td>
            </tr>
            {% empty %}
                <li class="list-group-item">No Documents.</li>
            {% endfor %}
        </table>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" onclick="parent.location.reload();">Close</button>
    </div>

