<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
   <li role="presentation"><a role="menuitem" tabindex="-1" href=" ">-- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="program_filter({{program.id}})">{{ program.name }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="btn-group" role="group">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Project Status
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
       <li role="presentation"><a role="menuitem" tabindex="-1" href="/workflow/dashboard/0">-- All --</a></li>
    {% for status in APPROVALS %}
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="status_filter('{{status.0}}')">{{ status.1 }}</a></li>
    {% endfor %}
  </ul>
</div>