<div class="btn-group" role="group" aria-label="">
  <!-- filter by wfl1  -->
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-sm btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ user.activity_user.organization.level_1_label }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a role="menuitem" tabindex="-1" href="/workflow/level2/list/0/none/">-- All --</a></li>

      {% for program in get_programs %}
      <li>
        <a
          role="menuitem"
          tabindex="-1"
          onclick="program_filter({{ program.id}})"
        >
          {{ program.name }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- filter by project status -->
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-sm btn-default dropdown-toggle"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      {{ user.activity_user.organization.level_2_label }} Status
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
	  <li> <a role="menuitem" tabindex="-1" href="/workflow/level2/list/0/none/">-- All --</a></li>
	
		{% for status in APPROVALS %}
		<li>
			<a
			role="menuitem"
			tabindex="-1"
			onclick="status_filter('{{status.0}}')"
			>{{ status.1 }}</a
			>
		</li>
		{% endfor %}
    </ul>
  </div>
</div>
