{% extends "base.html" %} {% load mathfilters %} {% block content %}
{% include './add_project_modal.html' %}

<script>
  $(document).ready(function() {
    $('#programsTable').DataTable();
  });
</script>

<div class="container">
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        Program Index
      </h4>
    </div>

    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "workflow/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <!-- sample action buttons -->
        <div class="btn-group" role="group" aria-label="">
            <button
            class="btn btn-info btn-sm"
            data-toggle="modal"
            data-target="#addProjectModal"
          >
            <i class="fa fa-plus"></i> Create New
            {{ request.user.activity_user.organization.level_2_label }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <table
  class="table"
  id="programsTable"
>
  <thead>
    <tr>
      <th>Program</th>
      <th>Project</th>
      <th>Actions</th>
    </tr>
  </thead>

  <br />
  <div>
    {% if get_dashboard %} {% ifnotequal status 'none' %}
    <p>Filtered by (Status): {{ status }}</p>
    {% endifnotequal %} {% if filtered_program %}
    <p>Filtered by (Program): {{ filtered_program }}</p>
    {% endif %} {% for program in get_dashboard %}
    {% if program.agreement.all %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          {{ program.name | truncatechars:80 }}

          <span class="float: right">
            <a
              href="/customdashboard/{{ program.id }}/"
              class="btn btn-xs btn-info"
              style="float:right;"
              >Dashboard Visualization</a
            >
          </span>
        </h4>
      </div>
      <!-- Table -->

      <table class="table table-condensed table-striped"
      id="programsTable">
      <thead>
        <tr>
          <th>Date Created</th>
          <th>{{ user.activity_user.organization.level_2_label }} Name</th>
          <th>{{ user.activity_user.organization.level_2_label }} Code</th>
          <th>Office Code</th>
          <th>Form Version</th>
          <th>Approval Status</th>
          <th>&nbsp;</th>
        </tr>
        </thead>

        {% if status == "in_progress" %}
        {% for item in program.agreement.get_inprogress %}
        {% include "workflow/program_projects_table.html" %}
        {% empty %}
        <li class="list-group-item">No in progress projects.</li>
        {% endfor %} {% elif status == "approved" %}
        {% for item in program.agreement.get_approved %}
        {% include "workflow/program_projects_table.html" %} {% empty %}
        <li class="list-group-item">No approved projects yet.</li>
        {% endfor %} {% elif status == "awaiting_approval" %}
        {% for item in program.agreement.get_awaiting_approval %}

        {% include "workflow/program_projects_table.html" %}
        {% empty %}
        <li class="list-group-item">No projects awaiting approval.</li>
        {% endfor %}
        {% elif status == "rejected" %}
        {% for item in program.agreement.get_rejected %}

        {% include "workflow/program_projects_table.html" %} {% empty %}
        <li class="list-group-item">No rejected projects.</li>
        {% endfor %} {% elif status == "new" %}
        {% for item in program.agreement.get_new %}
        {% include "workflow/program_projects_table.html" %} {% empty %}
        <li class="list-group-item">No New projects.</li>
        {% endfor %}
        {% else %}
        {% for item in program.agreement.all %}
        {% include "workflow/program_projects_table.html" %} {% empty %}
        <li class="list-group-item">No projects yet.</li>
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <p>No {{ user.activity_user.organization.level_1_label }}</p>
    {% endif %}
  </div>
</table>

  <script type="text/javascript">
    function program_filter(program_id) {
      window.location.href = '/workflow/dashboard/' + program_id + '/none';
    }

    function status_filter(status) {
      window.location.href = '/workflow/dashboard/0/' + status;
    }
  </script>
</div>
{% endblock content %}
