{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="/">My Dashboard</a></li>
		<li class="active">
			<a href="/workflow/level1"> 
				{{ request.user.activity_user.organization.level_1_label }}
			</a>
		</li>
		<li class="active">Details</li>
	</ul>
	{% endblock %}

	<!-- Sub navigation -->
	<div class="sub-navigation">
		<div class="sub-navigation-header">
			<h4 class="page-title">
				{{ current_program.name }}
			</h4>
		</div>
	</div>
	<div class="admin-content">
		{% block editform %} {% crispy form %} {% endblock editform %}
	</div>
</div>
{% endblock content %}
