{% extends "base.html" %} {% block content %}
<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/">My Dashboard</a></li>
    <li><a href="/workflow/level1">Programs</a></li>
    <li class="active">{{ program.name }}</li>
  </ul>
  {% endblock %}

  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ program.name }}
      </h4>
    </div>
  </div>

  <div class="bg-white p-10 pt-0">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Details</a></li>
      <li role="presentation"><a href="#">Funding</a></li>
      <li role="presentation"><a href="#">Access</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="programDetails">
        {% include '../workflow/form-sections/program_details.html' %}
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">...</div>
      <div role="tabpanel" class="tab-pane fade" id="messages">...</div>
      <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
    </div>
  </div>
</div>

{% endblock %}
