
<tr>
    <td>
      <a href="/workflow/projectagreement_update/{{ project.id }}">{{ project.project_name }}</a>
    </td>
    <td>{{ project.cod_num }}</td>
    <td>{{ project.create_date|date:"d-m-Y" }}</td>
    <td>{% if item.short %} Short {% else %} Long {% endif %}</td>
    <td>
        {% if item.projectcomplete %} 
          Tracking 
          {% if item.projectcomplete.approval  %}
            {{ item.projectcomplete.approval|capfirst }}
          {% else %}
            Open
          {% endif %}
        {% else %} 
          Initiation 
          {% if item.approval  %}
            {{ item.approval|capfirst }}
          {% else %} 
            Open 
          {% endif %} 
        {% endif %}</td>
    <td class="text-right">
        <div class="btn-group">
          <a role="button" href="" class="btn btn-default btn-sm disabled">More</a>
          <button
            type="button"
            class="btn btn-default btn-sm dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Related</li>
              {% if project.approval == "approved" %}
                <li class="disabled"><a><span class="glyphicon glyphicon-lock"></span> Project Initiation</a></li>
              {% else %}
                <li><a href="/workflow/projectagreement_update/{{ project.id }}">Project Initiation</a></li>
              {% endif%}
              {% if item.projectcomplete %}
                <li><a href="/workflow/projectcomplete_update/{{ project.projectcomplete.id }}">
                  Project Tracking
                </a></li>
              {% else %}
                <li class="disabled"><a><span class="glyphicon glyphicon-lock"></span> Project Tracking</a></li>
              {% endif%}
            <li><a href="">Sites</a></li>
            <li><a href="">Stakeholders</a></li>
            <li><a href="">Checklist</a></li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="/workflow/projectagreement_detail/{{ project.id }}">Print View</a>
            </li>
            <!-- <li>
                <a href="/workflow/level2/project/{{ project.id }}">
                  {{ user.activity_user.organization.level_2_label }} Dashboard
                </a>
            </li> -->

            <li role="separator" class="divider"></li>

            <li><a href="/workflow/projectagreement_update/{{ project.id }}">Edit</a></li>
            <li>
              <a
                  class="text-danger"
                  href="#deleteProjectModal{{ project.id }}"
                  data-toggle="modal"
                  onclick="setItemToDelete({{ project.id }})"
                  data-target="#deleteProjectModal{{ project.id }}"
                >
                  Delete
                </a>
            </li>
          </ul>
        </div>
    </td>
    {% include 'workflow/projectagreement_confirm_delete.html' %}
</tr>