{% extends "base.html" %}
{% load mathfilters %}
{% block page_title %}Program Index{% endblock %}

{% block content %}

<div class="dropdown">
    {% include "workflow/filter.html" %}
    <a href="/workflow/dashboard/project/0/" class="btn btn-sm btn-success">Create a Project</a>
</div>
<br/>
<div>
{% if getDashboard %}
  {% ifnotequal status 'none' %}
    <p>Filtered by (Status): {{ status }}</p>
  {% endifnotequal %}

  {% if filtered_program %}
    <p>Filtered by (Program): {{filtered_program}}</p>
  {% endif %}
    {% for program in getDashboard %}
        {% if program.agreement.all %}
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4>
                       {{ program.name|truncatechars:80 }}

                       <span class="float: right">
                           <a href="/customdashboard/{{program.id }}/" class="btn btn-xs btn-info" style="float:right;">Dashboard Visualization</a>
                       </span>
                   </h4>
                </div>
                <!-- Table -->
                <table class="table table-striped">
                    <tr>
                        <th>Date Created</th>
                        <th>Project Name</th>
                        <th>Project Code</th>
                        <th>Office Code</th>
                        <th>Form Version</th>
                        <th>Approval Status</th>
                        <th>&nbsp;</th>
                    </tr>

                    {% if status == "in_progress" %}
                      {% for item in program.agreement.get_inprogress %}
                          {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No in progress projects.</li>
                      {% endfor %}
                    {% elif status == "approved" %}
                      {% for item in program.agreement.get_approved %}
                        {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No approved projects yet.</li>
                      {% endfor %}
                    {% elif status == "awaiting_approval" %}
                      {% for item in program.agreement.get_awaiting_approval %}
                        {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No projects awaiting approval.</li>
                      {% endfor %}
                    {% elif status == "rejected" %}
                      {% for item in program.agreement.get_rejected %}
                        {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No rejected projects.</li>
                      {% endfor %}
                    {% elif status == "new" %}
                      {% for item in program.agreement.get_new %}
                        {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No New projects.</li>
                      {% endfor %}
                    {% else %}
                      {% for item in program.agreement.all %}
                        {% include "workflow/program_projects_table.html" %}
                      {% empty %}
                          <li class="list-group-item">No projects yet.</li>
                      {% endfor %}
                    {% endif %}


                </table>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No Programs</p>
{% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<script type="text/javascript">
    function program_filter(program_id) {
      window.location.href = '/workflow/dashboard/'+program_id+'/none';
      }

    function status_filter(status) {
      window.location.href = '/workflow/dashboard/0/'+status;
      }
 </script>
{% endblock content %}
