<script>
  $(document).ready(() => {
    $('#program').select2({ placeholder: 'Select program' });

    $.ajax({
        url: '/',
        type: 'POST',
        data,
        success: function(resp, status) {
          // notify success
          toastr.success('Project was added successfully', `${resp}`);

          //close modal
          $('#addProjectModal').modal('hide');

          // reset form
          $('#addProjectForm').trigger('reset');
        }

  });
</script>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addProjectModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addProjectModalLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addProjectModalLabel">Create WorkflowLevel2</h4>
        </div>
        <div class="modal-body">
            <form id="addProjectForm" action="" method="POST">

            {% csrf_token %}
            <div class="form-group">
                <label for="program">Program:</label>
                <select class="form-control" id="program" name="program" required="">
                    <option value=""> </option>

                    {% for item in getPrograms %}
                        <option value="{{ item.id }} ">{{ item.name|truncatechars:50 }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label for="project_name">Project Name:</label>
                <input type="text" name="project_name" required="" id="id_project_name" class="textinput textInput form-control" maxlength="255">
            </div>
            <div class="form-group">
                <label for="detailed">Short Form (recommended):</label>
                <input type="checkbox" name="short" id="id_short" checked="checked" onchange="confirmshort();"> Yes
            </div>
          </form>
        </div>


        <div class="modal-footer">
            <button
              type="button"
              class="btn hikaya-btn-cancel"
              data-dismiss="modal">
                <i class="fa fa-close"></i> Close
              </button>
              <button type="submit" class="btn btn-primary" id="SubmitProject"
              >Submit</button>
            </div>
</div>
</div>
</div>
