{% extends "base.html" %} {% load mathfilters %} {% block content %}
{% include './add_project_modal.html' %}

<script>
  $(document).ready(function() {
    $('#programsTable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">My Dashboard</a></li>
      <li class="active">{{ request.user.activity_user.organization.level_2_label }}</li>
    </ul>
  {% endblock %}
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ request.user.activity_user.organization.level_2_label }} List
      </h4>
    </div>

    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        Filter by:
      </div>
      <div class="sub-nav-item">
        {% include "workflow/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <!-- sample action buttons -->
        <div class="btn-group" role="group" aria-label="">
            <button
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#addProjectModal"
          >
            <i class="fa fa-plus"></i>
            {{ request.user.activity_user.organization.level_2_label }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    {% if filtered_program %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>
                Filtered by (Program): {{ filtered_program.name | truncatechars:80 }}

              <span class="float: right">
                <a
                  href="/customdashboard/{{ filtered_program.id }}/"
                  class="btn btn-xs btn-info"
                  style="float:right;"
                  >Dashboard Visualization</a
                >
              </span>
            </h4>
          </div>
          <!-- Table -->
        </div>
    {% endif %} 
    {% ifnotequal status 'none' %}
      <p>Filtered by (Status): {{ status }}</p>
    {% endifnotequal %} 
  </div>
  <table
  class="table"
  id="programsTable"
  >
  <thead>
    <tr>
      <th>{{ user.activity_user.organization.level_2_label }} Name</th>
      <th>{{ user.activity_user.organization.level_2_label }} Code</th>
      <th>Date Created</th>
      <th>Form Version</th>
      <th>Approval Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for project in get_projects %} {% if project.project_name %}
        {% include "./program_projects_table.html" %}
    {% endif %}{% endfor %}
  </tbody>
  </table>
  <table>

  <script type="text/javascript">
    function program_filter(program_id) {
      window.location.href = '/workflow/level2/list/' + program_id + '/none/';
    }

    function status_filter(status) {
      window.location.href = '/workflow/level2/list/0/' + status + '/';
    }
  </script>
</div>
{% endblock content %}
