{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">Program Index</a></li>
  <li><a href="/workflow/report/0/0/">Project Report</a></li>
  <li class="active">Report</li>
</ol>

{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Project Report{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/workflow/projectagreement_detail/{{ id }}/">Initiation</a></li>
  <li role="presentation"><a href="/workflow/projectcomplete_detail/{{ id }}/">Tracking</a></li>
  <li role="presentation"><a href="/workflow/siteprofile_report/{{ id }}/">Sites</a></li>
</ul>
<h3>{{ agreement.project_name }}</h3>
<p><b>Created:</b> {{ agreement.create_date }} <b>Last Edited:</b> {{ agreement.edit_date }} <span class="btn btn-xs btn-info">Status: <b>{{ agreement.approval }}</b></span></p>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part I: Executive Summary</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>
            <th>Project Code</th>
            <th>Account Code</th>
            <th>LIN Code</th>
            <th>Office</th>
            <th>Sector</th>
        </tr>
        <tr>
            <td>{{ agreement.activity_code }}</td>
            <td>{{ agreement.account_code }}</td>
            <td>{{ agreement.lin_code }}</td>
            <td>{{ agreement.office }}</td>
            <td>{{ agreement.sector }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>
            <th>Program</th>
            <th>Project Name</th>
            <th>Project Activity</th>
            <th>Project Type</th>
        </tr>
        <tr>
            <td>{{ agreement.program }}</td>
            <td>{{ agreement.project_name }}</td>
            <td>{{ agreement.project_activity }}</td>
            <td>{{ agreement.project_type }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>

            <th>Site</th>
            <th>Stakeholder</th>
        </tr>
        <tr>
            <td>{{ agreement.sites }}</td>
            <td>{{ agreement.stakeholders }}</td>
        </tr>
    </table>
    <br/>
    <table class="table" border="1">
        <tr>
            <th>Expected Start Date</th>
            <th>Expected End Date</th>
        </tr>
        <tr>
            <td>{{ agreement.expected_start_date|date:"M d, Y" }}</td>
            <td>{{ agreement.expected_end_date|date:"M d, Y" }}</td>
        </tr>
    </table>
    <br/>
</div>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part II: Budget</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>

            <th>Total Estimated Budget, in USD</th>
            <th>Agency Estimated Budget, in USD</th>
            <th>Total Estimated Budget, in Local Currency</th>
            <th>Agency Estimated Budget, in Local Currency</th>
            <th>Exchange Rate</th>
            <th>Exchange Rate Date</th>
            <th>Estimation Date</th>
        </tr>
        <tr>
            <td>{{ agreement.total_estimated_budget }}</td>
            <td>{{ agreement.mc_estimated_budget }}</td>
            <td>{{ agreement.local_total_estimated_budget }}</td>
            <td>{{ agreement.local_mc_estimated_budget }}</td>
            <td>{{ agreement.exchange_rate }}</td>
            <td>{{ agreement.exchange_rate_date|date:"M d, Y"  }}</td>
            <td>{{ agreement.estimation_date|date:"M d, Y"  }}</td>
        </tr>
    </table>
    <br/>
    <h4>Other Budget Contributions:</h4>
    <table class="table" border="1">
        <tr>
            <th>Contributor</th>
            <th>Description of Contribution</th>
            <th>Proposed Value of Contribution</th>
        </tr>

        {% for budget in getBudget %}
        <tr>
            <td>{{ budget.contributor }}</td>
            <td>{{ budget.description_of_contribution }}</td>
            <td>{{ budget.proposed_value }}</td>
        </tr>
        {% endfor %}
    </table>
    <br/>
</div>
<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part III: Justification and Description</div>
    <!-- Table -->
    <h4> I. Description</h4>
    <table class="table" border="1">
        <tr>
            <th>Description of Project Activities</th>
        </tr>
        <tr>
            <td>{{ agreement.description_of_project_activities }}</td>
        </tr>
    </table>
    <h4> II. Justification</h4>
    <table class="table" border="1">
        <tr>
            <th>What is the anticipated Effect or Impact of this project?</th>
        </tr>
        <tr>
            <td>{{ agreement.effect_or_impact }}</td>
        </tr>
        <tr>
            <th>Risks and Assumptions</th>
        </tr>
        <tr>
            <td>{{ agreement.risks_assumptions }}</td>
        </tr>
    </table>
    <br/>

</div>

<div class="panel panel-info">
    <!-- Default panel contents -->
    <div class="panel-heading">Part III: Project Monitoring and Evaluation</div>
    <!-- Table -->
    <h4>Indicator Evidence</h4>
    <table class="table" border="1">
        <tr>
            <th>Targeted</th>
            <th>Indicator</th>
        </tr>
        {% for output in getQuantitativeOutputs %}
        <tr>
            <td>{{ output.targeted }}</td>
            <td>{{ output.indicator }}</td>
        </tr>
        {% endfor %}
    </table>
    <h4>Components</h4>
    <table class="table" border="1">
        <tr>
            <th>Description</th>
            <th>Site</th>
            <th>Est. Start Date</th>
            <th>Est. End Date</th>
            <th>Budget</th>
        </tr>
        {% for benchmark in getBenchmarks %}
        <tr>
            <td>{{ benchmark.description}}</td>
            <td>{{ benchmark.site }}</td>
            <td>{{ benchmark.est_start_date|date:"m-d-Y" }}</td>
            <td>{{ benchmark.est_end_date|date:"m-d-Y" }}</td>
            <td>{{ benchmark.budget }}</td>
        </tr>
        {% endfor %}
    </table>
    <h4>Monitoring</h4>
    <table class="table" border="1">
        <tr>
            <th>Type</th>
            <th>Responsible Person</th>
            <th>Frequency</th>
        </tr>
        {% for monitor in getMonitor %}
        <tr>
            <td>{{ monitor.type }}</td>
            <td>{{ monitor.responsible_person }}</td>
            <td>{{ monitor.frequency }}</td>
        </tr>
        {% endfor %}
    </table>
    <h4>Evaluation</h4>
    <table class="table" border="1">
        <tr>
            <th>How will you evaluate the outcome or impact of the project?</th>
        </tr>
        <tr>
            <td>{{ agreement.evaluations }}</td>
        </tr>
    </table>
</div>
<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">Part IV: Project Approval</div>
    <!-- Table -->
    <table class="table" border="1">
        <tr>
            <th>Action</th>
            <th>E-Signature</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Originated By</td>
            <td>{{ agreement.estimated_by }}</td>
            <td>{{ agreement.estimated_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>Checked By</td>
            <td>{{ agreement.checked_by }}</td>
            <td>{{ agreement.checked_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>Checked</td>
            <td>{{ agreement.estimated_by }}</td>
            <td>{{ agreement.estimated_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>Field Verification By</td>
            <td>{{ agreement.reviewed_by }}</td>
            <td>{{ agreement.reviewed_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>Finance Reviewed By</td>
            <td>{{ agreement.finance_reviewed_by }}</td>
            <td>{{ agreement.finance_reviewed_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>M&E Reviewed By</td>
            <td>{{ agreement.me_reviewed_by }}</td>
            <td>{{ agreement.me_reviewed_by_date|date:"M d, Y" }}</td>
        </tr>
    </table>
     <br/>
    <table class="table" border="1">
         <tr>
            <th>Action</th>
            <th>E-Signature</th>
            <th>Date</th>
        </tr>
         <tr>
            <td>Approved By</td>
            <td>{{ agreement.approved_by }}</td>
            <td>{{ agreement.approved_by_date|date:"M d, Y" }}</td>
        </tr>
        <tr>
            <td>Approval Submitted By</td>
            <td>{{ agreement.approval_submitted_by }}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Approval Status</td>
            <td>{{ agreement.approval }} </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Approval Remarks</td>
            <td>{{ agreement.approval_remarks }}</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>




{% endblock content %}
