{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">{{ user.activity_user.organization.level_1_label }} Index</a></li>
  <li class="active">{{ user.activity_user.organization.level_2_label }} Dashboard</li>
</ol>
</div>
{% endblock %}

{% block page_title %}{{ user.activity_user.organization.level_2_label }} Dashboard{% endblock %}

{% block content %}
{% if project_id == 0 %}

    <div class="jumbotron">
        <p>Name your new {{ user.activity_user.organization.level_2_label }} and associate it with a {{ user.activity_user.organization.level_1_label }}</p>
        <form role="form" class="form-inline" action="/workflow/projectagreement_add/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="program">{{ user.activity_user.organization.level_1_label }}:</label>
                <select class="form-control" id="program" name="program" required="">
                    {% for item in get_programs %}
                        <option value="{{ item.id }} ">{{ item.name|truncatechars:50 }}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="form-group">
                <label for="project_name">{{ user.activity_user.organization.level_2_label }} Name:</label>
                <input type="text" name="project_name" required="" id="id_project_name" class="textinput textInput form-control" maxlength="255">
            </div>
            <div class="form-group">
                <label for="detailed">Short Form (recommended):</label>
                <input type="checkbox" name="short" id="id_short" checked="checked" onchange="confirmshort({{ user.activity_user.organization.level_2_label }})"> Yes
            </div>
            <br/>
            <br/>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>

{% else %}
    <br/>
    <ul class="list-group">
    <h3>{{ get_program.name|truncatechars:70 }}<span style="float: right;"><a href="/workflow/projectagreement_detail/{{ get_agreement.id }}/" class="btn btn-sm btn-info">Print View</a></span></h3>
        {% if get_agreement %}
        <div class="jumbotron">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h4>{{ user.activity_user.organization.level_2_label }} Initiation</h4>
                    <span></span>
                </li>

                <li class="list-group-item"><b>Name: </b>{{ get_agreement.project_name }}<br/>
                    <b>Project Code: </b>{{ get_agreement.activity_code }}<br/>
                    <b>Created:</b> <span class="date-badge">{{ get_agreement.create_date|date }}</span> <b>Edited:</b> <span class="date-badge">{{ get_agreement.edit_date|date }}</span>
                </li>
                <li class="list-group-item">
                    <div class="btn-group" role="group" aria-label="...">
                        {% if get_agreement.approval == "approved" %}
                            <button data-toggle="tooltip" data-placement="top" title="Initiation has been approved and can no longer be edited." type="button" class="btn btn-sm btn-frozen" onclick="location.href='/workflow/projectagreement_detail/{{ get_agreement.id }}'">View Initiation</button>
                            <button data-toggle="tooltip" data-placement="top" title="Initiation has been approved and can no longer be deleted." type="button" class="btn btn-sm btn-frozen">Delete Initiation</button>
                            {% if get_complete%}
                                <button data-toggle="tooltip" data-placement="top" title="A completion form has already been created for the project" type="button" class="btn btn-sm btn-frozen">{{ user.activity_user.organization.level_2_label }} Initiation</button>
                            {% else %}
                                <button type="button" class="btn btn-sm btn-info" onclick="location.href='/workflow/projectcomplete_add/{{ get_agreement.id }}'">Start tracking your project</button>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-sm btn-warning" onclick="location.href='/workflow/projectagreement_update/{{ get_agreement.id }}'">Update Initiation</button>
                            <button type="button" class="btn btn-sm btn-danger" onclick="location.href='/workflow/projectagreement_delete/{{ get_agreement.id }}'">Delete Initiation</button>
                            <button data-toggle="tooltip" data-placement="top" title="Once Approved you will be able to click here and start tracking the project" type="button" class="btn btn-sm btn-frozen">Start tracking your project</button>
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item">
                    {% if get_agreement.approval == "approved" %}
                        <button class="btn btn-success" type="button">
                          Approved
                        </button>
                    {% else %}
                        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/projectagreement_update/{{ get_agreement.id }}'">
                        {% if get_agreement.approval %}
                            {{ get_agreement.approval|title }}
                        {% else %}
                            Open
                        {% endif %}
                        </button>
                    {% endif %}
                 </li>
            </ul>
        {% endif %}
        {% if get_complete %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h4>Project Tracking</h4>
                </li>
                <li class="list-group-item"><b>Name: </b>{{ get_complete.project_name }}<br/>
                    <b>Project Code: </b>{{ get_complete.activity_code }}<br/>
                    <b>Created:</b> <span class="date-badge">{{ get_complete.create_date|date }}</span> <b>Edited:</b> <span class="date-badge">{{ get_complete.edit_date|date }}</span>
                </li>
                <li class="list-group-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-sm btn-warning" onclick="location.href='/workflow/projectcomplete_update/{{ get_complete.id }}'">Update Tracking</button>
                        <button type="button" class="btn btn-sm btn-danger" onclick="location.href='/workflow/projectcomplete_delete/{{ get_complete.id }}'">Delete Tracking</button>
                    </div>
                </li>
                <li class="list-group-item">
                    {% if get_complete.approval == "approved" %}
                        <button class="btn btn-success" type="button">
                          Approved
                        </button>
                    {% else %}
                        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/projectcomplete_update/{{ get_complete.id }}'">
                          {% if get_complete.approval %}
                            {{ get_complete.approval|title }}
                          {% else %}
                            Open
                          {% endif %}
                        </button>
                    {% endif %}
                 </li>
            </ul>
        {% endif %}
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/documentation_list/0/{{ get_agreement.id }}'">
            Documents <span class="badge">{{ get_document_count }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/siteprofile_list/0/{{ get_agreement.id }}'">
            Sites <span class="badge">{{ get_community_count }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/formlibrary/training_list/{{ get_agreement.id }}'">
            Training <span class="badge">{{ get_training_count }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/formlibrary/distribution_list/{{ get_program.id }}'">
            Distributions <span class="badge">{{ get_distribution_count }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/checklistitem_list/{{ get_agreement.id }}'">
            Checklist <span class="badge">{{ get_checklist_count }}</span>
        </button>
        <button class="btn btn-primary" type="button" onclick="location.href='/workflow/stakeholder_list/0/{{ get_agreement.id }}'">
            Stakeholders <span class="badge">{{ get_stakeholderCount }}</span>
        </button>
        </div>
    </ul>

    <div class="jumbotron">
        <h3>
            {{ user.activity_user.organization.level_2_label }} Checklist
        </h3>
        <table class="table table-striped">
            <tr>
                <th>Checklist Item</th>
                <th>Is In the File?</th>
                <th>Not Applicable?</th>
            </tr>

            {% for item in getChecklist %}
            <tr>
                <td>
                    {{ item.item }}
                </td>
                <td>
                    {% if item.in_file == True%} <a onclick="tasklistChange('{{ item.id }}','in_file','0')"><span id="in_file_{{ item.id }}" class="glyphicon glyphicon-check"></span></a>{% else %}<a onclick="tasklistChange('{{ item.id }}','in_file','1')"><span id="in_file_{{ item.id }}" class="glyphicon glyphicon-unchecked"></span></a>{% endif %}
                </td>
                <td>
                    {% if item.not_applicable == True%} <a onclick="tasklistChange('{{ item.id }}','not_applicable','0')"><span id="not_applicable_{{ item.id }}" class="glyphicon glyphicon-check"></span></a>{% else %}<a onclick="tasklistChange('{{ item.id }}','not_applicable','1')"><span id="not_applicable_{{ item.id }}" class="glyphicon glyphicon-unchecked"></span></a>{% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}
