{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">Program Index</a></li>
  <li class="active">Project Tracking</li>
</ol>
</div>
{% endblock %}
{% block page_title %}Project Tracking List{% endblock %}

{% block content %}
<div>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/workflow/projectcomplete_list/{{ program.id }}">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
  </ul>
</div>
</div>
<br/>
{% if getProgram %}
    <h3>{{getProgram.gaitid }} - {{ getProgram.name }}</h3>
{% endif %}

 <!-- Table -->
<table class="table">
    <tr>
        <th>Date Created</th>
        <th>Project Name</th>
        <th>Activity Code</th>
        <th>Approval Status</th>
        <th>&nbsp;</th>
    </tr>
    {% for item in getDashboard %}
    <tr>
        <td><a href="/workflow/projectcomplete_update/{{ item.id }}">{{ item.create_date}}</a></td>
        <td><a href="/workflow/projectcomplete_update/{{ item.id }}">{{ item.project_name}}</a></td>
        <td>{{ item.activity_code}}</td>
        <td>{% if item.approval %} {{ item.approval}} {% else %} Open {% endif %}</td>
        <td>
            <a href="/workflow/dashboard/project/{{ item.project_agreement.id }}" class="btn btn-xs btn-success">Project Dashboard</a>
            <a href="/workflow/projectcomplete_delete/{{ item.id }}" class="btn btn-xs btn-danger">Delete Project Complete</a>
        </td>
    </tr>
    {% empty %}
        <li class="list-group-item">No Completions yet.</li>
    {% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock content %}
