{% extends "base.html" %} {% block content %}
{% load staticfiles %}
{% include "./modals/add_site_modal.html" %}

<style>
	#map {
		height: 70vh !important;
	}
</style>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li>
      <a href="/workflow/siteprofile_list/0/0/list/">{{ user.activity_user.organization.site_label }}</a>
    </li>
    <li class="active">Map</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Site Profiles Map</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a role="button" href="/workflow/siteprofile_list/0/0/list/" class="btn btn-default btn-sm"
            ><i class="fa fa-list"></i> List</a
          >
          <a
            role="button"
            href="#"
            class="btn btn-default btn-sm disabled"
            ><i class="fa fa-map-marker"></i> Map</a
          >
        </div>
      </div>
      <div class="sub-nav-item">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ user.activity_user.organization.level_1_label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/0"
              >
                -- All --
              </a>
            </li>
            {% for program in get_programs %}
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/{{ program.id }}/0/"
              >
                {{ program.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <br />
      </div>

      <div class="sub-nav-item">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ user.activity_user.organization.level_2_label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/0"
              >
                -- All --
              </a>
            </li>
            {% for project in get_projects %}
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/{{ project.id }}/"
              >
                {{ project.project_name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a
            role="button"
            href="/workflow/export_sites_list/{{ program_id }}/"
            class="btn btn-sm btn-default"
            >Export to CSV</a
          >
          <button
          class="btn btn-sm btn-primary"
          data-toggle="modal"
          data-target="#addLocationModal"
          >
          <i class="fa fa-plus"></i> {{user.activity_user.organization.site_label}}</button>
        </div>
      </div>
    </div>
  </div>

  <div id="map_con">
    <div id="map"></div>
  </div>
</div>
<script>
  new Vue({
    delimiters: ['[[', ']]'],
    el: '#map_con',
    data: {
      countries: [],
      organization: null,
      latitude: null,
      longitude: null,
      zoom: null,
      admin_boundary: null,
      country_code: []
    },
  
    beforeMount: function() {
      this.loadCountries();
      const lat = Number('{{user.activity_user.organization.latitude}}'); 
      const long = Number('{{user.activity_user.organization.longitude}}');
      const mapZoom =  Number('{{user.activity_user.organization.zoom}}');

      this.latitude = lat ? lat : 0.00;
      this.longitude = long ? long : 0.00;
      this.zoom =  mapZoom ? mapZoom : 5;
      this.admin_boundary = '{{user.activity_user.organization.admin_boundary}}';
      this.country_code = Number('{{user.activity_user.organization.country_code.all.0.id}}');
      // load countries
      setTimeout(() => {
        this.getBoundaryData(this.admin_boundary);
      }, 1000)
    },
  
    methods: {
      /**
      * make requests for CRUD operations using axios
      * @param { string } method - request method
      * @param { string } url  - request url
      * @param { string } data - request payload
      * @return { Promise } - axios respons ePromise
      */
      makeRequest(method, url, data = null) {
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.xsrfCookieName = 'csrftoken';
        return axios({ method, url, data });
      },
      
      /**
      * Load all coutries to populate the dropdown
      */
      loadCountries() {
        this.makeRequest('GET', '/workflow/countries')
          .then((response) => {
            if (response.data) {
              this.countries = response.data;
            }
          })
          .catch((e) => {
            this.countries = [];
          });
      },
  
      plotMap(adminBoundary = null, geoJsonData = null) {
        // check that the map has not been initialized in the DOM
        const container = L.DomUtil.get('map');
        if (container != null) {
          container._leaflet_id = null;
        }
  
        let map = L.map('map', {
        }).setView([this.latitude, this.longitude], this.zoom);
      
        L.tileLayer(
          'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
            'attribution': 'Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL.'
          }
        ).addTo(map);

        let locations = [];

        //for each site we create a marker, add it to the map and a list
        {% for site in get_site_profile %}
          let marker{{ forloop.counter0 }} = L.marker([Number('{{site.latitude}}'), Number('{{site.longitude}}')], {
              draggable:false
          });

          marker{{ forloop.counter0 }}.url = '/workflow/siteprofile_update/{{ site.id }}/';
          marker{{ forloop.counter0 }}.on('click', function(){
            window.location.pathname = (this.url);
          });

          marker{{ forloop.counter0 }}.addTo(map);
          locations.push(marker{{ forloop.counter0 }})
        {% endfor %}

        locations = [...locations];

        if (adminBoundary) {
          var myStyle = {
            color: '#00CCCC',
            weight: 2,
            opacity: 0.5,
          };
  
          L.geoJSON(geoJsonData, {
            style: myStyle,
          }).addTo(map);
        }
      },
      /**
      * Load
      */
      getBoundaryData(admin) {
        let data = null;
        if (this.admin_boundary && this.country_code) {
          const country = this.countries.find((item) => item.id === +this.country_code);
          if (country) {
            this.makeRequest(
              'GET',
              `https://raw.githubusercontent.com/hikaya-io/admin-boundaries/master/data/${country.code.toUpperCase()}/${admin.toUpperCase()}/${country.code.toUpperCase()}-${admin.toUpperCase()}.geojson`
            )
            .then((response) => {
              data = response.data;
              this.plotMap(admin, data);
            })
            .catch((e) => {
              toastr.error(
                'There was a problem loading boundary data for the country'
              );
            });
          }
        } else {
          this.plotMap();
        }
      }
  
    }
  
  })
</script>
{% endblock %}
