{% extends "base.html" %} {% block content %}

<script>
  $(document).ready(() => {
    $('#siteProfileTable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">{{ user.activity_user.organization.site_label }}</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">{{ user.activity_user.organization.site_label }} List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a role="button" href="#" class="btn btn-default btn-sm disabled"
            ><i class="fa fa-list"></i> List</a
          >
          <a
            role="button"
            href="/workflow/siteprofile_list/0/0/map/"
            class="btn btn-default btn-sm"
            ><i class="fa fa-map-marker"></i> Map</a
          >
        </div>
      </div>
      <div class="sub-nav-item">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ user.activity_user.organization.level_1_label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/0"
              >
                -- All --
              </a>
            </li>
            {% for program in get_programs %}
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/{{ program.id }}/0/"
              >
                {{ program.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <br />
      </div>

      <div class="sub-nav-item">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-default dropdown-toggle"
            type="button"
            id="dropdownMenu1"
            data-toggle="dropdown"
            aria-expanded="true"
          >
            {{ user.activity_user.organization.level_2_label }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/0"
              >
                -- All --
              </a>
            </li>
            {% for project in get_projects %}
            <li role="presentation">
              <a
                role="menuitem"
                tabindex="-1"
                href="/workflow/siteprofile_list/0/{{ project.id }}/"
              >
                {{ project.project_name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a
            role="button"
            href="/workflow/export_sites_list/{{ program_id }}/"
            class="btn btn-sm btn-default"
            >Export to CSV</a
          >

          <a
            role="button"
            href="/workflow/siteprofile_add"
            class="btn btn-sm btn-primary"
          >
          <i class="fa fa-plus"></i> {{user.activity_user.organization.site_label}}</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Display site profiles & projects -->
  <table class="table" id="siteProfileTable">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Office</th>
      <th>Country</th>
      <th>Status</th>
      <th class="text-right"></th>
    </thead>
    <tbody>
      {% for item in get_site_profile %}
      <tr>
        <td>
          <a href="/workflow/siteprofile_update/{{ item.id }}" 
            data-toggle="tooltip" 
            title="{{ item.name }}">
			    {{ item.name | truncatechars:50 }}</a>
        </td>
        <td>{{ item.type }}</td>
        <td>{{ item.office }}</td>
        <td>{{ item.country }}</td>
        {% if item.status == 1 %}
        <td>
          <a href="/workflow/siteprofile_update/{{ item.id }}"
            ><span class="badge">Active</span></a
          >
        </td>
        {% else %}
        <td>
          <a href="/workflow/siteprofile_update/{{ item.id }}"
            ><span class="badge">Inactive</span></a
          >
        </td>
        {% endif %}
        <td class="text-right">
          <div class="btn-group">
            <a role="button" href="" class="btn btn-default btn-sm disabled"
              >More</a
            >
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Related</li>
              <li>
                <a href="/workflow/site_indicatordata/{{ item.id }}/">
                  {{ request.user.activity_user.organization.indicator_label }}
                  Data
                </a>
              </li>
              <li>
                <a href="/workflow/site_projectscomplete/{{ item.id }}/">
                  {{ request.user.activity_user.organization.level_2_label }}
                </a>
              </li>
              <li role="separator" class="divider"></li>

              <li>
                <a href="{% url 'siteprofile_update' pk=item.id %}">Edit</a>
              </li>

              <li>
                <a
                  class="text-danger"
                  href="#deleteProgramModal{{ program.id }}"
                  data-toggle="modal"
                  onclick="setItemToDelete({{ program.id }})"
                  data-target="#deleteProgramModal{{ program.id }}"
                >
                  Delete
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock content %}
