{% extends "base.html" %} {% load i18n %} {% load group_tag %} {% block content %}

<div class="container">
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Home Dashboard</a></li>
		<li class="active">Site Profiles</li>
	</ul>
	{% endblock %}

	<!-- Sub navigation -->
	<div class="sub-navigation">
		<div class="sub-navigation-header">
			<h4 class="page-title">Site Profile List & Map</h4>
		</div>
		<div class="sub-navigation-actions">
			<div class="sub-nav-item">
				<div class="dropdown">
					<button
						class="btn btn-sm btn-default dropdown-toggle"
						type="button"
						id="dropdownMenu1"
						data-toggle="dropdown"
						aria-expanded="true"
					>
						{{ user.activity_user.organization.level_1_label }}(s)
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="/workflow/siteprofile_list/0/0">
								-- All --
							</a>
						</li>
						{% for program in get_programs %}
						<li role="presentation">
							<a
								role="menuitem"
								tabindex="-1"
								href="/workflow/siteprofile_list/{{ program.id }}/0/"
							>
								{{ program.name }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>

				<br />
			</div>

			<div class="sub-nav-item">
				<div class="dropdown">
					<button
						class="btn btn-sm btn-default dropdown-toggle"
						type="button"
						id="dropdownMenu1"
						data-toggle="dropdown"
						aria-expanded="true"
					>
						{{ user.activity_user.organization.level_2_label }}(s)
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="/workflow/siteprofile_list/0/0">
								-- All --
							</a>
						</li>
						{% for project in get_projects %}
						<li role="presentation">
							<a
								role="menuitem"
								tabindex="-1"
								href="/workflow/siteprofile_list/0/{{ project.id }}/"
							>
								{{ project.project_name }}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="sub-nav-item">
				<div class="btn-group" role="group" aria-label="...">
					<a
						role="button"
						href="/workflow/export_sites_list/{{ program_id }}/"
						class="btn btn-sm btn-default"
						>Export to CSV</a
					>

					<a
						role="button"
						href="/workflow/siteprofile_add"
						class="btn btn-sm btn-primary"
					>
						New Site Profile</a
					>
				</div>
			</div>
		</div>
	</div>

	<style>
		#map {
			height: 480px;
		}
	</style>
	<!-- Display site profiles & projects -->
	<table class="table table-striped" id="siteProfileTable">
		<thead>
			<th>Date Created</th>
			<th>Profile Name</th>
			<th>Status</th>
			<th>Profile Type</th>
			<th>Province</th>
			<th>District</th>
			<th></th>
		</thead>
		<tbody>
			{% for item in get_site_profile %}

			<tr>
				<td>
					<a href="/workflow/siteprofile_update/{{ item.id }}"
						>{{ item.create_date | date:'d-m-Y' }}
					</a>
				</td>
				<td>
					<a href="/workflow/siteprofile_update/{{ item.id }}">{{ item.name }}</a>
				</td>
				{% if item.status == 1 %}
				<td>
					<a href="/workflow/siteprofile_update/{{ item.id }}"
						><span class="badge">Active</span></a
					>
				</td>
				{%else%}
				<td>
					<a href="/workflow/siteprofile_update/{{ item.id }}"
						><span class="badge">Inactive</span></a
					>
				</td>
				{%endif%}
				<td>
					<a href="/workflow/siteprofile_update/{{ item.id }}">{{ item.type }}</a>
				</td>
				<td>{{ item.province }}</td>
				<td>{{ item.district }}</td>
				<td>
					<!-- <a href="/workflow/siteprofile_delete/{{ item.id }}" class="btn btn-xs btn-danger"
            >Delete Site Profile</a
          >
          <a href="/workflow/site_indicatordata/{{ item.id }}/" class="btn btn-xs btn-default"
            >Indicator Data</a
          >
          <a
            href="/workflow/site_projectscomplete/{{ item.id }}/"
            class="btn btn-xs btn-default"
            >Projects</a
          > -->
					<div class="btn-group">
						<a role="button" href="" class="btn btn-default btn-sm disabled">More</a>
						<button
							type="button"
							class="btn btn-default btn-sm dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a href="/workflow/site_indicatordata/{{ item.id }}/">
									{{request.user.activity_user.organization.indicator_label}}
									Data
								</a>
							</li>
							<li>
								<a href="/workflow/site_projectscomplete/{{ item.id }}/">
									{{ request.user.activity_user.organization.level_2_label }}
								</a>
							</li>
							<li role="separator" class="divider"></li>

							<li>
								<a class="" href="/workflow/level1/edit/{{ program.id }}/">Edit</a>
							</li>
							<li>
								<a
									class="text-danger"
									href="#deleteProgramModal{{ program.id }}"
									data-toggle="modal"
									onclick="setItemToDelete({{ program.id }})"
									data-target="#deleteProgramModal{{ program.id }}"
								>
									Delete
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>

		{% endfor %}
	</table>

	{% if offline_mode %}
	<h2>Offline (No map provided)</h2>
	{% else %}
	<div id="map"></div>

	{% include "workflow/site_profile_map.html" %}

	<script>
		$(document).ready(() => {
			$('#siteProfileTable').DataTable();
		});
		function ZoomToCountry(region) {
			if (region == 'Latin America, Caribbean, Balkans, Caucasus') {
				map.setView([9, -60], 4);
			} else if (region == 'East Asia') {
				map.setView([30, 96], 4);
			} else if (region == 'Central & South Asia') {
				map.setView([30, 80], 4);
			} else if (region == 'East & Southern Africa') {
				map.setView([10, 10], 4);
			} else if (region == 'West & Central Africa') {
				map.setView([10, 10], 4);
			} else if (region == 'Latin America, Caribbean, Balkans, Caucasus') {
				map.setView([30, 20], 4);
			} else if (region == 'Middle East') {
				map.setView([30, 20], 4);
			} else if (region == '1') {
				map.setView([10, -10], 2);
			}
		}
	</script>
	{% endif %}

	<!-- Modal -->
	<div
		class="modal fade"
		id="importModal"
		tabindex="-1"
		role="dialog"
		aria-labelledby="myModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog">
			<div class="modal-content"></div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
{% endblock content %}
