{% extends "base.html" %}
{% block content %}

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li>
      <a href="/workflow/siteprofile_list/0/0/list/">{{ user.activity_user.organization.site_label }}</a>
    </li>
    <li class="active">Details</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {% if site_name %}{{ site_name }} {% else %} Site Profile Form {% endif %}
      </h4>
    </div>
  </div>

  {% if form.errors %}
  <div class="help-block">
    {% for field in form %}
    {% for error in field.errors %}
    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
    {% endfor %}
    {% endfor %}
  </div>
  {% for error in form.non_field_errors %}
  <div class="alert alert-error">
    <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}
  <div class="admin-content">
    <style>
      .mw-wrap {
        width: 100% !important;
        min-width: 400px !important;
      }

      .mw-coordinates-overlay {
        width: 200px !important;
      }
    </style>
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}
  </div>
</div>

<script>
  document.getElementById('div_id_map').setAttribute("style", "height:500px");
  // close site profile edit form
  $('#reset-id-reset').click(() => {
    window.location.href = '/workflow/siteprofile_list/0/0/list/';
  });

  new Vue({
    delimiters: ['[[', ']]'],
    el: '#map_cont',
    data: {
      countries: [],
      organization: null,
      latitude: null,
      longitude: null,
      zoom: null,
      admin_boundary: null,
      country_code: []
    },
  
    beforeMount: function() {
      this.loadCountries();
      const lat = Number('{{user.activity_user.organization.latitude}}'); 
      const long = Number('{{user.activity_user.organization.longitude}}');
      const mapZoom =  Number('{{user.activity_user.organization.zoom}}');

      this.latitude = lat ? lat : 0.00;
      this.longitude = long ? long : 0.00;
      this.zoom =  mapZoom ? mapZoom : 5;


      this.admin_boundary = '{{user.activity_user.organization.admin_boundary}}';
      this.country_code = Number('{{user.activity_user.organization.country_code.all.0.id}}');
      // load countries
      setTimeout(() => {
        this.getBoundaryData(this.admin_boundary);
      }, 1000)
    },
  
    methods: {
      /**
      * make requests for CRUD operations using axios
      * @param { string } method - request method
      * @param { string } url  - request url
      * @param { string } data - request payload
      * @return { Promise } - axios respons ePromise
      */
      makeRequest(method, url, data = null) {
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        axios.defaults.xsrfCookieName = 'csrftoken';
        return axios({ method, url, data });
      },
      
      /**
      * Load all coutries to populate the dropdown
      */
      loadCountries() {
        this.makeRequest('GET', '/workflow/countries')
          .then((response) => {
            if (response.data) {
              this.countries = response.data;
            }
          })
          .catch((e) => {
            this.countries = [];
          });
      },
  
      plotMap(adminBoundary = null, geoJsonData = null) {
        // check that the map has not been initialized in the DOM
        const container = L.DomUtil.get('div_id_map');
        if (container != null) {
          container._leaflet_id = null;
        }
  
        let map = L.map('div_id_map', {
        }).setView([this.latitude, this.longitude], this.zoom);
      
        let marker = L.marker(
            [
              Number('{{site.latitude}}'), 
              Number('{{site.longitude}}')
            ], 
            { draggable: true }
          );
      
        L.tileLayer(
          'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
          'attribution': 'Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL.'
        }
        ).addTo(map);
      
        function addToTextBox(lt, ln) {
          document.getElementById('id_latitude').value = (lt).toFixed(7);
          document.getElementById('id_longitude').value = (ln).toFixed(7);
        }
      
        // adds listener for drag end event
        marker.on('dragend', function (event) {
          let marker = event.target;
          let location = marker.getLatLng();
          let lat = location.lat;
          let lon = location.lng;
          addToTextBox(lat, lon);
        });
      
        marker.addTo(map);
        if (adminBoundary) {
          var myStyle = {
            color: '#00CCCC',
            weight: 2,
            opacity: 0.5,
          };
  
          L.geoJSON(geoJsonData, {
            style: myStyle,
          }).addTo(map);
        }
      },
      /**
      * Load
      */
      getBoundaryData(admin) {
        let data = null;
        if (this.admin_boundary && this.country_code) {
          const country = this.countries.find((item) => item.id === +this.country_code);
          if (country) {
            this.makeRequest(
              'GET',
              `https://raw.githubusercontent.com/hikaya-io/admin-boundaries/master/data/${country.code.toUpperCase()}/${admin.toUpperCase()}/${country.code.toUpperCase()}-${admin.toUpperCase()}.geojson`
            )
            .then((response) => {
              data = response.data;
              this.plotMap(admin, data);
            })
            .catch((e) => {
              toastr.error(
                'There was a problem loading boundary data for the country'
              );
            });
          }
        } else {
          this.plotMap();
        }
      }
  
    }
  
  })
</script>

{% endblock content %}