{% extends "base.html" %} {% block content %} 
{% include './modals/add_stakeholder_modal.html' %}

<script>
  $(document).ready(() => {
    $('#stakeholderTable').DataTable();
  });
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">{{ user.activity_user.organization.stakeholder_label }}</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Stakeholder List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ user.activity_user.organization.level_1_label }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/workflow/stakeholder_list/0/0/">--All--</a></li>
              {% for program in get_programs %}
              <li>
                <a href="/workflow/stakeholder_list/{{ program.id }}/0/ "
                  >{{ program.gaitid }} - {{ program.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a
            role="button"
            class="btn btn-sm btn-info  disabled"
            href="/workflow/export_stakeholders_list/{{ program_id }}/"
            class="btn btn-sm btn-default"
          >
            Export to CSV</a
          >

          <a
            role="button"
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addStakeholderModal"
          >
           <i class="fa fa-plus"></i> {{user.activity_user.organization.stakeholder_label}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table" id="stakeholderTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stakeholder Type</th>
        <th>Sectors</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for stakeholder in get_stakeholders %} {% if stakeholder.name%}
      <tr>
        <td>
          <a href="/workflow/stakeholder_update/{{stakeholder.id}}/" data-toggle="tooltip" title="{{stakeholder.name}}">
            {{ stakeholder.name | truncatechars:50}}
          </a>
        </td>
        <td>
          {{ stakeholder.type.name }}
        </td>
        <td>
          {% for sector in stakeholder.sectors.all %}
          <span class="badge badge-default">{{ sector.sector }}</span>
          {% endfor %}
        </td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">Actions</button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/workflow/stakeholder_update/{{stakeholder.id}}/">Edit</a></li>
              <li><a href="#" class="text-danger">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
