{% extends "base.html" %}
{% block bread_crumb %}
<div>
<ol class="breadcrumb">
  <li><a href="/workflow/dashboard/0/">Program Index</a></li>
  <li><a href="/workflow/stakeholder_list/0/0/">Stakeholder List</a></li>
  <li class="active">Stakeholder Form</li>
</ol>
</div>
{% endblock %}
{% block page_title %}Stakeholder Form{% endblock %}


{% block content %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //Searchable select option for service indicator
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_formal_relationship_document").select2();
            $("#id_vetting_document").select2();
            $("#id_contact").select2();
            $("#id_sectors").select2();
        });

    </script>

    <span style="float: right;"><a onclick="newPopup('https://docs.google.com/document/d/1fX8hC-UxEd1YcXbf7gIkh5WH_ZPQYuhMB9q4uJNmMec/','Form Help/Guidance'); return false;" href="#" class="btn btn-sm btn-info">Form Help/Guidance</a></span>
    {% if form.errors %}
        {% include "form_guidance.html" %}
        <div class="help-block">
            {% for field in form %}
                {% for error in field.errors %}
                        <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
                {% endfor %}
            {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
	{% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

{% endblock content %}
