<div class="row">
	<div class="col-md-2 dashboard-summaries">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-users"></i>
			</div>
			<div class="col-md-8 text-center">
				<h4><strong>123</strong></h4>
				<p><strong>Users</strong></p>
			</div>
		</div>
	</div>
	<div class="col-md-2 dashboard-summaries">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-table"></i>
			</div>
			<div class="col-md-8 text-center">
				<h4><strong>345</strong></h4>
				<p><strong>{{ user.activity_user.organization.level_1_label }}(s)</strong></p>
			</div>
		</div>
	</div>
	<div class="col-md-2 dashboard-summaries">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-cogs"></i>
			</div>
			<div class="col-md-8 text-center">
				<h4><strong>1245</strong></h4>
				<p><strong>{{ user.activity_user.organization.level_2_label }}(s)</strong></p>
			</div>
		</div>
	</div>
	<div class="col-md-2 dashboard-summaries">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-list"></i>
			</div>
			<div class="col-md-8 text-center">
				<h4><strong>247</strong></h4>
				<p><strong>{{ user.activity_user.organization.indicator_label }}</strong></p>
			</div>
		</div>
	</div>
	<div class="col-md-2 dashboard-summaries">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-map-marker"></i>
			</div>
			<div class="col-md-8 text-center">
				<h4><strong>34</strong></h4>
				<p><strong>Sites</strong></p>
			</div>
		</div>
	</div>
</div>
