<!-- <ul class="nav nav-tabs" role="tablist">
	{% for item in nav_links %}
	<li role="presentation" class="{{ item.status }}">
		<a href="{{item.link}}">
			{% if item.label == 'Profile' %}

			{% elif item.label == 'Configurations' %}

			{% elif item.label == 'People' %}

			{% elif item.label == 'Usage' %}
			{% endif %}

			{{ item.label }}</a>
	</li>
	{% endfor %}
</ul> -->

<div>
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		{% for nav_item in nav_links %}
		<li role="presentation" class="{% if nav_item.status == 'active' %} active {% endif %}"><a href="{{nav_item.link}}" aria-controls="profile"
			role="tab">{{nav_item.label}}</a></li>
		{% endfor %}
	</ul>
</div>