<script>
$('a[href=#i_surveys]').on('shown.bs.tab', function(){
//render survey_responses on radar_chart
    var survey_data = {
        //labels : [{% for program in getQuantitativeDataSums_2 %} "{{ program.indicator__source }}", {% endfor %}],
        labels : ["Helpful","Friendly","Kind","Rude","Slow","Frustrating"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "#637b85",
                pointColor : "#dbba34",
                pointStrokeColor : "#637b85",
                //data : [{% for project in getProjects %} {{ project.mc_estimated_budget }},{% endfor %}]
                data : [65,59,90,81,30,56]
            }
        ]
    }
    var ctx = document.getElementById("surveys").getContext("2d");
    new Chart(ctx).Radar(survey_data);
});
</script>