

{% block extra_js_in_body %}
    <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />
{% endblock %}

<div class="modal-header">

    <div class="alert alert-error" id="alert-error">
        <strong>{{ error|escape }}</strong>
    </div>

    <h4 class="modal-title">{% block page_title %}Assign Data Source {% endblock %}</h4>

</div>
{% include "form_guidance.html" %}
    <div class="modal-body">
    {% if "data_assign/" in request.get_full_path  %}
        {% if getDashboardComponent %}
            <form class="form-horizontal" method="post" id="dataAssignForm" action="{{request.get_full_path}}">
             <input id="id_component_name" maxlength="255" type="hidden" readonly="readonly" name="component_name" value="{{ getDashboardComponent.component_name}}"/>
            <input id="id_component_description" maxlength="255" type="hidden" readonly="readonly" name="component_description" value="{{ getDashboardComponent.component_description}}"/>
            <input id="id_is_public" maxlength="255" type="hidden" readonly="readonly" name="is_public" value="{{getDashboardComponent.is_public}}"/>
            <input id="id_component_type" maxlength="255" type="hidden" readonly="readonly" name="component_type" value="{{ getDashboardComponent.component_type}}"/>
            <input id="id_component_data_required" maxlength="255" type="hidden" readonly="readonly" name="data_required" value="{{ getDashboardComponent.data_required}}"/>
            <select multiple="multiple" id="id_data_sources" name="data_sources" class="form-control" >
                {% for data in getComponentDataSources %}
                    <option value="{{data.id}}">{{data.data_name}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-default" type="submit" value="Assign"> Assign </button>   
        {% endif %}
    {% endif %}

    {% csrf_token %}

    </form>
</div>

<div class="modal-footer">
   <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href = '/configurabledashboard/update/{{ id }}/#assign-data';parent.location.reload();">Close</button>
</div> 



<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
<script type="text/javascript">
    var frm = $('#dataAssignForm');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $("#alert-error").html("Success! ");
            },
            error: function(data) {
                $("#alert-error").html("Something went wrong!");
            }
        });
        return false;
    });
</script>