{% extends "base.html" %} {% block content %}
<div class="container">
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url 'admin_profile_settings' %}">Organization Settings</a></li>
		<li class="active">Configurations</li>
	</ul>
	{% endblock %}

	<!-- Sub navigation -->
	<div class="sub-navigation">
		<div class="sub-navigation-header">
			<h4 class="page-title">Organization Settings</h4>
		</div>
	</div>

	<div class="bg-white p-10 pt-0">
		<div class="mb-15">
			{% include 'admin/sections/side-nav.html' %}
		</div>

		<form id="configForm" class="">
			{% csrf_token %}
			<!-- Default Labels -->
			<div class="panel panel-default">
				<div class="panel-heading">Workflow Level Labels</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 default-setting" id="div_workflowlevel1_name">
							<label for="workflowlevel1"> Workflow Level 1: </label>
							<input type="text" class="form-control" placeholder="Program"
								value="{{ organization.level_1_label }}" id="workflowlevel1" name="level_1_label" />
							<span id="wfl1HelpBlock" class="help-block hikaya-hide"
								>Field is required</span> 
						</div>
						<div class="col-md-6" id="div_workflowlevel2_name">
							<label for="workflowlevel2"> Workflow Level 2: </label>
							<input type="text" class="form-control" placeholder="Project"
								value="{{ organization.level_2_label }}" id="workflowlevel2" name="level_2_label" />
							<span id="wfl2HelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6" id="div_workflowlevel3_name">
							<label for="workflowlevel3"> Workflow Level 3: </label>
							<input type="text" class="form-control" placeholder="Component"
								value="{{ organization.level_3_label }}" id="workflowlevel3" name="level_3_label" />
							<span id="wfl3HelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
						<div class="col-md-6" id="div_workflowlevel4_name">
							<label for="workflowlevel4"> Workflow Level 4: </label>
							<input type="text" class="form-control" placeholder="Activity"
								value="{{ organization.level_4_label }}" id="workflowlevel4" name="level_4_label" />
							<span id="wfl4HelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Default Labals-->
			<!-- start of other Lables -->
			<div class="panel panel-default">
				<div class="panel-heading">Other Labels</div>
				<div class="panel-body">
					<div class="row" id="div_indicator_name">
						<div class="col-md-6 default-setting">
							<label for="indicator"> Indicator: </label>
							<input type="text" class="form-control" placeholder="Indicator"
								value="{{ organization.indicator_label }}" id="indicator" name="indicator_label" />
							<span id="indicatorHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
						<div class="col-md-6" id="div_site_name">
							<label for="site"> Site: </label>
							<input type="text" class="form-control" placeholder="Site"
								value="{{ organization.site_label }}" id="site" name="site_label" />
							<span id="siteHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6" id="div_stakeholder_name">
							<label for="stakeholder"> Stakeholder: </label>
							<input type="text" class="form-control" placeholder="Stakeholder"
								value="{{ organization.stakeholder_label }}" id="stakeholder"
								name="stakeholder_label" />
							<span id="stakeholderHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
						<div class="col-md-6" id="div_form_name">
							<label for="form"> Form: </label>
							<input type="text" class="form-control" placeholder="Form"
								value="{{ organization.form_label }}" id="form" name="form_label" />
							<span id="formHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end of other Labels -->

			<!-- start of other settings-->
			<div class="panel panel-default">
				<div class="panel-heading">Default Settings</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 default-setting" id="div_currency_name">
							<label for="default_currency"> Default Currency: </label>
							<input type="text" class="form-control" placeholder="USD ($)"
								value="{{ organization.default_currency.name }}" id="default_currency"
								name="default_currency" />
							<span id="currencyHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
						<div class="col-md-6" id="div_date_name">
							<label for="date_format"> Date Format: </label>
							<input type="text" class="form-control" placeholder="DD/MM/YYYY"
								value="{{ organization.date_format }}" id="date_format" name="date_format" />
							<span id="dateHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6" id="div_language_name">
							<label for="default_language"> Default Language: </label>
							<input type="text" class="form-control" placeholder="English-US"
								value="{{ organization.default_language }}" id="default_language"
								name="default_language" />
							<span id="languageHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
						<div class="col-md-6" id="div_theme_name">
							<label for="theme_color"> Theme Color: </label>
							<input type="text" class="form-control" placeholder="Theme Color"
								value="{{ organization.theme_color }}" id="theme_color" name="theme_color" />
							<span id="themeHelpBlock" class="help-block hikaya-hide"
								>Field is required</span>
						</div>
					</div>
				</div>
			</div>
			<!-- end of other settings -->

			<!-- start of form library settings-->
			<div class="panel panel-default">
				<div class="panel-heading">Form Library Labels</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6 default-setting" id="div_beneficiary_name">
							<label for="beneficiary"> Beneficiary: </label>
							<input type="text" class="form-control" placeholder="Beneficiary"
								value="{{ organization.beneficiary_label }}" id="beneficiary" name="beneficiary_label" />
							<span id="beneficiaryHelpBlock" class="help-block hikaya-hide"
								>Field is required</span> 
						</div>
						<div class="col-md-6 default-setting" id="div_distribution_name">
							<label for="distribution"> Distribution: </label>
							<input type="text" class="form-control" placeholder="Distribution"
								value="{{ organization.distribution_label }}" id="distribution" name="distribution_label" />
							<span id="distributionHelpBlock" class="help-block hikaya-hide"
								>Field is required</span> 
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 default-setting" id="div_training_name">
							<label for="training"> Training: </label>
							<input type="text" class="form-control" placeholder="Training"
								value="{{ organization.training_label }}" id="training" name="training_label" />
							<span id="trainingHelpBlock" class="help-block hikaya-hide"
								>Field is required</span> 
						</div>
					</div>
				</div>
			</div>
			<!-- end of form library settings -->

			<div class="row">
				<div class="text-right admin-form-actions">
					<button type="reset" id="reset-config-form" class="btn btn-close">Close</button>
					<button type="submit" id="config_submit_btn" class="btn btn-success" disabled>Save</button>
				</div>
			</div>
		</form>

	</div>
</div>
<script>
	$('#reset-config-form').click(() => {
		document.location.href = '/accounts/admin/profile_settings'
	})
</script>
{% block extra_js_in_body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/admin.js"></script>
{% endblock %}
{% endblock content %}