{% extends "base.html" %} {% block content %}
<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'admin_profile_settings' %}">Organization Settings</a></li>
    <li class="active">Usage</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Organization Settings</h4>
    </div>


  </div>

  <div class="bg-white p-10 pt-0">
    <div class="mb-10">
      {% include 'admin/sections/side-nav.html' %}
    </div>
  </div>
</div>

{% endblock content %}