{% extends "base.html" %} 
{% block content %}
<div class="container">
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li><a href="{% url 'admin_profile_settings' %}">Organization Settings</a></li>
		<li class="active">Profile</li>
	</ul>
	{% endblock %}
	
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Organization Settings</h4>
    </div>
  </div>
  <div class="row admin-content-row">
    <div class="col-md-2">
      {% include 'admin/sections/side-nav.html' %}
    </div>
    <div class="col-md-10 admin-content">
      <h3>Organization logo</h3>
      <div>
		{% if form.errors %} 
			{% for field in form %} 
				{% for error in field.errors %}
					<div class="alert alert-error">
					<strong>{{ error | escape }}</strong>
					</div>
				{% endfor %} 
			{% endfor %} 
			{% for error in form.non_field_errors %}
				<div class="alert alert-error">
				<strong>{{ error | escape }}</strong>
				</div>
			{% endfor %} 
		{% endif %} 
		{% load crispy_forms_tags %} 
		{% crispy form form.helper %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
