{% extends "base.html" %} {% block content %}
<div class="container">
		{% block breadcrumbs %}
		<ul class="breadcrumb">
			<li><a href="{% url 'admin_profile_settings' %}">Organization Settings</a></li>
			<li class="active">Profile</li>
		</ul>
		{% endblock %}
		
	  <!-- Sub navigation -->
	  <div class="sub-navigation">
			<div class="sub-navigation-header">
				<h4 class="page-title">
					My Profile
				</h4>
			</div>
			<!-- <div class="sub-navigation-actions">
				<a href="/bookmark_list">Bookmarks</a>
			</div> -->
		</div>
	  <div class="row admin-content-row">
		<div class="col-md-2">
			{% include 'admin/sections/side-nav.html' %}
		</div>
		<div class="col-md-10 admin-content">
			{% if form.errors %}
			<div class="help-block">
				{% for field in form %} {% for error in field.errors %}
				<strong
					><i>{{ field.label }}</i> - {{ error | escape }}</strong
				>&nbsp; {% endfor %} {% endfor %}
			</div>
			{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error | escape }}</strong>
			</div>
			{% endfor %} {% endif %}

			{% if form.errors %} {% for field in form %} {% for error in field.errors %}
			<div class="alert alert-error">
				<strong>{{ error | escape }}</strong>
			</div>
			{% endfor %} {% endfor %} {% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error | escape }}</strong>
			</div>
			{% endfor %} 
			{% endif %} 
			{% load crispy_forms_tags %} 
			<form method="POST" action="">
				{% crispy user_form user_form.helper %}
				{% crispy form form.helper %}
				<div>
					<button type="Reset" class="btn btn-md btn-default" id="id-reset-btn">Close</button>
					<button type="Submit"class="btn btn-md btn-success" >Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(() => {
		$("#id_organization").select2({theme: 'bootstrap'});
		$("#id_organizations").select2({theme: 'bootstrap'});
		$("#id_user").select2({theme: 'bootstrap'});
		$("#id_user").prop('disabled', true)
	})
	$('#id-reset-btn').click(() => {
		window.location.href = '/accounts/admin/users/all/all/';
	});
</script>

{% endblock content %}
