{% extends "base.html" %} {% block content %}
{% include 'admin/user_invite_modal.html' %}
<div class="admin-container">
	<div class="row">
		<div class="col-md-3">
			{% include 'admin/sections/side-nav.html' %}
		</div>
		<div class="col-md-9 admin-content">
			{% block breadcrumbs %}
			<ul class="breadcrumb">
				<li><a href="/accounts/admin/users/all/all/">User(s)</a></li>
				<li class="active">Pending Invitation(s)</li>
			</ul>
			{% endblock %}

			<!-- Sub navigation -->
			<div class="sub-navigation">
				<div class="sub-navigation-header">
					<h4 class="page-title">
						Pending User Invitation(s)
					</h4>
				</div>
				<div class="sub-navigation-actions">
					<div class="sub-nav-item">
                        <div class="btn-group" role="group">
                            <button
                                type="button"
                                class="btn btn-sm btn-default dropdown-toggle"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                Organization(s)
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/accounts/admin/users/invitations/list/0/">--All--</a></li>
                                {% for org in organizations %}
                                <li>
                                <a href="/accounts/admin/users/invitations/list/{{org.id}}/">{{ org.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			<div>
				<table class="table" id="invitationTable">
					<thead>
						<tr>
							<th>Email</th>
							<th>Invitation Date</th>
							<th>Status</th>
							<th>Organization</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for item in invitations%}
						<tr>
							<td>{{ item.email }}</td>
							<td>{{ item.invite_date }}</td>
							<td>{{ item.status }}</td>
							<td>{{ item.organization }}</td>
							<td class="text-right">
								<!-- Action buttons -->
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-default">
										More
									</button>
									<button
										type="button"
										class="btn btn-default btn-sm dropdown-toggle"
										data-toggle="dropdown"
										aria-haspopup="true"
										aria-expanded="false"
									>
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li class="text-danger">
											<a
												href="/accounts/admin/user/edit/{{user.id}}/"
												>Edit</a
											>
										</li>
										{% if user.user.is_active %}
											{% if user.user == request.user %}
											<li class="disabled">
												<a href="">Deativate</a>
											</li>
											{% else %}
											<li>
												<a 
													href="/accounts/admin/user/updatestatus/{{user.user.id}}/deactivate/">
													Deativate
												</a>
											</li>
											{% endif %}
										{% else %}
										<li>
											<a 
												href="/accounts/admin/user/updatestatus/{{user.user.id}}/activate/">
												Activate
											</a>
										</li>
										{% endif %}
										<li class="text-danger">
											<a
												href="#deleteItemModal{{ user.id }}"
												data-toggle="modal"
												onclick="setItemToDelete({{ user.id }})"
												data-target="#deleteItemModal{{ user.id }}"
											>
												Delete
											</a>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% block extra_js_in_body %}
	<script>
        $(document).ready(() => {
            $('#invitationTable').DataTable();
        });
    </script>
{% endblock %}
{% endblock content %}
