<div
  class="modal fade"
  id="inviteUserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="inviteUserModalLabel"
>
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="inviteUserLabel">
          Invite people
        </h4>
      </div>

      <form id="inviteUserForm" action="" method="POST">
        <div class="modal-body">
          {% csrf_token %}

          <div class="form-group">
            <label for="project_name">Email Address</label>
            <select
              class="form-control"
              id="id_user_email_list"
              name="user_email_list"
              multiple="true"
              required
              aria-describedby="emailsHelpBlock"
            >
              <option value=""></option>
            </select>
            <span id="emailsHelpBlock" class="help-block">
              Multiple email addresses can be added. To save, click ‘ENTER’ once you are done typing an email address.
            </span>
          </div>

          <div class="form-group">
            <label for="organization">Organization</label>
            <select
              class="form-control"
              id="id_organization"
              name="organization"
              required
            >
              <option value=""></option>
              {% for item in organizations.all %} 
                {% if item.name %}
                <option value="{{ item.id }}">{{ item.name | truncatechars:50 }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="reset" class="btn btn-close" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-success" id="inviteUser">
            Invite
          </button>
        </div>
      </form>
    </div>
  </div>
</div>