<div class="btn-group" role="group" aria-label="...">
	<div class="btn-group" role="group">
		<button
			type="button"
			class="btn btn-sm btn-default dropdown-toggle"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>
			Role(s)
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#all">--All--</a></li>
			<li><a href="">Org Admin</a></li>
			<li><a href="">View Only</a></li>
		</ul>
	</div>

	<div class="btn-group" role="group">
		<button
			type="button"
			class="btn btn-sm btn-default dropdown-toggle"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>
			Status
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
            <li><a href="#all">--All--</a></li>
            <li><a href="">Active</a></li>
            <li><a href="">Inactive</a></li>
		</ul>
	</div>
</div>
