<form method="POST">
    <div class="modal-body">
        {% csrf_token %}
        <div :class="{ 
            'form-group': true, 
            'has-error': errors.has('name')
            }"
        >
        <label for="name">[[ household_label ]] name*</label>
            <input
                type="text"
                name="name"
                :class="{ 
                    'form-control': true, 
                    'is-danger': errors.has('name') 
                }"   
                v-model="name" 
                v-validate="'required'"
                :placeholder="household_label"
            />
            <span v-show="errors.has('name')" class="help is-danger">[[ errors.first('name') ]]</span>
        </div>

        <div :class="{
              'form-group': true
          }"
        >
        <label for="programs">Program</label>
        <v-select
            multiple
            class="hikaya-select"
            inputId="programs"
            name="programs"
            label="name"
            :searchable="false"
            v-model="programs"
            placeholder="Choose program"
            :options="programsList"
            :reduce="program => program.id"
        > 
        </v-select>

      </div>

      <div class="form-group" id="street">
        <label for="street">Street</label>
        <input
            type="text"
            id="street"
            name="street"
            :class="{ 
                'form-control': true, 
                }"
            v-model="street" 
            placeholder="street"
        />
      </div>


      <div class="form-group" id="city">
        <label for="city">City</label>
        <input
            type="text"
            id="city"
            name="city"
            :class="{ 
                'form-control': true, 
                }"
            v-model="city" 
            placeholder="city"
        />
      </div>


      <div class="form-group" id="country">
        <label for="country">Country</label>
        <input
            type="text"
            id="country"
            name="country"
            :class="{ 
                'form-control': true, 
                }"
            v-model="country" 
            placeholder="country"
        />
      </div>

      <div class="form-group" id="postal_code">
        <label for="postal_code">Postal Code</label>
        <input
            type="text"
            id="postal_code"
            name="postal_code"
            :class="{ 
                'form-control': true, 
                }"
            v-model="postal_code" 
            placeholder="postal code"
        />
      </div>

      <div class="form-group" id="primary_phone">
        <label for="primary_phone">Primary Phone</label>
        <input
            type="primary_phone"
            id="primary_phone"
            name="primary_phone"
            :class="{ 
                'form-control': true, 
                }"
            v-model="primary_phone" 
            placeholder="primary phone"
        />
      </div>

      <div class="form-group" id="secondary_phone">
        <label for="secondary_phone">Secondary Phone</label>
        <input
            type="text"
            id="secondary_phone"
            name="secondary_phone"
            :class="{ 
                'form-control': true, 
                }"
            v-model="secondary_phone" 
            placeholder="secondary phone"
        />
      </div>

      <div class="form-group" id="email">
        <label for="email">Street</label>
        <input
            type="text"
            id="email"
            name="email"
            :class="{ 
                'form-control': true, 
                }"
            v-model="email" 
            placeholder="email"
        />
      </div>
      
    </div>
</form>