<div id="profile_type">
  <!-- Sub navigation -->
<div class="sub-navigation">
    <div class="sub-navigation-header">
        <h4 class="page-title">{{user.activity_user.organization.site_label}} Types List</h4>
    </div>
    <div class="sub-navigation-actions"> 
        <div class="sub-nav-item">
          <div class="btn-group" role="group" aria-label="...">
              <a
              role="button"
              class="btn btn-sm btn-primary"
              id="show-modal" 
              @click="showModal = true"
              >
              <i class="fa fa-plus"></i> {{user.activity_user.organization.site_label}} Type
              </a>
          </div>
          <!-- Profile Type create modal -->
          <modal v-if="showModal" @close="showModal = false">
            <div slot="body">
              {% include 'admin/component_configs/forms/profile_type_form.html' %}
            </div>
            <div slot="footer">
              {% include 'ui-components/quick_entry_modal_footer.html' %}
            </div>
            <h4 slot="header">[[modalHeader]]</h4>
          </modal>
          <!-- Profile Type delete modal -->
          <modal v-if=showDeleteModal @close="showDeleteModal = false">
            <div slot="body">
              <p>Are you sure you want to delete <b>[[ itemToDelete.profile ]]</b></p>
            </div>
            <div slot="footer">
              <div class="text-right">
                <button type="submit" class="btn btn-close" @click="showDeleteModal = false">
                  Cancel
                </button>
                <button
                  class="btn btn-danger"
                  @click=deleteProfileType(itemToDelete.id)
                >
                  Delete
                </button>
              </div>
            </div>
            <h4 slot="header">[[modalHeader]]</h4>
          </modal>
        </div>
    </div>
</div>

<!-- Table -->
<table class="table" id="profileTypesTable" v-if="profileTypes.length">
    <thead>
        <tr>
        <th>Type</th>
        <th>Create Date</th>
        <th>Edit Date</th>
        <th></th>
        </tr>
    </thead>

    <tbody>
      <tr v-cloak v-for="profileType in profileTypes" v-if="profileType.profile">
        <td>
          <a href="/workflow/profile_type_update/{{profile_type.id}}/" data-toggle="tooltip" title="{{profileType.profile}}">
            [[ profileType.profile ]]
          </a>
        </td>
        <td>
           [[ formatDate(profileType.create_date) ]]
        </td>
        <td>
            [[ formatDate(profileType.edit_date) ]]
          </td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">Actions</button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a 
                class="force-link"
                @click=toggleModal(profileType)
                >Edit</a></li>
              <li>
                <a 
                  class="text-danger force-link"
                  @click=toggleDeleteModal(profileType)
                >Delete</a>
              </li> 
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% include 'ui-components/vue_modal.html'%}

{% block extra_js_in_body %}
<script src="{{ STATIC_URL }}vue.js/profile_type.js"></script>
{% endblock extra_js_in_body %}

