{% block content %}
{% load i18n %}

<script type='text/javascript' > 
    var myURL = "{% url 'add-collected-data' %}"; 
  </script>
<script type="text/javascript" src="{{ STATIC_URL }}js/collectdata.js"></script>

<div class="modal fade" id="addCollectedDataModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="form">
        <div class="modal-content">
            <form id="addCollectedDataForm">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add results</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group" id="div_periodic_target">
                                    <label for="id_periodic_target">Target period*</label>
                                    <select name="periodic_target" id="id_periodic_target" class="form-control target_period" data-tag="" data-tag2="">
                                    </select>
                                    <span id="periodHelpBlock" class="help-block hikaya-hide">Target period is required</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group" id="div_date_collected">
                                    <label for="dateCollected">Date collected</label>
                                    <input type="text" id="dateCollected" name="date_collected" class="form-control" placeholder="Enter date collected" autocomplete="off"/>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="id_target">Target value</label>
                                    <input type="number" id="id_target" name="target" class="form-control"
                                        value="" readonly>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group" id="div_actual_value">
                                    <label for="id_actual">Actual value*</label>
                                    <input type="number" name="actual" id="id_actual" class="form-control" required>
                                    <span id="actualHelpBlock" class="help-block hikaya-hide">Actual value is required</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col">
                                <div class="form-group" id="div_evidence">
                                    <label for="id_evidence">Evidence</label>
                                    <select name="documentation" id="id_evidence" class="form-control">
                                        <option value=""></option>
                                        {% for document in get_documentation %} {% if document.name %}
                                        <option value="{{ document.id }}">{{ document.name }}</option>
                                        {% endif %} {% endfor %}
                                    </select>
                                    <span id="evidenceHelpBlock" class="help-block hikaya-hide">Evidence is required</span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row mb-15">
                            <div class="col-md-8 col-sm-12">
                                <div class="disaggregation">
                                    <h4>Disaggregation</h4>
                                    <button type="button" class="btn btn-default btn-sm disabled"
                                        id="add_disaggregation">Add
                                        disaggregation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-close" data-dismiss="modal">
                        Cancel
                    </button>
                    <button id="addCollectedDataAndNew" type="button" class="btn btn-outline-success">
                        Save &amp; New
                    </button>
                    <button id="addCollectedData" type="button" class="btn btn-success">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}