{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/0/0/#hidden-{{ self.program }}">Indicators</a></li>
  <li class="active">Output Form</li>
</ol>

{% endblock %}
{% block page_title %}Collected Indicator Data{% endblock %}

{% block content %}
    {% include "form_guidance.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //Searchable select option for service indicator
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_site").select2();
            $("#id_tola_table").select2();
            $("#id_evidence").select2();
            $("#id_agreement").select2();

            $('#myModal').on('hidden.bs.modal', function (e) {
                var sel = $("#service_table option:selected");
                $.get('/api/tolatable/?table_id=' + sel.val() , function(data){
                    if (data.length == 1) {
                        $("#id_tola_table").append($("<option></option>")
                            .attr("value", data[0].id)
                            .text(sel.text()));
                    } else {
                        console.log('something wrong');
                    }

                });
            })
        });
    </script>

    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
	{% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->

{% endblock content %}
