{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %} {% block content %}

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/">My Dashboard</a></li>
    <li><a href="/indicators/home/0/0/0/">Indicators</a></li>
    <li class="active">Results</li>
  </ul>
  {% endblock %}

  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ indicator.name }}
      </h4>
    </div>
  </div>

  <form method="POST" class="bg-white p-10">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-sm-6">
        {{form.periodic_target | as_crispy_field }}
      </div>

      <div class="col-md-4 col-sm-6">
        {{form.date_collected | as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="form-group">
          <label for="id_target">Target</label>
          <input
            type="number"
            id="id_target"
            class="form-control"
            value="{{indicator.lop_target}}"
            readonly
          />
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        {{form.achieved | as_crispy_field}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col">
        {{form.evidence | as_crispy_field}}
      </div>
    </div>

    <hr />

    <div class="row mb-15">
      <div class="col-md-8 col-sm-12">
        <div class="disaggregation">
          <h4>Disaggregation</h4>
          <button
            type="button"
            class="btn btn-default btn-sm disabled"
            id="add_disaggregation"
          >
            Add Disaggregation
          </button>
        </div>
      </div>
    </div>

    <div class="form-group text-right">
      <a class="btn btn-close" role="button" href="/indicators/home/0/0/0/"
        >Cancel</a
      >
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
</div>

<script>
  $(document).ready(() => {
    $("#id_periodic_target").select2({ theme: "bootstrap" });
    $("#id_evidence").select2({ theme: "bootstrap" });
  });

  // add new disaggregation
  $("#add_disaggregation").click(() => {});
</script>

{% endblock content %}
