
{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_site").select2();
            $("#id_tola_table").select2();
            $("#id_evidence").select2();
            $("#id_agreement").select2();

            $('#tolatablemodal').on('hidden.bs.modal', function (e) {
                var sel = $("#service_table option:selected");
                $("#id_tola_table").append($("<option></option>")
                            .attr("value", sel.val())
                            .text(sel.text()));
            });

            var achieved_formatted_value = parseFloat($("#id_achieved").val()).toFixed(2).replace(/[.,]00$/, "");
            $("#id_achieved").val(achieved_formatted_value);

            $('.datepicker').datepicker({dateFormat: "M d, yy"});
            var id_date_collected = $("#id_date_collected");
            if (id_date_collected.val() != '') {
                id_date_collected.val(formatDate(id_date_collected.val()));
                // validate upon loading modal
                validatePeriodicTarget();
            }
            // target_frequency is defined in the indicator_list.html file
            var target_frequency = parseInt(`{{object.indicator.target_frequency|safe}}`);
            // indicator_id is defined in the indicator_list.html file.
            // indicator_id = `{{indicator.id|safe}}`;
            var ptlen = `{{object.indicator.periodictarget_set.all.count|safe}}`;
            var collectedRecordId = parseInt(`{{object.id|safe}}`);

            // if it is a new record and target_frequency is LOP_ONLY then set periodic_target to LOP_ONLY
            if (isNaN(collectedRecordId)) {
                target_frequency = parseInt(`{{ indicator.target_frequency|safe}}`);
                if (!isNaN(target_frequency) && target_frequency == 1) {
                    // if target_frequency is 1 (LOP_Only) then there has to be exactly one periodic_target
                    var pt_id = parseInt(`{{ indicator.periodictarget_set.all.0.id|safe}}`);
                    $("#id_periodic_target").val(pt_id);
                }
                if (target_frequency != 1 && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                }
            } else {
                // disable the periodic_target dropdown unless it is set to MIDLINE_ENDLINE or EVENT
                if (!isNaN(target_frequency) && target_frequency != 2 && target_frequency != 8) {
                    lockPeriodicTargetDropdown();
                } else {
                    $("#id_periodic_target option:not(:selected)").attr("disabled", false);
                    $("#id_periodic_target").attr("readonly", false);
                }
            }
        });

        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });
    </script>
    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {% crispy form %}


{% endblock content %}
