{% extends "base.html" %} {% block content %}

<div class="container">
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Indicator Disaggregation Report</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "indicators/filter.html"%}
      </div>
    </div>
  </div>

  <div id="tdisrep_table_div" class="table-responsive">
    <table id="disrep_table" class="table table-bordered">
      <thead>
        <tr>
          <th class="noExport" style="display:none;" rowspan="2">PID</th>
          <th class="noExport" style="display:none;" rowspan="2">
            IndicatorID
          </th>
          <th rowspan="2">Number</th>
          <th rowspan="2">Indicator</th>
          <th rowspan="2">LOP Target</th>
          <th rowspan="2">Actual Total</th>
          <th colspan="3" class="text-center">Disaggregation</th>
        </tr>
        <tr>
          <th>Type</th>
          <th>Label</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %} {% for d in row.disdata %}
        <tr>
          <td style="display:none;">{{ row.PID }}</td>
          <td style="display:none;">{{ row.IndicatorID }}</td>
          <td>{{ row.INumber | default_if_none:'' }}</td>
          <td>{{ row.Indicator }}</td>
          <td>
            {{ row.LOP_Target | floatformat:'-2' | default_if_none:'' }}
          </td>
          <td>{{ row.Overall | floatformat:'-2' }}</td>
          <td>{{ d.DType }}</td>
          <td>{{ d.Disaggregation }}</td>
          <td>{{ d.Actuals | floatformat:'-2' }}</td>
        </tr>
        {% empty %}
        <tr>
          <td style="display:none;">{{ row.PID }}</td>
          <td style="display:none;">{{ row.IndicatorID }}</td>
          <td>{{ row.INumber | default_if_none:'' }}</td>
          <td>{{ row.Indicator }}</td>
          <td>
            {{ row.LOP_Target | floatformat:'-2' | default_if_none:'' }}
          </td>
          <td>
            {{ row.Overall | floatformat:'-2' | default_if_none:'' }}
          </td>
          <td>No Disaggregation</td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  var disrep_table;
  $(document).ready(function() {
    $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
      var programId = $('#program_filter_value').data('programid');
      var programIdInTable = parseInt(data[0]) || 0;

      var indicatorId = $('#indicator_filter_value').data('indicatorid');
      var indicatorIdInTable = parseInt(data[1]) || 0;

      var typeId = $('#type_filter_value').data('typeid');
      var typeIdInTable = parseInt(data[2]) || 0;

      if (programId == 0) programId = undefined;
      if (indicatorId == 0) indicatorId = undefined;
      if (typeId == 0) typeId = undefined;

      if (
        (isNaN(programId) && isNaN(indicatorId) && isNaN(typeId)) ||
        (isNaN(programId) && isNaN(indicatorId) && typeId == typeIdInTable) ||
        (isNaN(programId) &&
          indicatorId == indicatorIdInTable &&
          isNaN(typeId)) ||
        (isNaN(programId) &&
          indicatorId == indicatorIdInTable &&
          typeId == typeIdInTable) ||
        (programId == programIdInTable &&
          isNaN(indicatorId) &&
          isNaN(typeId)) ||
        (programId == programIdInTable &&
          isNaN(indicatorId) &&
          typeId == typeIdInTable) ||
        (programId == programIdInTable &&
          indicatorId == indicatorIdInTable &&
          isNaN(typeId)) ||
        (programId == programIdInTable &&
          indicatorId == indicatorIdInTable &&
          typeId == typeIdInTable)
      ) {
        return true; //
      }
      //if ((indicatorIdInTable == indicatorId)|| (indicatorId == undefined)) return true;
      return false;
    });

    // $("#dropdownProgram").html("{{ program_selected.gaitid}} - {{ program_selected.name }}" + ' <span class="caret"></span>');

    disrep_table = $('#disrep_table').DataTable({
      bSort:true,
      iDisplayLength:100,
      lengthMenu:[[20, 50, 100, -1], [20, 50, 100, 'All']],
      dom:
        "<'row'<'col-sm-2'B><'col-sm-5'l><'col-sm-5'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
      buttons:[
        {
          extend:'csv',
          title:'Indicator Disaggregation Report',
          text:'Export to CSV',
          exportOptions:{ columns:'thead th:not(.noExport)' },
        },
      ],
    });
  });

  $('#id_filtersDropdown').on(
    'programFilterUpdated',
    '#id_programs_filter_dropdown',
    function(e) {
      var programId = $('#program_filter_value').data('programid');
      window.location.href = '/indicators/disrep/' + programId + '/';
    },
  );

  $('#id_filtersDropdown').on(
    'indicatorFilterUpdated',
    '#id_indicators_filter_dropdown',
    function(e) {
      disrep_table.draw();
    },
  );

  function export_to_pdf() {
    var programId = '{{ program_id }}'; // $("#program_filter_value").data('programid');
    if (programId != undefined && programId > 0) {
      window.location.href = '/indicators/disrepprint/' + programId + '/';
    } else {
      alert('Select a program before exporting it to PDF');
    }
  }
</script>

{% endblock content %}
</div>
