{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/0/0/0/">Indicators</a></li>
  <li class="active">Reports</li>
</ol>
{% endblock bread_crumb %}
{% load render_table from django_tables2 %}

{% block page_title %}Indicator Print/Grid Report{% endblock %}

{% block content %}

<h3>{{ getProgram.gaitid }} - {{ getProgram.name }}</h3>

    <!-- Table -->
    <!--
    'programs', 'sector','indicator_type', 'name', 'number', 'source', 'definition', 'disaggregation', 'baseline', 'lop_target', 'means_of_verification', 'data_collection_method', 'responsible_person',
                    'method_of_analysis', 'information_use', 'reporting_frequency','create_date', 'edit_date') -->
    <div class="table-responsive">
    <table class="table table-striped" border="1">
        <tr>
            <th>Indicator type</th>
            <th>Level</th>
            <th>Objectives</th>
            <th>Strategic Objectives</th>
            <th>Number</th>
            <th>Name</th>
            <th>KPI</th>
            <th>Source</th>
            <th>Definition</th>
            <th>Disaggregation</th>
            <th>Baseline</th>
            <th>LOP Target</th>
            <th>Means of Verification</th>
            <th>Data Collection Method</th>
            <th>Responsible Person</th>
            <th>Method of Analysis</th>
            <th>Information Use</th>
            <th>Reporting Frequency</th>
            <th>Comments</th>
        </tr>
        {% for indicator in getIndicators %}
        <tr>
            <td>{{ indicator.indicator_types }}</td>
            <td>{{ indicator.levels }}</td>
            <td>{{ indicator.objectives_list }}</td>
            <td>{{ indicator.strategicobjectives_list }}</td>
            <td>{{ indicator.number }}</td>
            <td>{{ indicator.name }}</td>
            <td>{{ indicator.key_performance_indicator }}</td>
            <td>{{ indicator.source }}</td>
            <td>{{ indicator.definition }}</td>
            <td>{{ indicator.disaggregations }}</td>
            <td>{{ indicator.baseline }}</td>
            <td>{{ indicator.lop_target }}</td>
            <td>{{ indicator.means_of_verification }}</td>
            <td>{{ indicator.data_collection_method }}</td>
            <td>{{ indicator.responsible_person }}</td>
            <td>{{ indicator.method_of_analysis }}</td>
            <td>{{ indicator.information_use }}</td>
            <td>{{ indicator.reporting_frequency }}</td>
            <td>{{ indicator.comments }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

<br/>

<button type="submit" class="btn btn-success" onClick="location.href='/indicators/export/0/{{ getProgram.id }}/0/'">Export All</button>

{% endblock content %}