{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li class="active">Indicators</li>
</ol>
{% endblock %}
{% block page_title %}Indicator Planning Tool{% endblock %} 

{% block content %}

    <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Programs
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/home/0/0/0/"> -- All --</a></li>
    {% for program in getPrograms %}
        <li role="presentation"><a role="menuitem" tabindex="-1" href="/indicators/home/{{ program.id }}/0/0/">{{ program.gaitid}} - {{ program.name }}</a></li>
    {% endfor %}
    </ul>
    <a href="/indicators/indicator" class="btn btn-large btn-success">New Indicator</a>
    </div>
    <br/>
    <div class="jumbotron">
        <h3>Indicators</h3>
        {% regroup getIndicators by program.gaitid as programs_by_gaitid %}
        {% for item in programs_by_gaitid %}
        <div class="jumbotron dashboard">
            <h4>{{ item.program.gaitid }} - {{ item.program.name }}</h4>
            {% if item.programs.agreement.indicator.all %}
                <!-- Table -->
                <table class="table">
                    <tr>
                        <th>Date Created</th>
                        <th>Indicator Type</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Source</th>
                        <th>Definition</th>
                    </tr>
                    {% for indicator in item.programs.agreement.indicator.all %}
                    <tr>
                        <td><a href="/indicators/editIndicator/{{ indicator.id }}">{{ indicator.create_date}}</a></td>
                        <td>{{ indicator.indicator_type}}</td>
                        <td>{{ indicator.name}}</td>
                        <td>{{ indicator.number}}</td>
                        <td>{{ indicator.source}}</td>
                        <td>{{ indicator.definition}}</td>
                        <td><a href="/indicators/editIndicator/{{ indicator.id }}" class="btn-xs btn-info">Edit</a>&nbsp;<a href="/indicators/indicator_delete/{{ indicator.id }}" class="btn-xs btn-danger">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
               <p>No Indicators</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}