{% extends "base.html" %}
{% load i18n %}

{% block content %}

<script>
  $(document).ready(function(){
    var hash = window.location.hash;
    if (hash !='') {
        $('.nav-tabs a[href="' + hash + '"]').tab('show');
    }
});
</script>


<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="/">{% trans 'My Dashboard' %}</a></li>
    <li><a href="/indicators/home/0/0/0/">{% trans 'Indicators' %}</a></li>
    <li class="active">{{ indicator.name }}</li>
  </ul>
  {% endblock %}

  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ indicator.name }}
      </h4>
    </div>
  </div>

  <form id="indicator_data" class="bg-white p-10 pt-0" method="POST" novalidate>
    {% csrf_token %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a
          href="#indicator_summary"
          aria-controls="indicator_summary"
          role="tab"
          data-toggle="tab"
          >{% trans 'Summary' %}</a
        >
      </li>
      <li role="presentation">
        <a
          href="#performance"
          aria-controls="performance"
          role="tab"
          data-toggle="tab"
          >{% trans 'Performance' %}</a
        >
      </li>
      <li role="presentation">
        <a
          href="#disaggregation"
          aria-controls="disaggregation"
          role="tab"
          data-toggle="tab"
          >{% trans 'Disaggregation' %}</a
        >
      </li>
      <li role="presentation">
        <a href="#targets" aria-controls="targets" role="tab" data-toggle="tab"
          >{% trans 'Targets' %}</a
        >
      </li>
      <li role="presentation">
        <a
          href="#data_acquiscition"
          aria-controls="data_acquiscition"
          role="tab"
          data-toggle="tab"
          >{% trans 'Data Acquisition' %}</a
        >
      </li>

      <li role="presentation">
        <a
          href="#analysis_and_reporting"
          aria-controls="analysis_and_reporting"
          role="tab"
          data-toggle="tab"
          >{% trans 'Analysis and Reporting' %}</a
        >
      </li>

      <li role="presentation">
        <a
          href="#approval"
          aria-controls="approval"
          role="tab"
          data-toggle="tab"
          >{% trans 'Approval' %}</a
        >
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="indicator_summary">
        {% include "./form-sections/summary.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="performance">
        {% include "./form-sections/performance.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="disaggregation">
        {% include "./form-sections/disaggregation.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="targets">
        {% include "./form-sections/targets.html" %}
      </div>
      <div role="tabpanel" class="tab-pane" id="data_acquiscition">
        {% include "./form-sections/data_acquiscition.html" %}
      </div>

      <div role="tabpanel" class="tab-pane" id="analysis_and_reporting">
        {% include "./form-sections/analysis_and_reporting.html" %}
      </div>

      <div role="tabpanel" class="tab-pane" id="approval">
        {% include "./form-sections/approval.html" %}
      </div>
    </div>

    <div class="form-group text-right">
      <a role="button" href="/indicators/home/0/0/0/" class="btn btn-close"
        >{% trans 'Cancel' %}</a>
      <button type="submit" class="btn btn-success">{% trans 'Save' %}</button>
    </div>
  </form>
</div>

{% endblock content %}
