{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include './add_indicator_modal.html' %}
{% include './collected_data_table2.html'%}
{% include 'ui-components/vue_modal.html'%}

{{ get_documentation|json_script:"documentation-data" }}
<div id="indicators_list" class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans 'My Dashboard' %}</a></li>
    <li class="active">{{ user.activity_user.organization.indicator_label }}</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ user.activity_user.organization.indicator_label }} {% trans 'List' %}
      </h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <span class="text-filter">{% trans 'Filter by' %}</span>
      </div>
      <div class="sub-nav-item">
        <!-- filters -->
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{ user.activity_user.organization.level_1_label }}
              <i class="fa {% if program_id == 0 %} fa-angle-down {% else %} fa-filter {% endif %}"></i>
            </button>
            <ul class="dropdown-menu">
              <li class="{% if program_id == 0 %} active {% endif %}"><a href="/indicators/home/0/0/0/">-- {% trans 'All' %} --</a>
              </li>
              <li class="divider"></li>
              {% for program in get_programs %} {% if program.name %}
              <li class="{% if program_id == program.id %} active {% endif %}">
                <a href="/indicators/home/{{program.id}}/0/0/">{{ program.name | truncatechars:30 }}</a>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addIndicatorModal">
            <i class="fa fa-plus"></i> {{ user.activity_user.organization.indicator_label }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table" id="indicatorsTable">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Level' %}</th>
        <th>{{user.activity_user.organization.level_1_label}}</th>
        <th>{% trans 'Target' %}</th>
        <th>{% trans 'Actual' %}</th>
        <th class="text-right">{% trans 'Actions' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for indicator in get_indicators %}

      <tr>
        <td class="details-control" data-indicator-id="{{ indicator.id }}" data-program-id="{{ program_id }}">
          <span class="expandable collapsed" data-toggle="collapse" href="#row-{{indicator.id}}" aria-expanded="false"
            aria-controls="row-{{indicator.id}}">
            <button class="btn btn-link"><i class="fa fa-angle-right"></i></button>
          </span>
          <a href="{% url 'indicator_update' indicator.id %}" data-toggle="tooltip" title="{{ indicator.name }}">
            {{ indicator.name | truncatechars:50}}
          </a>
          <!-- Needed to rotate icon on click -->
          <div class="collapsed" id="row-{{indicator.id}}"></div>
        </td>
        <td>
          {{indicator.levels}}
        </td>
        <td data-toggle="tooltip" title="{{ indicator.programs }}">
          {{indicator.programs | truncatechars:50}}
        </td>
        <td>{{ indicator.lop_target }}</td>
        <td>{{ indicator.actual }}</td>
        <td class="text-right">
          <div class="btn-group">
            <a role="button" href="" class="btn btn-default btn-sm disabled">{% trans 'More' %}</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">{% trans 'Toggle Dropdown' %}</span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">{% trans 'Related' %}</li>
              <!-- <li><a href="">Results</a></li> -->
              <li><a @click="toggleTargetModal({{indicator.id}})">{% trans 'Target Periods' %}</a></li>
              <li><a href="/indicators/indicator_update/{{indicator.id}}/">{% trans 'Objectives' %}</a></li>
              <li><a href="/indicators/indicator_update/{{indicator.id}}/">{% trans 'Levels' %}</a></li>
              <li><a href="/indicators/indicator_update/{{indicator.id}}/">{% trans 'Sectors' %}</a></li>
              <li><a href="/indicators/indicator_update/{{indicator.id}}/#disaggregation">{% trans 'Disaggregations' %}</a></li>

              <li role="separator" class="divider"></li>
              <li><a class="" href="{% url 'indicator_update' indicator.id %}">{% trans 'Edit' %}</a></li>
              <li>
                <a class="text-danger"
                  href="#deleteIndicatorModal{{ indicator.id }}"
                  data-toggle="modal"
                  onclick="setIndicatorItemToDelete({{ indicator.id }})"
                  data-target="#deleteIndicatorModal{{ indicator.id }}">
                  {% trans 'Delete' %}</a></li>
            </ul>
          </div>
        </td>
        {% include './indicator_confirm_delete.html' %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <modal v-if="showModal" @close="showModal = false">
    <div slot="body">
      {% include 'indicators/forms/target_period_modal.html' %}
    </div>
    <div slot="footer">
      {% include 'indicators/forms/target_period_form_footer.html' %}
    </div>
    <h4 slot="header">[[modalHeader]]</h4>
  </modal>
  <modal v-if=showDeleteModal @close="showDeleteModal = false" >
    <div slot="body">
      <p>Are you sure you want to delete target periods? Any results added will also be deleted</p>
    </div>
    <div slot="footer">
      <div class="text-right">
        <button type="submit" class="btn btn-close" @click="showDeleteModal = false, modalHeader = 'Edit Target Modal'">
          Cancel
        </button>
        <button
          class="btn btn-danger"
          @click=deleteTargets()
        >
          Delete
        </button>
      </div>
    </div>
    <h4 slot="header">[[modalHeader]]</h4>
  </modal>

  <div class="modal fade" role="dialog" id="conform_modal_div" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Warning</h4>
        </div>
        <div class="modal-body" id="confirm_modal_body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" id="modal-btn-yes">
            Yes
          </button>
          <button type="button" class="btn btn-primary" id="modal-btn-no">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js_in_body %}
<script src="{{ STATIC_URL }}js/indicator_delete.js"></script>
<script src="{{ STATIC_URL }}vue.js/hikaya_select.js"></script>
<script src="{{ STATIC_URL }}vue.js/collected_data_table.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vue.js/indicators/target_period.js"></script>
{% endblock extra_js_in_body %}
