<div
	class="modal fade"
	id="deleteIndicatorModal{{indicator.id}}"
	tabindex="-1"
	role="dialog"
	aria-labelledby="deleteItemModalLabel"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="deleteIndicatorLabel">Confirm Delete</h4>
			</div>
			<div class="modal-body">
				<p>
					Are you sure you want to delete "<strong>{{ indicator.name }}"</strong>?
				</p>
				<div class="text-right">
					<button 
						type="submit"
						class="btn btn-close" 
						onclick="indicatorDeleteCancel()">
						Cancel
					</button>
					<button
						type="submit"
						class="btn btn-danger"
						onclick="indicatorDeleteItem()"
						id="deleteItem{{ indicator.id }}"
					>
						Delete
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
