{% extends "base.html" %} {% block content %} 
{% include './add_indicator_modal.html' %}

<script>
  $(document).ready(() => {
    $('#indicatorsTable').DataTable();
  })
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">{{ user.activity_user.organization.indicator_label }}</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {{ user.activity_user.organization.indicator_label }} List
      </h4>
    </div>
    <div class="sub-navigation-actions">
      <!-- sample action buttons -->
      <div class="sub-nav-item">
        <!-- filters -->
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Filter by {{ user.activity_user.organization.level_1_label }}
              <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">-- All --</a></li>
              <li class="divider"></li>
              {% for program in get_programs %} {% if program.name %}
              <li>
                <a href="#">{{ program.name }}</a>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <button
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addIndicatorModal"
          >
            <i class="fa fa-plus"></i> {{ user.activity_user.organization.indicator_label }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <table class="table" id="indicatorsTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Level</th>
        <th>{{user.activity_user.organization.level_1_label}}</th>
        <th>Target</th>
        <th>Actual</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for indicator in get_indicators %}
      <tr>
        <td>
          <a href="{% url 'indicator_update' indicator.id %}" 
            data-toggle="tooltip" 
            title="{{ indicator.name }}">
            {{ indicator.name | truncatechars:50}}
          </a>
        </td>
        <td>
          {{indicator.levels}}
        </td>
        <td data-toggle="tooltip" title="{{ indicator.programs }}">
          {{indicator.programs | truncatechars:50}}
        </td>
        <td>{{ indicator.lop_target }}</td>
        <td>{{ indicator.actual }}</td>
        <td class="text-right">
          <div class="btn-group">
            <a role="button" href="" class="btn btn-default btn-sm disabled">More</a>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Related</li>
              <li><a href="">Results</a></li>
              <li><a href="">Objectives</a></li>
              <li><a href="">Levels</a></li>
              <li><a href="">Sectors</a></li>
              <li><a href="">Disaggregations</a></li>

              <li role="separator" class="divider"></li>

              <li><a class="" href="{% url 'indicator_update' indicator.id %}">Edit</a></li>
              <li><a class="text-danger" href="">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div
    class="modal fade"
    role="dialog"
    id="conform_modal_div"
    aria-labelledby="mySmallModalLabel"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Warning</h4>
        </div>
        <div class="modal-body" id="confirm_modal_body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-close" id="modal-btn-yes">
            Yes
          </button>
          <button type="button" class="btn btn-primary" id="modal-btn-no">
            No
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
