{% extends "base.html" %}
{% block bread_crumb %}
<ol class="breadcrumb">
  <li><a href="/indicators/home/{{ program_id|default:0 }}/0/0/">Indicators</a></li>
  <li class="active">Indicator Form</li>
</ol>
{% endblock %}

{% block content %}
    <div id="numDataPoints" style="display: none;">{{ object.collecteddata_set.all.count }}</div>
    <div id="initialTargetFrequencyValue" style="display:none;">{{ object.target_frequency }}</div>
    {% if i_name %}
    <h4 style="font-size:21px; color:#94979c; margin-bottom: 38px; margin-left: 17px; margin-top: 25px;">
        {% if indicator.level.all %}
            {{ indicator.level.all|join:', ' }} indicator:
        {% endif %}
        {{i_name|truncatechars:300}}
    </h4>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/select2.min.js"></script>
    <link href="{{ STATIC_URL }}css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //Searchable select option for service indicator
        $(document).ready(function() {
            /* add select2 js library to the indicator select box */
            $("#id_program").select2().on("select2:selecting select2:unselecting", function(e) {
                e.preventDefault();
            });
            $("#id_strategic_objectives").select2();
        });
    </script>

    {% if form.errors %}
        <div class="help-block">
        {% for field in form %}
            {% for error in field.errors %}
                    <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
            {% endfor %}
        {% endfor %}
        </div>
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    <div id="indicator_form">
        {% load crispy_forms_tags %}
        <form action="{% url 'indicator_update' indicator.id %}" id="indicator_update_form" class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
            <div class="container-fluid" style="background-color: #d7d7d7; padding: 19px 6px 19px 5px; margin: 0px -15px; border-top: 1px solid #f5f5f5;">
                <div class="pull-left" style="margin-left:15px">
                    <input type="submit" class="btn btn-success" value="Save changes">
                    <input type="reset" style="background-color:#d7d7d7; border-color:#B8BABD; color:#888888" class="btn btn-default" value="Reset">
                </div>
                <div>{% include "form_guidance.html" %}</div>
            </div>

        </form>
    </div>
 {% include 'indicators/indicator_form_common_js.html' %}

{% endblock content %}
