{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    {% if form.errors %}
	<div class="help-block">
		{% for field in form %} {% for error in field.errors %}
		<strong
			><i>{{ field.label }}</i> - {{ error | escape }}</strong
		>&nbsp; {% endfor %} {% endfor %}
	</div>
	{% for error in form.non_field_errors %}
	<div class="alert alert-error">
		<strong>{{ error | escape }}</strong>
	</div>
	{% endfor %} {% endif %} {% block breadcrumbs %}
	<ul class="breadcrumb">
        <li><a href="{% url 'index' %}">My Dashboard</a></li>
        <li class="active">
            <a href="/indicators/home/0/0/0/">
                {{ request.user.activity_user.organization.indicator_label }}
            </a>
        </li>
        <li><a href="/indicators/levels">Levels</a></li>
        <li class="active">Details</li>
	</ul>
	{% endblock %}

	<!-- Sub navigation -->
	<div class="sub-navigation">
        <div class="sub-navigation-header">
            <h4 class="page-title">
                {% if  level.name %}
                {{ level.name }}
                {% else %}
                Level Edit Form
                {% endif %}
            </h4>
        </div>
		<div class="sub-navigation-actions">
			{% include "form_guidance.html" %}
		</div>
	</div>
    <div class="admin-content">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>
<script>
    $(document).ready(() => {
        $('#id_sectors').select2({
            theme:'bootstrap'
		});
		
		$('#id_contact').select2({
			theme: 'bootstrap'
		})
	})

    $('#reset-id-reset').click(() => {
        window.location.href = '/accounts/admin/component_admin';
    });
</script>
{% endblock content %}
