{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li class="active">
			<a href="/indicators"> 
				{{ request.user.activity_user.organization.indicator_label }}
			</a>
		</li>
		<li><a href="/workflow/objectives">Objectives</a></li>
		<li class="active">{{ current_objective.name }}</li>
	</ul>
	{% endblock %}

	<!-- Sub navigation -->
	<div class="sub-navigation">
		<div class="sub-navigation-header">
			<h4 class="page-title">
				Objective Edit Form
			</h4>
		</div>
	</div>
	<div>
		{% block editform %} {% crispy form %} {% endblock editform %}
	</div>
</div>
{% endblock content %}
