<script>
    $(document).ready(() => {
      // show quick add modal if quick-modal to true
      const url = new URL(window.location.href);
      if (url.searchParams.get('quick-level-modal')) {
        $('#addLevelModal').modal('show');
      }
    });
  
    var saveLevel = buttonId => {
      $(`#${buttonId}`).click(e => {
        e.preventDefault();
        const formValue = $('#addLevelForm').serializeArray();
        const obj = {};
        formValue.forEach(item => {
          obj[item.name] = item.value;
        });
  
        $.ajax({
          url: "{% url 'levels_create' %}",
          type: 'POST',
          data: obj,
          success: function(resp, status) {
            if (resp.success) {
              // notify success
              toastr.success(
                'Level was added sucessfully',
              );
            } else {
              // Saving failed
              toastr.error(
                'The level was not added',
                'Failed',
              );
            }
            //close modal
            $('#addLevelModal').modal('hide');
            // reset form
            $('#addLevelModal').trigger('reset');
  
            const urlWithoutQueryString = window.location.href.split('?')[0];
            if (buttonId === 'saveLevelAndNew') {
              window.location.replace(
                `${urlWithoutQueryString}?quick-level-modal=true`,
              );
            } else {
              setTimeout(() => {
                window.location.replace(urlWithoutQueryString);
              }, 2000);
            }
          },
          error: function(xhr, status, error) {
            toastr.error(error, 'Failed');
          },
        });
      });
    };
  
    $(() => {
        saveLevel('saveLevelAndNew');
        saveLevel('saveLevel');
    });
  </script>
  
  <script type="text/javascript" src="{{ STATIC_URL }}js/admin.js"></script>
  
  <!-- Modal -->
  <div
    class="modal fade"
    id="addLevelModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addLevelLabel"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="addLevelLabel">
            Add Level
          </h4>
        </div>
        <form id="addLevelForm" method="POST">
          <div class="modal-body">
            {% csrf_token %}
            <div class="form-group">
              <label for="levelName">Level Name*</label>
              <input
                type="text"
                id="levelName"
                name="level_name"
                class="form-control"
                placeholder="Level"
              />
            </div>
            <div class="form-group">
                <label for="levelDescription">Description</label>
                <textarea name="description" id="levelDescription" rows="5" class="form-control"></textarea>
            </div>
          </div>
        </form>
          <div class="modal-footer">
              <button type="button" class="btn btn-close" data-dismiss="modal">
              Close
              </button>
              <button
              type="button"
              class="btn btn-outline-success"
              id="saveLevelAndNew"
              >
              Save &amp; New
              </button>
              <button
              type="button"
              class="btn btn-success"
              id="saveLevel"
              >
              Save
              </button>
          </div>
      </div>
    </div>
  </div>
  
