<!-- Modal -->
<div class="modal fade" id="addLevelModal" tabindex="-1" role="dialog" aria-labelledby="addProgramModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addProgramModalLabel">Add Level</h4>
                </div>
                <form id="addLevelForm" action="/indicators/levels_create" method="POST">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="LevelName">Level Name*</label>
                            <input type="text" id="levelName" name="level_name" class="form-control"
                                placeholder="Level" />
                        </div>
                        <div class="form-group">
                            <label for="levelDescription">Description</label>
                            <textarea name="description" id="levelDescription" rows="5" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-close" data-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-outline-success" name="saveLevelAndNew"
                            value="saveLevelAndNew">
                            Save &amp; New
                        </button>
    
                        <button type="submit" class="btn btn-success" name="saveLevel" value="saveLevel">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
