<!-- Add Objective modal body -->

<form method="POST">
  <div class="modal-body">
    {% csrf_token %}
    <div
      :class="{ 
          'form-group': true, 
          'has-error': errors.has('name')
      }"
    >
      <label for="name">Objective name*</label>
      <input
        type="text"
        name="name"
        :class="{ 
                  'form-control': true, 
                  'is-danger': errors.has('name') 
              }"
        v-model="name"
        v-validate="'required'"
        placeholder="Enter objective"
      />
      <span v-show="errors.has('name')" class="help is-danger"
        >[[ errors.first('name') ]]</span>
    </div>
    <div
      :class="{
            'form-group': true
        }"
    >
      <label for="parent">Parent objective</label>
      <select
        name="parent"
        :class="{ 
                'form-control': true, 
            }"
        v-model="parent_id"
        placeholder="Choose a parent objective"
      >
        <option value="">No parent</option>
        <option
          v-for="objective in parent_obj_list"
          :value="objective.id"
          >[[ objective.name ]]</option
        >
      </select>
    </div>
    <div
      :class="{
            'form-group': true,
            'has-error': errors.has('program')
        }"
    >
      <label for="program"
        >{{ user.activity_user.organization.level_1_label }}*</label
      >
      <select
        name="program"
        :class="{ 
                'form-control': true
            }"
        v-model="program_id"
        v-validate="'required'"
        placeholder="Choose a {{ user.activity_user.organization.level_1_label }}"
      >
        <option v-for="program in programs_list" selected="currentObjective.program_id === program.id ? true : false" :value="program.id">[[ program.name ]]</option>
      </select>
      <span v-show="errors.has('program')" class="help is-danger"
        >[[ errors.first('program') ]]</span
      >
    </div>
    <div
      :class="{
          'form-group': true
      }"
    >
      <label for="description">Description</label>
      <textarea
        rows="3"
        name="description"
        :class="{ 
                  'form-control': true, 
              }"
        v-model="description"
        placeholder="Add description"
      ></textarea>
    </div>
  </div>
</form>

