<!-- Add Objective modal body -->

<form method="POST">
  <div class="modal-body">
    {% csrf_token %}
    <div
        :class="{
          'form-group': true, 
          'has-error': errors.has('name')
      }"
    >
      <label for="name">Objective name*</label>
      <input
          type="text"
          name="name"
          :class="{
                  'form-control': true, 
                  'is-danger': errors.has('name') 
              }"
          v-model="name"
          v-validate="'required'"
          placeholder="Enter objective"
      />
      <span v-show="errors.has('name')" class="help is-danger"
      >[[ errors.first('name') ]]</span
      >
    </div>
    <div
        :class="{
            'form-group': true
        }"
    >
      <label for="parent">Parent objective</label>
      <hikaya-select
          :required="false"
          id="parent"
          name="parent"
          label="name"
          :searchable="false"
          v-model="parent_id"
          placeholder="Choose a parent objective"
          :options="parent_obj_list"
          :reduce="objective => objective.id">
      </hikaya-select>
    </div>
    <div class="form-group">
      <label for="program"
      >{{ user.activity_user.organization.level_1_label }}*
      </label>
      <hikaya-select
          name="program"
          :required="true"
          id="program"
          :searchable="false"
          v-model="program_id"
          placeholder="Choose a {{ user.activity_user.organization.level_1_label }}"
          label="name"
          :options="programs_list"
          :reduce="program => program.program_id">
      </hikaya-select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
          rows="3"
          name="description"
          class="form-control"
          v-model="description"
          placeholder="Add description"
      ></textarea>
    </div>
  </div>
</form>
