<!-- Add Objective modal body -->

<form method="POST">
  <div class="modal-body">
    {% csrf_token %}
    <div
      :class="{ 
          'form-group': true, 
          'has-error': errors.has('name')
      }"
    >
      <label for="name">Objective name*</label>
      <input
        type="text"
        name="name"
        :class="{ 
                  'form-control': true, 
                  'is-danger': errors.has('name') 
              }"
        v-model="name"
        v-validate="'required'"
        placeholder="Enter objective"
      />
      <span v-show="errors.has('name')" class="help is-danger"
        >[[ errors.first('name') ]]</span
      >
    </div>
    <div
      :class="{
            'form-group': true
        }"
    >
      <label for="parent">Parent objective</label>
      <v-select
          class="hikaya-select"
          inputId="parent"
          name="parent"
          :searchable="false"
          v-model="parent_id"
          placeholder="Choose a parent objective"
          :options="parent_obj_list.map(objective => ({value: objective.id, label: objective.name}))">
        <template #open-indicator="{ attributes }">
          <i class="caret"></i>
        </template>
      </v-select>
    </div>
    <div
      :class="{
            'form-group': true,
            'has-error': errors.has('program')
        }"
    >
      <label for="program"
        >{{ user.activity_user.organization.level_1_label }}*</label
      >
      <validation-provider name="program" rules="required" ref="program" v-slot="{ errors }">
        <div>
          <v-select
           input-id="program"
           :searchable="false"
           v-model="program_id"
           @search:blur="blur('program')"
           placeholder="Choose a {{ user.activity_user.organization.level_1_label }}"
           :options="programs_list.map(program => ({value: program.program_id, label: program.name}))"
           :class="{'hikaya-select': true, 'is-invalid': !!errors.length}"
          >
            <template #open-indicator="{ attributes }">
              <i class="caret"></i>
            </template>
          </v-select>
          <span v-show="errors[0]" class="help is-danger"
            >[[ errors[0] ]]</span
          >
        </div>
      </validation-provider>
    </div>
    <div
      :class="{
          'form-group': true
      }"
    >
      <label for="description">Description</label>
      <textarea
        rows="3"
        name="description"
        :class="{ 
                  'form-control': true, 
              }"
        v-model="description"
        placeholder="Add description"
      ></textarea>
    </div>
  </div>
</form>
