@media (min-width: 1024px) {
	body{
		padding-top: 100px;
	}
}
@media (max-width: 1024px) {
	body{
		padding-top: 120px;
	}
}
@media (max-width: 768px) {
	body{
		padding-top: 80px;
	}
}
body{
  color: #4d525a;
	  background-color: #f6f6f6;
}

a.anchor { 
  display: block; 
  position: relative;
  margin-top: -9.375em; 
  height: 9.375em; 
  visibility: hidden; 
}
/*h3:before { 
  display: block; 
  margin-top: -19.375em; 
  height: 19.375em; 
  visibility: hidden; 
}*/
.red-solid {
	background-color:#cf102d;
}
.red-gradient {
  background-color: #cf102d;
  border-color: #b00e26;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ee2443), to(#cf102d));
  background-image: -webkit-linear-gradient(top, #ee2443, 0%, #cf102d, 100%);
  background-image: -moz-linear-gradient(top, #ee2443 0%, #cf102d 100%);
  background-image: linear-gradient(to bottom, #ee2443 0%, #cf102d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee2443', endColorstr='#ffcf102d', GradientType=0);
}
.button-selector {
	height: 40px; 
	padding: .5em; 
	border-radius:0.313em; 
	box-shadow: 0.156em 0.156em 0.156em black; 
	color: white;
}
.highlight-title {
	height: 3em; 
	padding-top: 1em;
}
.highlight-panel {
	height: 3em; 
	padding-top: 1em;
}

.lightest-grey-gradient {
	  background-color: #dbdcde;
	  border-color: #cacbce;
	  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f6f6f6), to(#dbdcde));
	  background-image: -webkit-linear-gradient(top, #f6f6f6, 0%, #dbdcde, 100%);
	  background-image: -moz-linear-gradient(top, #f6f6f6 0%, #dbdcde 100%);
	  background-image: linear-gradient(to bottom, #f6f6f6 0%, #dbdcde 100%);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff6f6f6', endColorstr='#ffdbdcde', GradientType=0);
	}
.dark-white-gradient {
  background-color: #f6f6f6;
  border-color: #e5e5e5;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#f6f6f6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #f6f6f6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff6f6f6', GradientType=0);
}

.mediumbig{
    height: 350px;
}
.bigger{
    height: 400px;
    width: 600px;
}
.medium{
	height: 150px;
    width: 225px;
}
.smaller{
	height: 60px;
    width: 90px;
}
.centerpadded{
	margin: 0 0 0 50%;
}

#custom_carousel .item {
    color:#000;
    background-color:#eee;
    padding:20px 0;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#eee;
    border-top:10px solid #e89424;;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;