{% load crispy_forms_tags %}

<div class="row">
  <div class="col-md-6">
    <div class="form-group" id="program_fund_code">
      {{ form.fund_code | as_crispy_field }}
      <p>
        <a
          role="button"
          class="btn btn-sm btn-default"
          id="show-modal"
          @click="showModal = true"
        >
          <i class="fa fa-plus"></i> Fund Code
        </a>
      </p>
      <!-- Fund Code create modal -->
			<modal v-if="showModal" @close="showModal = false">
          <h4 slot="header">[[modalHeader]]</h4>
          <div slot="body">
            {% include 'admin/component_configs/fund_code.html' %}
          </div>
          <div slot="footer">
            {% include 'ui-components/quick_entry_modal_footer.html' %}
          </div>
      </modal>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form.funding_status | as_crispy_field }}
    </div>
  </div>
</div>

<div class="form-group">
  {{ form.cost_center | as_crispy_field }}
</div>

<script>
  $(document).ready(() => {
    $('#id_fund_code').select2({ theme: 'bootstrap' });
    $('#id_funding_status').select2({ theme: 'bootstrap' });
  });
</script>

{% include 'ui-components/vue_modal.html'%}

{% block extra_js_in_body %}
<script src="{{ STATIC_URL }}vue.js/workflow/program_fund_code.js"></script>
{% endblock extra_js_in_body %}
