{% load crispy_forms_tags %}

<div class="form-group">
  {{ form.name | as_crispy_field }}
</div>

<div class="form-group">
  {{ form.description | as_crispy_field }}
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      {{ form.start_date | as_crispy_field }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form.end_date | as_crispy_field }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="div_id_sector">Sector</label>
      {{ form.sector | as_crispy_field }}
    </div>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script>
  $(document).ready(() => {
    $('#div_id_sector').select2({ theme: 'bootstrap' });
    $('#id_description').attr('rows', 4);
  });

  // Restricting start and end datepickers
  $("#start_date_picker").datepicker({
    dateFormat: 'dd.mm.yy',
    onSelect: function(dateText) {
      $("#end_date_picker").datepicker({
        minDate: dateText
      });
    }
  });

  $("#end_date_picker").datepicker({
    dateFormat: 'dd.mm.yy',
    onSelect: function(dateText) {
      $("#start_date_picker").datepicker({
        masDate: dateText
      });
    }
  });
</script>
