{% extends "base.html" %} {% block content %}

<script>
  $(document).ready(() => {
    $('#programListTable').dataTable();
  });
</script>

<!-- Sub navigation -->
<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">Home Dashboard</a></li>
    <li class="active">Public Dashboards</li>
  </ul>
  {% endblock %}

  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Public Dashboards</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-sm btn-default dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Countries
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">--All--</a></li>
              {% for country in get_country %}
              <li>
                <a href="/customdashboard/program_list/{{ country.id }}">{{
                  country.country
                }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table" id="programListTable">
    <thead>
      <tr>
        <th>{{ user.activity_user.organization.level_1_label }} Name</th>
        <th>Public Dashboard</th>
        <th>Data Complete</th>
        <th>Date Created</th>
        <th class="text-right">View Dashboard</th>
      </tr>
    </thead>
    <tbody>
      {% for item in get_program %} {% if item.name %}
      <tr>
        <td>
          <a href="/workflow/level1/edit/{{item.id}}/">{{ item.name }}</a></td>
        <td>
          {% if item.public_dashboard %}<a
            href="/customdashboard/program_dashboard/{{ item.id }}/1/"
            >Public</a
          >
          {% else %} N/A {% endif %}
        </td>
        <td>
          <strong>Indicator(s)</strong>
          <div class="progress">
            <div
              class="progress-bar progress-bar-warning"
              style="width: {{ item.indicator_data_percent }}%"
            >
              <font color="black"
                >Data {{ item.indicator_data_percent }} %</font
              >
            </div>
            <div
              class="progress-bar progress-bar-success"
              style="width: {{ item.indicator_percent }}%"
            >
              <font color="black">No Data {{ item.indicator_percent }} %</font>
            </div>
          </div>
          <strong
            >{{ user.activity_user.organization.level_2_label }}(s)</strong
          >
          <div class="progress">
            <div
              class="progress-bar progress-bar-warning"
              style="width: {{ item.project_percent }}%"
            >
              <font color="black">Tracking {{ item.project_percent }} %</font>
            </div>
            <div
              class="progress-bar progress-bar-info"
              style="width: {{ item.project_agreement_percent }}%"
            >
              <font color="black"
                >Initiation {{ item.project_agreement_percent }} %</font
              >
            </div>
          </div>
        </td>

        <td>{{ item.create_date }}</td>
        <td class="text-right">
          <a class="btn btn-default btn-sm" href="/customdashboard/program_dashboard/{{ item.id }}/0/"
            >Internal</a
          >
        </td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="importModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content"></div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
{% endblock content %}
