{% extends "base.html" %}
{% block page_title %}Shareable Data{% endblock %}

{% block content %}
{% for item in getSilos %}
	<a href="#" class="list-group-item active"><b>{{ item.name }}</b></a>
	<ul class="list-group">
		<li class="list-group-item">Default REST API: <a href="/api/feed/{{ item.id }}" target="_new">{{ item.name }}</a></li>
		<li class="list-group-item">JSON URL: <a href="/api/custom/{{ item.id }}" target="_new">{{ item.name }}</a></li>
        <li class="list-group-item"><a href="/export/{{ item.id }}" class="btn btn-sm btn-info">Export to Excel/CSV</a></li>
        <li class="list-group-item"><a href="/export_google/{{ item.id }}" class="btn btn-sm btn-info">Export to Google Sheets</a></li>

	</ul>


{% endfor %}


{% endblock content %}
