<form method="POST">
  <div class="modal-body">
    {% csrf_token %}
    <div
      :class="{ 
                'form-group': true, 
                'has-error': errors.has('name')
            }"
    >
      <label for="name">Fund Code*</label>
      <input
        type="text"
        name="name"
        :class="{ 
                'form-control': true, 
                'is-danger': errors.has('name') 
            }"
        v-model="name"
        v-validate="'required'"
        placeholder="Name"
      />
      <span v-show="errors.has('name')" class="help is-danger"
        >[[ errors.first('name') ]]</span
      >
    </div>
    <div
      :class="{
            'form-group': true
        }"
    >
      <label for="stakeholder">Stakeholder</label>
      <select 
        id="stakeholder"
        :class="{ 
                'form-control': true, 
            }"
        v-model="stakeholder"
        placeholder="Stakeholder"
      >
        <option 
            v-for="stakeholder in stakeholders" 
            selected="currentFundCode.stakeholder == stakeholder.id ? 'true' : 'false'"
            :value=stakeholder.id>[[ stakeholder.name ]]</option> 
      </select>
    </div>
  </div>
</form>
