<div class="modal-body">
  {% csrf_token %}
  <div
    :class="{
              'form-group': true,
              'has-error': errors.has('name')
          }"
  >
    <label for="name">Fund Code*</label>
    <input
      type="text"
      name="name"
      :class="{
              'form-control': true,
              'is-danger': errors.has('name')
          }"
      v-model="name"
      v-validate="'required'"
      placeholder="Name"
    />
    <span v-show="errors.has('name')" class="help is-danger"
      >[[ errors.first('name') ]]</span
    >
  </div>
  <div
    :class="{
          'form-group': true
      }"
  >
    <label for="stakeholder">Stakeholder</label>
    <hikaya-select
      id="stakeholder"
      name="stakeholder"
      :required="false"
      :searchable="false"
      v-model="stakeholder"
      placeholder="Stakeholder"
      label="name"
      :options="stakeholders"
      :reduce="stakeholder => stakeholder.id"
    >

    </hikaya-select>
  </div>
</div>
