{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Page Not found' %}{% endblock %}

{% block page_title %}{% trans 'Page Not found' %}{% endblock page_title %}

{% block content %}

<div class="error-page">
    <div class="error-page-content">
        <img src="{{ STATIC_URL }}img/error-strokes.png" class="error-page-image"/>
        <p class="text-center error-code">404</p>
        <p class="text-center error-message">
            {% trans 'This is not the page you were looking for,' %}
            <br />
            {% trans 'you may be lost.' %}
        </p>
        <a href="/dashboard/0/" class="btn btn-success error-button">{% trans 'Go to home page' %}</a>
    </div>
</div>

{% endblock content %}
