
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="TolaData - TolaActivity: Putting Adaptive Management into Practice">
        <meta name="author" content="TolaData">

        <title>Login</title>

        <link rel="icon" href="/static/img/favicon.ico?v=2" />

        <!-- Datatables css for HTML tables -->
        <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css" />

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <!-- JQuery UI CSS -->
        <link href="/static/css/jquery-ui.min.css" rel="stylesheet" type="text/css" />

        <!--- Dynatable --->
        <link rel="stylesheet" href="/static/css/select2.min.css">

        <!-- Custom CSS -->
        <link href="/static/css/app.css" rel="stylesheet" type="text/css">

        <!--- Django Tables2 css -->
        <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />

        <!--- Hosted Leaflet CSS --->
        <link rel="stylesheet" href="/static/css/leaflet.css">


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="/static/js/jquery.js"></script>

        <!-- App specific Javascript -->
        <script type="text/javascript" src="/static/js/app.js"></script>

        <!-- Hosted Leaflet -->
        <script src="/static/js/leaflet.js"></script>



    </head>
    <body>
        <!--http://getbootstrap.com/examples/sticky-footer-navbar/-->
        <nav class="navbar navbar-default navbar-tola navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img style="margin-top: -3px; max-width: 140px;" src="/static/img/tola-activity-primary-mark-white.png" />
                    </a>
                    <!-- hamburger nav --->
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- end hamburger nav -->
                </div>
                <div class="collapse navbar-collapse" role="navigation" id="navbar-collapse-1">
                    &nbsp;
                </div><!-- .navbar-header collapse -->
            </div><!-- .container collapse -->
        </nav><!-- .navbar collapse -->
        <br/>
        <div class="container">
            <br/>
            <div></div>
            <div id = "alerts">
                <!-- Any messages for users -->

            </div>
            <!-- Page title  -->
            <h2></h2>

            <!-- Main body content -->
            <p>
            <h1>Whoops!</h1>
            <!-- Page title  -->
            <h2>500 Error...Whoops something went wrong...</h2>

            <!-- Main body content -->
            <p>There was a problem loading this page.  Please notify a systems administrator if you think you should not be seeing this page. <br/><a href="http://tola.work">Tola.Work</a><br/><br/>
            <img src="/static/img/whoops.png" border="2">
            </p>

        </div><!-- .container collapse -->

        <div id="footer">
            <!-- Sticky Footer -->
            <div class="container">

            </div>
        </div><!-- .footer collapse -->

        <!-- jQuery UI (necessary for datepicker as well as dataTables library -->
        <script type="text/javascript" src="/static/js/jquery-ui-1.10.4.min.js"></script>

        <!-- data tables jquery javascript library -->
        <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

        <!-- Bootstrap compiled javascript plugins -->
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>


    </body>
</html>


