
{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block page_title %}Server Error{% endblock page_title %}

{% block content %}

<div class="error-page">
    <div class="error-page-content">
        <img src="/static/img/error-strokes.png" class="error-page-image"/>
        <p class="text-center error-code">500</p>
        <p class="text-center error-message">There was a problem loading this page. <br/>
             Notify your systems administrator if you think  <br /> you should not be seeing this page. </p>
        <a href="/dashboard/0/" class="btn btn-success error-button">Go to home page</a>
    </div>
</div>

{% endblock content %}