{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Server Error' %}{% endblock %}

{% block page_title %}{% trans 'Server Error' %}{% endblock page_title %}

{% block content %}

<div class="error-page">
    <div class="error-page-content">
        <img src="/static/img/error-strokes.png" class="error-page-image"/>
        <p class="text-center error-code">500</p>
        <p class="text-center error-message">
            {% trans 'There was a problem loading this page.' %}
            <br/>
            {% trans 'Notify your systems administrator if you' %} 
            <br />
            {% trans 'think you should not be seeing this page.' %}
        </p>
        <a href="/dashboard/0/" class="btn btn-success error-button">{% trans 'Go to home page' %}</a>
    </div>
</div>

{% endblock content %}