{% load staticfiles %} {% load static %} {% load group_tag %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Hikaya - Activity CE : We help organizations tell their stories through data"
    />
    <meta name="author" content="Hikaya" />

    <title>{% block title %} {{user.activity_user.organization.name}} / Activity-CE {% endblock %}</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}" />

    <link
      href="http://fonts.googleapis.com/css?family=Lato:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap"
      rel="stylesheet"
    />

    <!-- Datatables css for HTML tables -->
    <link
      href="{% static 'DataTables/datatables.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap -->
    <link
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Font Awesome -->
    <link
      href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- jsTree -->
    <link
      rel="styleshee"
      href="{% static 'jstree/dist/themes/default/style.min.css' %}"
    />

    <!-- hierachy chart -->
    <link
      rel="stylesheet"
      href="{% static 'hierachy_chart/jquery.orgchart.css' %}"
    />

    <!-- JQuery UI CSS -->
    <link
      href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Dynatable -->
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %} " />

    <!-- Custom CSS -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet" type="text/css" />
    <link
      href="{% static 'css/admin.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'css/components.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <!--- Django Tables2 css -->
    <link
      rel="stylesheet"
      href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"
    />

    <!-- Hosted Leaflet CSS -->
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    />

    <link rel="stylesheet" href="{% static 'select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}">

    {% block extra_js_in_header %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script
      type="text/javascript"
      src="{% static 'js/jquery-3.1.4.min.js' %}"
    ></script>

    <!-- App specific Javascript -->
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

    <!-- Hosted Leaflet -->
    <script src="{% static 'js/leaflet.js' %}"></script>

    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#activity-navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if user.is_authenticated  and user.activity_user.organization.logo.url %}
            <a class="navbar-brand" href="{% url 'index' %}">
              <img src="{{ user.activity_user.organization.logo.url }}" alt="Activity">
            </a>
          {% else %}
            <a class="navbar-brand" href="{% url 'index' %}">
              <b>Activity</b>
            </a>
          {% endif %}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="activity-navbar-collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
            <li class="dropdown {% if 'workflow' in active %} active {% endif %}">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Workflow <i class="fa fa-angle-down" aria-hidden="true"></i
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{% url 'level1' %}"
                    >{{ user.activity_user.organization.level_1_label }}s</a
                  >
                </li>

                <li>
                  <a href="/workflow/level2/0/"
                    >{{ user.activity_user.organization.level_2_label }}s</a
                  >
                </li>
              </ul>
            </li>

            <li class="{% if 'indicators' in active %} active {% endif %}">
              <a href="/indicators/home/0/0/0">Indicators <span class="sr-only">(current)</span></a>
            </li>

            <li class="dropdown {% if 'forms' in active %} active {% endif %}">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Form Library <i class="fa fa-angle-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/formlibrary/training_list/0/"> Training</a>
                </li>
                <li>
                  <a href="/formlibrary/distribution_list/0/"> Distributions</a>
                </li>
                <li>
                  <a href="/formlibrary/beneficiary_list/0/"> Beneficiaries</a>
                </li>
              </ul>
            </li>

            <li class="dropdown {% if 'components' in active %} active {% endif %}">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Components <i class="fa fa-angle-down"></i
              ></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/workflow/siteprofile_list/0/0/">
                    Locations (Sites)</a
                  >
                </li>
                <li>
                  <a href="/workflow/stakeholder_list/0/0">
                    Stakeholders (Orgs)
                  </a>
                </li>
                <li>
                  <a href="/workflow/contact_list/0/">Contacts</a>
                </li>
                <li>
                  <a href="/workflow/documentation_list/0/0/">
                    Documents
                  </a>
                </li>
                <li>
                  <a href="{% url 'objectives' %}">Objectives</a>
                </li>
              </ul>
            </li>

            <li class="dropdown {% if 'reports' in active %} active {% endif %}">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Reports <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="/reports/report/"
                        >
                        {{ user.activity_user.organization.level_1_label }}
                        Report</a
                      >
                    </li>
                    <li>
                      <a href="/customdashboard/program_list/0/"
                        >
                        {{ user.activity_user.organization.level_1_label }}
                        Dashboards</a
                      >
                    </li>
                    <li>
                      <a href="/workflow/report/0/none"
                        >
                        {{ user.activity_user.organization.level_2_label }}
                        Report</a
                      >
                    </li>
                    <li>
                      <a href="/indicators/collecteddata/0/0/0/"
                        >
                        Indicator Data Report</a
                      >
                    </li>
                    <li>
                      <a href="/indicators/data/0/0/0/"
                        >
                        Indicator Visual Report</a
                      >
                    </li>
                    <li>
                      <a href="/indicators/report/0/0/0/"
                        >
                        Indicator Library</a
                      >
                    </li>
                    <li>
                      <a href="/indicators/tvareport/"
                        > Target
                        vs Actual Report</a
                      >
                    </li>
                    <li>
                      <a href="/indicators/disrep/0"
                        >
                        Indicator Disaggregation Report</a
                      >
                    </li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown  dropdown-bubble text-center" id="user-initial">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{ user.activity_user.name | make_list | first }}
                  </a>
    
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'profile' %}"
                        >Profile</a
                      >
                    </li>
                    {% if user.is_superuser %}
                    <li>
                      <a href="{% url 'admin_dashboard' %}"
                        >Admin Dashboard</a
                      >
                    </li>
                    {% endif %} 
                    {% if user.is_authenticated %}
                    {% if user.activity_user.organizations %} 
                    <li class="divider"></li>
                    <li class="dropdown-header">Organizations</li>
                    {% for org in user.activity_user.organizations.all %}
                    <li class="{% if user.activity_user.organization.id == org.id %} active {% endif %}">
                      <a href="/accounts/organization/{{ org.id }}/">
                      {{ org.name }}
                      </a>
                    </li>
                    {% endfor %} 
                    {% endif %}
                    <li class="divider"></li>
                    <li>
                      <a href="{% url 'logout' %}" class="text-danger"
                        >Logout</a
                      >
                    </li>
                    {% endif %}
                  </ul>  
            </li>
          </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Login <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu" id="login-dropdown">
                  <li>
                    <form
                      class="form"
                      role="form"
                      method="post"
                      action="{% url 'login' %}"
                    >
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="hidden" name="next" value="{{ next }}" />
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          name="username"
                          placeholder="Username"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          name="password"
                          placeholder="Password"
                          class="form-control"
                        />
                      </div>

                      <div class="text-right">
                        <button type="submit" class="btn btn-success">
                          Sign in
                        </button>
                      </div>
                    </form>
                  </li>
                </ul>
              </li>
              <!-- .dropdown collapse -->
          </ul>
          {% endif %}
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- .navbar collapse -->
    <script type="text/javascript">
      var myElement = document.getElementById('navid');
      // myElement.style.backgroundColor =
      //   '#{{ user.activity_user.organization.theme_color }}';

      myElement.style.backgroundColor = '#fff';
    </script>
    <br />
    <div class="" style="margin-top:5px;">
      <br />
      <!-- <div>{% block bread_crumb %}{% endblock %}</div> -->
      <div id="alerts">
        <!-- Any messages for users -->
        {% block messages %} {% if messages %} {% for message in messages %} 
        {% if 'safe' in message.tags %}
        <div class="alert alert-{{ message.tags }}">{{ message | safe }}</div>
        {% else %}
        <div class="alert alert-{{ message.tags }}">{{ message | safe }}</div>
        {% endif %} {% endfor %}
        <br />
        {% endif %} {% endblock messages %}
      </div>

      <!-- Main body content -->
      {% block content %} {% endblock %}
      <!--{% if not user.is_authenticated  %}
                <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>
            {% endif %}-->
    </div>
    <!-- .container collapse -->

    <div id="ajaxloading" class="modal ajax_loading"></div>
    <div id="footer">
      <!-- Sticky Footer -->
      <div class="container">
        {% if "links.html"|template_exists %} {% include "links.html" %} 
        {% else %}
        <div class="column col-xs-16 text-right">
          <a href="http://www.hikaya.io" class="text-muted"><b>Hikaya</b></a> |
          <a href="http://help.hikaya.io" class="text-muted"
            ><b>Documentation</b></a
          >
          |
          <a
            href="https://github.com/hikaya-io/Activity-CE/blob/master/LICENSE"
            class="text-muted"
            ><b>License</b></a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <!-- .footer collapse -->

    <!-- data tables jquery javascript library -->
    <script
      type="text/javascript"
      src="{% static 'DataTables/datatables.min.js' %}"
    ></script>

    <!-- Bootstrap compiled javascript plugins -->
    <script
      type="text/javascript"
      src="{% static 'bootstrap/js/bootstrap.min.js' %}"
    ></script>

    <!-- for select2 -->
    <script
      type="text/javascript"
      src="{{ STATIC_URL }}js/select2.min.js"
    ></script>

    <!-- For date formatting -->
    <script
      type="text/javascript"
      src="{{ STATIC_URL }}js/moment.min.js"
    ></script>

    <!-- for notifications -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- chart.js javascript library -->
    <script
      type="text/javascript"
      src="{% static 'js/chart.js@2.8.0.min.js'%}"
    ></script>

    <!-- jQuery UI (necessary for datepicker as well as dataTables library -->
    <script
      type="text/javascript"
      src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"
    ></script>

    <!-- jsTree -->
    <script src="{% static 'jstree/dist/jstree.min.js' %}"></script>

    <!-- hierachy chart -->
    <script src="{% static 'hierachy_chart/jquery.orgchart.js' %}"></script>

    <script type="text/javascript">
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: false,
        progressBar: false,
        positionClass: 'toast-top-center',
        preventDuplicates: true,
        onclick: null,
        showDuration: '300',
        hideDuration: '1000',
        timeOut: '5000',
        extendedTimeOut: '1000',
        showEasing: 'swing',
        hideEasing: 'linear',
        showMethod: 'fadeIn',
        hideMethod: 'fadeOut',
      };
    </script>

    {% if offline_mode %}
    <!--- offline mode so don't try andload the external fonts -->
    {% else %}
    <!-- Typekit (Fonts) -->
    <script src="https://use.typekit.net/shi4wqr.js"></script>
    <script>
      try {
        Typekit.load({ async: true });
      } catch (e) {}
    </script>
    {% endif %}

    <!--{% if GOOGLE_ANALYTICS_PROPERTY_ID %}
            {% include "google_analytics.html" %}
        {% endif %}-->

    {% block extra_js_in_body %} {% endblock %}
  </body>
</html>
