{% extends "base.html" %} {% block content %} 
{% include 'shared/level1_modal_form.html' %}

<script src="./../static/js/chart.js@2.8.0.min.js"></script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li class="active">My Dashboard</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">My Dashboard</h4>
    </div>

    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
          <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-sm btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Filter by {{ user.activity_user.organization.level_1_label }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a
                    href="/dashboard/0/"
                    >-- All --</a
                  >
                </li>
  
                {% for program in get_programs %}
                <li>
                  <a
                    href="/dashboard/{{ program.id }}/"
                    >{{ program.name }}</a
                  >
                </li>
                {% endfor %}
              </ul>
            </div>
      </div>

      <!-- sample action buttons -->
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="">
          <button
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addProgramModal"
          >
            <i class="fa fa-plus"></i> Add New
            {{ user.activity_user.organization.level_1_label }}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- workflows -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">Workflow</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class=row>
            <div class="col-md-12 col-xs-6">
              <a class="box box-info" href="/">
                <p class="box-info-label">Programs</p>
                <p class="box-info-number">890</p>
              </a>
            </div>

            <div class="col-md-12 col-xs-6">
              <a class="box box-info" href="/">
                <p class="box-info-label">Projects</p>
                <p class="box-info-number">10001</p>
                <!-- <p class="box-info-text">this is sample description nhdhdfhd hudsyhdb yudb dhdydhy</p> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- indicators -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">Indicators</h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-xs-12">
              <div class=row>
                <div class="col-md-12 col-xs-6">
                  <a class="box box-info" href="/" role="button">
                    <p class="box-info-label">Indicators</p>
                    <p class="box-info-number">890</p>
                  </a>
                </div>
    
                <div class="col-md-12 col-xs-6">
                  <a class="box box-info" href="/" role="button">
                    <p class="box-info-label">Collected Data</p>
                    <p class="box-info-number">10001</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- components -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">Components</h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-xs-12">
              <div class=row>
                <div class="col-md-12 col-xs-6">
                  <a class="box box-info" href="/">
                    <p class="box-info-label">Active Locations</p>
                    <p class="box-info-number">890</p>
                    <p class="box-info-text">out of 1000 locations</p>
                  </a>
                </div>
    
                <div class="col-md-12 col-xs-6">
                  <a class="box box-info" href="/">
                    <p class="box-info-label">Documents</p>
                    <p class="box-info-number">1</p>
                    <p class="box-info-text">linked to Programs</p>
                  </a>
                </div>

                <div class="col-md-12 col-xs-12">
                  <a class="box box-info" href="/">
                    <p class="box-info-label">Stakeholders</p>
                    <p class="box-info-number">10</p>
                    <p class="box-info-text">with 205 contacts</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-12"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
  
</div>
{% endblock content %}
