{% extends "base.html" %} 
{% load static %} 
{% load humanize %} 
{% block content%} 
{% include './shared/level1_modal_form.html' %}

<script src="{% static 'js/chart.js@2.8.0.min.js' %}"></script>

<script>
  $(document).ready(() => {
    $('#indicatorTargetActualsTable').dataTable({
      searching: false,
      ordering: false,
      pageLength: 5,
      lengthChange: false,
    })
  })
</script>

<style>
  #map {
    height: 400px !important;
  }
</style>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <!-- <li class="active">My Dashboard</li> -->
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">My Dashboard</h4>
    </div>

    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <span>Filter by:</span>
      </div>
      <div class="sub-nav-item">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-sm btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ user.activity_user.organization.level_1_label }}
            {% if selected_program %}
            <i class="fa fa-filter"></i>
            {% else %}
            <i class="fa fa-angle-down"></i>
            {% endif %}
          </button>
          <ul class="dropdown-menu">
            <li class="{% if selected_program is None %} active {% endif %}">
              <a
                href="/dashboard/0/"
                data-toggle="tooltip"
                data-placement="left"
                title="All Programs"
                >-- All --</a
              >
            </li>

            {% for program in get_programs %} {% if program.name %}
            <li
              class="{% if selected_program.id == program.id %} active {% endif %}"
            >
              <a
                href="{% url 'home_dashboard' program.id %}"
                data-toggle="tooltip"
                data-placement="left"
                title="{{ program.name }}"
              >
                {{ program.name | truncatechars:30 }}</a
              >
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
      </div>

      <!-- sample action buttons -->
      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="">
          <button
            class="btn btn-sm btn-primary"
            data-toggle="modal"
            data-target="#addProgramModal"
          >
            <i class="fa fa-plus"></i>
            {{ user.activity_user.organization.level_1_label }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- workflows -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">Workflows</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-xs-6">
              <a class="box box-info" href="/workflow/level1">
                <p class="box-info-label">
                  {{ request.user.activity_user.organization.level_1_label }}
                </p>
                <p class="box-info-number">{{ get_programs | length }}</p>
              </a>
            </div>

            <div class="col-md-12 col-xs-6">
              {% if selected_program %}
              <a
                class="box box-info"
                href="/workflow/level2/list/{{ selected_program.id }}/none"
              >
                <p class="box-info-label">
                  {{ request.user.activity_user.organization.level_2_label }}
                </p>
                <p class="box-info-number">{{ get_projects | length }}</p>
              </a>
              {% else %}
              <a class="box box-info" href="/workflow/level2/list/0/none">
                <p class="box-info-label">
                  {{ request.user.activity_user.organization.level_2_label }}
                </p>
                <p class="box-info-number">{{ get_projects | length }}</p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-12 col-xs-6">
              <a class="box box-info">
                <p class="box-info-label">
                  {{ request.user.activity_user.organization.level_2_label }}
                  Tracking
                </p>
                <p class="box-info-number">{{ get_projects_tracking_count }}</p>
                <p class="box-info-text">
                  out of {{ get_projects | length }}
                  {{ request.user.activity_user.organization.level_2_label }}
                </p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row-charts">
            <div class="chart">
              <canvas id="projectStatusPie" height="250"></canvas>
            </div>
            <div class="chart">
              <canvas id="projectBudgetActualColumn" height="250"> </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- indicators -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">{{ user.activity_user.organization.indicator_label }}</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-xs-6">
              {% if selected_program %}
              <a
                class="box box-info"
                href="/indicators/home/{{ selected_program.id }}/0/0/"
                role="button"
              >
                <p class="box-info-label">{{ user.activity_user.organization.indicator_label }}</p>
                <p class="box-info-number">{{ get_indicators | length }}</p>
              </a>
              {% else %}
              <a
                class="box box-info"
                href="/indicators/home/0/0/0/"
                role="button"
              >
                <p class="box-info-label">{{ user.activity_user.organization.indicator_label }}</p>
                <p class="box-info-number">{{ get_indicators | length }}</p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-12 col-xs-6">
              <a class="box box-info" role="button">
                <p class="box-info-label">KPIs</p>
                <p class="box-info-number">{{ get_indicators_kpi_count }}</p>
                <p class="box-info-text">
                  out of {{ get_indicators | length }}
                  {{ user.activity_user.organization.indicator_label }}
                </p>
              </a>
            </div>

            <div class="col-md-12 col-xs-6">
              <a class="box box-info" role="button">
                <p class="box-info-label">Collected Data</p>
                <p class="box-info-number">{{ get_collected_data_count }}</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <p>Latest {{get_latest_indicators | length }} Key Performance Indicators</p>
          <table class="table" id="indicatorTargetActualsTable">
            <thead>
              <tr>
                <th>Level</th>
                <th>Indicator</th>
                <th class="text-right">Target</th>
                <th class="text-right">Actual</th>
              </tr>
            </thead>
            <tbody>
              {% for indicator in get_latest_indicators %}
              <tr>
                <td>{{ indicator.levels }}</td>
                <td>
                  <a href="/indicators/indicator_update/{{indicator.id}}/">{{ indicator.name }}</a>
                </td>
                <td class="text-right">
                  {% if indicator.lop_target %}
                  {{ indicator.lop_target | floatformat:2 }}
                  {% else %}0.00{% endif %}
                </td>
                <td class="text-right">{{ indicator.actual }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- components -->
  <div class="panel panel-dashboard rounded-0 mb-0">
    <div class="panel-heading white">
      <h4 class="panel-title">Components</h4>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-xs-6">
              {% if selected_program %}
              <a
                class="box box-info"
                href="/workflow/siteprofile_list/{{
                  selected_program.id
                }}/0/list/"
              >
                <p class="box-info-label">Active {{ user.activity_user.organization.site_label }}</p>
                <p class="box-info-number">{{ get_active_locations_count }}</p>
                <p class="box-info-text">
                  out of {{ get_locations_count }} {{ user.activity_user.organization.site_label }}
                </p>
              </a>
              {% else %}
              <a
                class="box box-info"
                href="/workflow/siteprofile_list/0/0/list/"
              >
                <p class="box-info-label">Active Locations</p>
                <p class="box-info-number">{{ get_active_locations_count }}</p>
                <p class="box-info-text">
                  out of {{ get_locations_count }} locations
                </p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-12 col-xs-6">
              {% if selected_program %}
              <a
                class="box box-info"
                href="/workflow/documentation_list/{{ selected_program.id }}/0/"
              >
                <p class="box-info-label">Documents</p>
                <p class="box-info-number">{{ get_documents_count }}</p>
                <p class="box-info-text">linked to {{ user.activity_user.organization.level_1_label }}</p>
              </a>
              {% else %}
              <a class="box box-info" href="/workflow/documentation_list/0/0/">
                <p class="box-info-label">Documents</p>
                <p class="box-info-number">{{ get_documents_count }}</p>
                <p class="box-info-text">linked to {{ user.activity_user.organization.level_1_label }}</p>
              </a>
              {% endif %}
            </div>

            <div class="col-md-12 col-xs-12">
              {% if selected_program %}
              <a
                class="box box-info"
                href="/workflow/stakeholder_list/{{ selected_program.id }}/0/"
              >
                <p class="box-info-label">{{ user.activity_user.organization.stakeholder_label }}</p>
                <p class="box-info-number">{{ get_stakeholders_count }}</p>
                <p class="box-info-text">
                  with {{ get_contacts_count }} contacts
                </p>
              </a>
              {% else %}
              <a class="box box-info" href="/workflow/stakeholder_list/0/0/">
                <p class="box-info-label">{{ user.activity_user.organization.stakeholder_label }}</p>
                <p class="box-info-number">{{ get_stakeholders_count }}</p>
                <p class="box-info-text">
                  with {{ get_contacts_count }} contacts
                </p>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div id="map">
            {% include './small_site_profile_map.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var projectStatusPie = new Chart($('#projectStatusPie'), {
    type: 'pie',
    data: {
      datasets: [
        {
          data: [
            +'{{get_projects_new_count}}',
            +'{{get_projects_in_progress_count}}',
            +'{{get_projects_awaiting_approval_count}}',
            +'{{get_projects_approved_count}}',
            +'{{get_projects_rejected_count}}'
          ],
          backgroundColor: [
            '#25CED1',
            '#FF8360',
            '#ffbe0b',
            '#40f99b',
            '#f61067'],
        },
      ],
      labels: [
        'New',
        'In Progress',
        'Awaiting Approval',
        'Approved',
        'Rejected'
      ],
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Project Status',
      },
    },
  });

  // prepare data for the projectBudgetActualColumn chart
  var columnChartLabels = [];
  var columnChartBudgetData = [];
  var columnChartActualsData = [];

  {% for project in get_projects %}
    columnChartLabels.push('{{ project.project_name }}');
    columnChartBudgetData.push(+'{{ project.total_estimated_budget }}')
    {% if project.project_complete %}
      columnChartActualsData.push(+'{{ project.project_complete.actual_budget }}')
    {% else %}
      columnChartActualsData.push(0);
    {% endif %}
  {% endfor %}

  var projectBudgetActualColumn = new Chart($('#projectBudgetActualColumn'), {
    type: 'bar',
    data: {
      labels: columnChartLabels,
      datasets: [
        {
          label: 'Budget',
          backgroundColor: '#25CED1',
          data: columnChartBudgetData,
        },
        {
          label: 'Actual',
          backgroundColor: '#40f99b',
          data: columnChartActualsData,
        },
      ],
    },
    options: {
      responsive: true,
      legend: {
        position: 'top',
      },
      title: {
        display: true,
        text: 'Project Budget vs Actual',
      },
      scales: {
          yAxes: [
            {
              ticks: {
                  beginAtZero: true
            }
          }
        ]
      }
    },
  });
</script>
{% endblock content %}
