<script>
	let map = L.map('map', {
    zoomSnap: 3
	}).setView([-1.2921, 36.8219], 13);

	let my_divicon = L.divIcon({
			className: 'arrow_box'
	});

	L.tileLayer(
		'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
			'attribution': 'Map tiles by Carto, under CC BY 3.0. Data by OpenStreetMap, under ODbL.'
		}
	).addTo(map);

	let locations = [];

	//for each site we create a marker, add it to the map and a list
	{% for site in get_locations %}
		let marker{{ forloop.counter0 }} = L.marker([Number('{{site.latitude}}'), Number('{{site.longitude}}')], {
				draggable:false
		});

		marker{{ forloop.counter0 }}.url = '/workflow/siteprofile_update/{{ site.id }}/';
		marker{{ forloop.counter0 }}.on('click', function(){
			window.location.pathname = (this.url);
		});

		marker{{ forloop.counter0 }}.addTo(map);
		locations.push(marker{{ forloop.counter0 }})
	{% endfor %}

	locations = [...locations];

	// we use the list of site markers to autozoom the map
	// (featureGroup leaflet.js)

	// this check will catch empty lists that cause the following function
	// to break the rendering of the map
	if (locations !== undefined || locations.length != 0) {
		let group = new L.featureGroup(
			locations
		);
		map.fitBounds(group.getBounds());
	}
</script>
