<!-- <div id="map"></div> -->
<script>
	function initMap() {
		// The map, centered at Uluru
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 3,
			center: locations[0] ? locations[0] : { lat: 0, lng: 0 },
		});

		// Create an array of alphabetical characters used to label the markers.
		var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

		// Add some markers to the map.
		// Note: The code uses the JavaScript Array.prototype.map() method to
		// create an array of markers based on a given "locations" array.
		// The map() method here has nothing to do with the Google Maps API.
		var markers = locations.map(function(location, i) {
			return new google.maps.Marker({
				position: location,
				label: labels[i % labels.length],
			});
		});

		// Add a marker clusterer to manage the markers.
		var markerCluster = new MarkerClusterer(map, markers, {
			imagePath:
				'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m',
		});
	   }
	   var locations = []
	   {% for location in get_locations %}
		   const site = {
			   lat: +"{{location.latitude}}", 
			   lng: +"{{location.longitude}}"
			}
		   locations.push(site)
	   {% endfor %}	   
</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script
	async
	defer
	src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap"
></script>
