{% load i18n %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-10">
        <div class="form-group">
          {{ form.name | as_crispy_field }}
        </div>
    </div>

    <div class="col-md-2">
        <div class="form-group">
          {{ form.number | as_crispy_field }}
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-6">
    <div class="form-group">
      {{ form.level | as_crispy_field }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      {{ form.sector | as_crispy_field }}
    </div>
  </div>
</div>

    <div class="form-group">
        {{ form.program | as_crispy_field }}
    </div>

    <div class="form-group">
      {{ form.objectives | as_crispy_field }}
    </div>


<script>
    $(document).ready(() => {
        $('#id_program').select2({
            theme: 'bootstrap',
        });

        $('#id_sector').select2({
            theme: 'bootstrap',
        })

        $('#id_objectives').select2({
            theme: 'bootstrap',
            multiple: true,
            placeholder: 'Select...'
        })
    });
</script>