{% load crispy_forms_tags %} {% load static %}

<script src="{% static 'js/moment.js' %}"></script>
<div class="row">
  <div class="col-md-6">
    {{ form.unit_of_measure | as_crispy_field }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{ form.lop_target | as_crispy_field }}
  </div>

  <div class="col-md-6">
    {{ form.baseline | as_crispy_field }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    {{ form.rationale_for_target | as_crispy_field }}
  </div>

  <div class="col-md-6">
    {{ form.target_frequency | as_crispy_field }}
  </div>
</div>

<div class="row">
  <!-- quaterly targets setup -->
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row" id="frequencyMetadata">
          <div class="col-md-6" id="i">
            {{ form.target_frequency_start | as_crispy_field }}
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="numberOfTargetPeriods"
                >Number of Target Periods*</label
              >
              <input
                class="form-control"
                type="number"
                name="numberOfTargetPeriods"
                id="numberOfTargetPeriods"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group text-right">
          <button
            type="button"
            class="btn btn-link btn-link-warning"
            id="clearTargets"
          >
            Remove all targets
          </button>
          <button type="button" class="btn btn-warning" id="addTargetsBtn">
            Add Targets
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6" id="quaterlyTargets"></div>
</div>

<script>
  $(document).ready(() => {
    $("#id_rationale_for_target").attr("rows", 3);
    $("#id_target_frequency").select2({
      theme: "bootstrap"
    });

    $("#id_target_frequency_start")
      .datepicker({
        dateFormat: "MM yy",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,

        onClose: function(dateText, inst) {
          var month = $(
            "#ui-datepicker-div .ui-datepicker-month :selected"
          ).val();
          var year = $(
            "#ui-datepicker-div .ui-datepicker-year :selected"
          ).val();
          $(this).val(
            $.datepicker.formatDate("M d, yy", new Date(year, month, 1))
          );
        }
      })
      .focus(function() {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
          my: "right top",
          at: "right bottom",
          of: $(this)
        });
      })
      .attr("autocomplete", "off");

    $("#clearTargets").hide();
  });

  $(() => {
    $("#id_target_frequency").on("select2:select", e => {
      switch ($("#id_target_frequency").val()) {
        case 6: {
          break;
        }

        default:
          break;
      }
    });

    $("#clearTargets").click(() => {
      // remove the table
      $("#targetsTable").remove();

      // show frequency metadata
      $("#frequencyMetadata").show();

      // enable the button
      $("#addTargetsBtn").removeClass("disabled");

      $("#clearTargets").hide();
    });

    function updateSum(e) {
      let sum = 0;
      for (i = 1; i <= $("#numberOfTargetPeriods").val(); i++) {
        sum += +$(`#id_target_${i}`).val();
      }

      $("#sumOfTargets").text(sum);
    }

    // add target fields when the #addTargetsBtn is clicked
    $("#addTargetsBtn").click(() => {
      // hide the #frequencyMetadata
      $("#frequencyMetadata").hide();

      // disable create targets button
      $("#addTargetsBtn").addClass("disabled");

      let numberOfTargets = $("#numberOfTargetPeriods").val();
      let periodStarts = moment($("#id_target_frequency_start").val()).startOf(
        "month"
      );
      let table = $("<table>")
        .attr("id", "targetsTable")
        .addClass("table table-hover");
      let tbody = $("<tbody>");

      for (let i = 1; i <= numberOfTargets; i++) {
        let row = $("<tr>");
        let label = $("<th>").text(`Quarter ${i}`);
        let periodEnds = moment(periodStarts)
          .subtract(1, "months")
          .add(1, "quarters");
        let dateSpan = $("<small>").text(
          `${moment(periodStarts)
            .startOf("month")
            .format("MMM DD, YYYY")} - ${moment(periodEnds)
            .endOf("month")
            .format("MMM DD, YYYY")}`
        );
        label.append("<br>", dateSpan);

        let input = $("<input>")
          .addClass("form-control")
          .attr({ type: "number", id: `id_target_${i}` }).keyup(updateSum)
        let value = $("<td>").append(input);

        let removeTarget = $("<td>").addClass("text-danger");
        if (i == numberOfTargets) {
          // row.attr("id", "lastRowElement");
          // removeTarget.append(
          //   $("<button>")
          //     .attr({ id: "lastTargetColumn", type: "button" })
          //     .addClass("btn text-danger")
          //     .append($("<i>").addClass("fa fa-close"))
          //     .click(() => {
          //       $("#lastRowElement").remove();
          //     })
          // );
        }

        row.append(label, value, removeTarget);

        tbody.append(row);

        periodStarts = moment(periodEnds).add(1, "months");

        $("#clearTargets").show();
      }

      tbody.append(
        $("<tr>").append(
          $("<th>").text("Sum of Targets"),
          $("<th>").attr("id", "sumOfTargets").text(0),
          $("<td>")
        ),

        $("<tr>").append(
          $("<th>").text("Life of Program (LoP) target"),
          $("<th>").text(1000),
          $("<td>")
        )
      );

      table.append(tbody);

      $("#quaterlyTargets").append(table);
    });
  });
</script>
