{% extends "base.html" %} {% block content %} {% load group_tag %} 
{% include './beneficiary_modal_form.html' %}

<script>
    $(document).ready(() => {
        $('#beneficiariesTable').DataTable();
    })
</script>

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">Beneficiaries</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Beneficiary List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "formlibrary/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <!-- sample action buttons -->
        <div class="btn-group" role="group" aria-label="">
          <button
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#addBeneficiaryModal"
          >
            <i class="fa fa-plus"></i> Beneficiary
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table" id="beneficiariesTable">
    <thead>
      <tr>
        <th>Beneficiary Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Date created</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for beneficiary in get_beneficiaries %}
      <tr>
        <td>
          <a href="/formlibrary/beneficiary_update/{{ beneficiary.id }}" 
            data-toggle="tooltip" 
            title="{{beneficiary.beneficiary_name}}">
            {{ beneficiary.beneficiary_name | truncatechars:50 }}
          </a>
        </td>
        <td>{{ beneficiary.gender }}</td>
        <td>{{ beneficiary.age }}</td>
        <td>{{ beneficiary.create_date | date:'m-d-Y' }}</td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">More</button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/formlibrary/beneficiary_update/{{ beneficiary.id }}"
                  >Edit</a
                >
              </li>
              <li>
                  <a
                  class="text-danger"
                  href="#deleteItemModal{{beneficiary.id}}" 
                  data-toggle="modal" 
                  onclick="setItemToDelete({{beneficiary.id}})"
                  data-target="#deleteItemModal{{beneficiary.id}}">
                  Delete
                </a>
              </li>
            </ul>
          </div>
        </td>
        {% include 'formlibrary/beneficiary_confirm_delete.html'%}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
