{% extends "base.html" %} {% block content %} {% load group_tag %}

<div class="container">
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Beneficiary List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "formlibrary/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <a href="/formlibrary/beneficiary_add/0/" class="btn btn-sm btn-info">
          <i class="fa fa-plus"></i> New Beneficiary
        </a>
      </div>
    </div>
  </div>

    <!-- Table -->
    <table class="table" id="beneficiarytable"></table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('select#program').change(function() {
          if ($(this).val() == 'all') {
            $('select#project').html('<option>project(s)</option>');
            $('select#project').attr('disabled', true);
          } else {
            program_id = $(this).val();
            var url = '/formlibrary/getagreements/' + program_id + '/0/';

            $.getJSON(url, function(models) {
              var options = '<option value="all">Project</option>';

              if (!$.trim(models['get_agreements'])) {
                $('select#project').html('<option>project(s)</option>');
                $('select#project').attr('disabled', true);
                program_filter(program_id, 0);
              } else {
                data = JSON.parse(models['get_agreements']);
                for (var i = 0; i < data.length; i++) {
                  options +=
                    '<option value="' +
                    data[i]['id'] +
                    '">' +
                    data[i]['project_name'] +
                    '</option>';
                }

                $('select#project').html(options);
                $('select#project option:first').attr('selected', 'selected');
                $('select#project').attr('disabled', false);
                program_filter(program_id, 0);
              }
            });
          }
        });

        $('select#project').change(function() {
          project_id = $(this).val();
          program_id = $('select#program').val();
          program_filter(program_id, project_id);
        });
        program_filter(0, 0);
      });

      function show_beneficiary_table(beneficiary_data) {
        beneficiary_records = JSON.parse(beneficiary_data);
        //First destroy any old version of the table to refresh anew
        if ($.fn.dataTable.isDataTable('#beneficiarytable')) {
          table.destroy();
          $('#beneficiarytable').empty();
        }

        $('#beneficiarytable').on('page.dt', function() {
          $('html, body').animate(
            {
              scrollTop: 0,
            },
            300,
          );
        });

        table = $('#beneficiarytable').DataTable({
          order: [],
          bFilter: false,
          bLengthChange: false,
          aoColumnDefs: [{ bSortable: false, targets: [0, 1, 2] }],
          retrieve: true,
          data: beneficiary_records,
          columns: [
            {
              title: 'Date Created',
              data: 'create_date',
              defaultContent: '<i>Not set</i>',
              mRender: function(data, record, row) {
                return (
                  '<a class="collecteddata" name=' +
                  row.id +
                  ' href="#">' +
                  row.create_date +
                  '</a>'
                );
              },
            },
            {
              title: 'Beneficiary Name',
              data: 'beeficiary_name',
              defaultContent: '<i>Not set</i>',
              mRender: function(data, record, row) {
                return (
                  '<a class="collecteddata" name=' +
                  row.id +
                  ' href="#">' +
                  row.beneficiary_name +
                  '</a>'
                );
              },
            },
            {
              title: 'Update/Delete/ ',
              mRender: function(data, record, row) {
                return (
                  '<a href="/formlibrary/beneficiary_update/' +
                  row.id +
                  '" class="btn btn-xs btn-warning">Update Beneficiary</a><a href="/formlibrary/beneficairy_delete/' +
                  row.id +
                  '" class="btn btn-xs btn-danger">Delete Beneficiary</a>'
                );
              },
            },
          ],
        });
      }

      function program_filter(program_id, project_id) {
        // Filter Beneficiaries
        if (program_id != 0) {
          $.getJSON(
            '/formlibrary/beneficiary_objects/' + program_id + '/0/',
            function(data) {
              show_beneficiary_table(data['get_beneficiaries']);
            },
          );
        } else if (program_id != 0 && project_id != 0) {
          $.getJSON(
            '/formlibrary/beneficiary_objects/' +
              program_id +
              '/' +
              project_id +
              '/',
            function(data) {
              show_beneficiary_table(data['get_beneficiaries']);
            },
          );
        } else {
          $.getJSON('/formlibrary/beneficiary_objects/0/0/', function(data) {
            show_beneficiary_table(data['get_beneficiaries']);
          });
        }
      }
    </script>

    <!-- Modal -->
    <div
      class="modal fade"
      id="importModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content"></div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</div>
{% endblock content %}
