{% extends "base.html" %} {% block content %}
{% include './modals/add_distribution_modal.html' %}

<script>
  $(document).ready(() => {
    $('#distributionTable').dataTable()
  })
</script>
<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">Distributions</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Distribution List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "formlibrary/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addDistributionModal">
          <i class="fa fa-plus"></i> Distribution
        </button>
      </div>
    </div>
  </div>
  <!-- Table -->

  <table class="table" id="distributionTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for distribution in get_distribution %}
        <tr>
          <td>
            <a href="/formlibrary/distribution_update/{{distribution.id}}/" 
              data-toggle="tooltip" 
              title="{{ distribution.distribution_name }}">
              {{ distribution.distribution_name | truncatechars:50 }}
            </a>
          </td>
          <td>{{ distribution.start_date | date }}</td>
          <td>{{ distribution.end_date | date }}</td>
          <td class="text-right">
            <!-- Action buttons -->
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default disabled">
                More
              </button>
              <button
                type="button"
                class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li class="text-danger">
                  <a href="/formlibrary/distribution_update/{{distribution.id}}/">Edit</a>
                </li>
                <li class="divider"></li>
                <li class="text-danger">
                    <a
                      class="text-danger" 
                      href="#deleteItemModal{{distribution.id}}" 
                      data-toggle="modal" 
                      onclick="setItemToDelete({{distribution.id}})"
                      data-target="#deleteItemModal{{distribution.id}}">
                      Delete
                    </a>
                </li>
              </ul>
            </div>
          </td>
          {% include 'shared/confirm_delete_distribution_modal.html' %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock content %}
