{% extends "base.html" %} {% block content %}
{% include './modals/add_distribution_modal.html' %}
<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li class="active">Distributions</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Distribution List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        {% include "formlibrary/filter.html" %}
      </div>

      <div class="sub-nav-item">
        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addDistributionModal">
          <i class="fa fa-plus"></i> New Distribution
        </button>
      </div>
    </div>
  </div>
  <!-- Table -->

  <table class="table" id="distributionTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Start DAte</th>
          <th>End Date</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for distribution in get_distribution %}
        <tr>
          <td>
            <a href="/formlibrary/distribution_update/{{distribution.id}}/">
              {{ distribution.distribution_name }}
            </a>
          </td>
          <td>{{ distribution.start_date | date }}</td>
          <td>{{ distribution.end_date | date }}</td>
          <td class="text-right">
            <!-- Action buttons -->
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-default disabled">
                More
              </button>
              <button
                type="button"
                class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li class="text-danger">
                  <a href="/formlibrary/distribution_update/{{distribution.id}}/">Edit</a>
                </li>
                <li class="divider"></li>
                <li class="text-danger">
                    <a
                      class="text-danger" 
                      href="#deleteItemModal{{distribution.id}}" 
                      data-toggle="modal" 
                      onclick="setItemToDelete({{distribution.id}})"
                      data-target="#deleteItemModal{{distribution.id}}">
                      Delete
                    </a>
                </li>
              </ul>
            </div>
          </td>
          {% include 'shared/confirm_delete_distribution_modal.html' %}
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <!-- <table class="table" id="distributiontable"></table> -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('#distributionTable').DataTable();
      $('select#program').change(function() {
        if ($(this).val() == 'all') {
          $('select#project').html('<option>Project(s)</option>');
          $('select#project').attr('disabled', true);
        } else {
          var url = '/formlibrary/getagreements/' + $(this).val() + '/0/';
          program_id = $(this).val();
          $.getJSON(url, function(models) {
            var options = '<option value="all">Project</option>';

            if (!$.trim(models['get_agreements'])) {
              $('select#project').html('<option>project(s)</option>');
              $('select#project').attr('disabled', true);
              program_filter(program_id, 0);
            } else {
              data = JSON.parse(models['get_agreements']);
              for (var i = 0; i < data.length; i++) {
                options +=
                  '<option value="' +
                  data[i]['id'] +
                  '">' +
                  data[i]['project_name'] +
                  '</option>';
              }

              $('select#project').html(options);
              $('select#project option:first').attr('selected', 'selected');
              $('select#project').attr('disabled', false);
              program_filter(program_id, 0);
            }
          });
        }
      });

      $('select#project').change(function() {
        project_id = $(this).val();
        program_id = $('select#program').val();
        program_filter(program_id, project_id);
      });
      program_filter(0, 0);
    });

    function program_filter(program_id, project_id) {
      // Filter distributions

      if (program_id != 0 && project_id == 0) {
        $.getJSON(
          '/formlibrary/distribution_objects/' + program_id + '/0/',
          function(data) {
            show_training_table(data['get_distribution']);
          },
        );
      } else if (program_id != 0 && project_id != 0) {
        $.getJSON(
          '/formlibrary/distribution_objects/' +
            program_id +
            '/' +
            project_id +
            '/',
          function(data) {
            show_training_table(data['get_distribution']);
          },
        );
      } else {
        $.getJSON('/formlibrary/distribution_objects/0/0/', function(data) {
          show_training_table(data['get_distribution']);
        });
      }
    }
  </script>
{% endblock content %}
