{% extends "base.html" %} {% block content %}
<div class="container">
  {% if form.errors %}
    <div class="help-block">
      {% for field in form %} {% for error in field.errors %}
        <strong><i>{{ field.label }}</i> - {{ error | escape }}</strong>
      {% endfor %} {% endfor %}
    </div>
    {% for error in form.non_field_errors %}
    <div class="alert alert-error">
      <strong>{{ error | escape }}</strong>
    </div>
    {% endfor %} {% endif %} {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="/">My Dashboard</a></li>
      <li><a href="/formlibrary/distribution_list/0/0/">Distribution</a></li>
      <li class="active">Details</li>
    </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">
        {% if distribution_name %}
          {{ distribution_name }} 
        {% else %} 
          {{ form_title }} 
        {% endif %}
      </h4>
    </div>
    {% comment %}
    <div class="sub-navigation-actions">
      {% include "form_guidance.html" %}
    </div>
    {% endcomment %}
  </div>
  <div class="admin-content">
    <form method="POST">
      {% csrf_token %}
      <div id="distribution-tab">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#details" data-toggle="tab">Distribution Details</a>
          </li>
          <li>
            <a href="#information" data-toggle="tab">Additional Information</a>
          </li>
          <li><a href="#participants" data-toggle="tab">Participants</a></li>
        </ul>

        <div class="tab-content clearfix">
          <div class="tab-pane active" id="details">
            {% include 'formlibrary/form-sections/distribution/details.html' %}
          </div>
          <div class="tab-pane" id="information">
            {% include 'formlibrary/form-sections/distribution/additional_info.html' %}
          </div>
          <div class="tab-pane" id="participants">
            {% include 'formlibrary/form-sections/distribution/participants.html' %}
          </div>
        </div>
      </div>
      <div class="">
        <button type="reset" id="reset-id-reset" class="btn btn-md btn-close">
          Cancel
        </button>
        <button type="submit" class="btn btn-md btn-success">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  $("#reset-id-reset").click(() => {
    window.location.href = "/formlibrary/distribution_list/0/0/";
  });
  $(document).ready(() => {
    $("#id_program").select2({ theme: "bootstrap" });
    $("#id_initiation").select2({ theme: "bootstrap" });
    $("#id_office_code").select2({ theme: "bootstrap" });
    $("#id_province").select2({ theme: "bootstrap" });
  });
</script>

{% endblock content %}
