
<div class="btn-group" role="group">
  <select id="program" class="listoption_filters">
    <option>{{ user.activity_user.organization.level_1_label }}(s)</option>
    <option value="all">---ALL---</option>
    {% for program in getPrograms %}
      <option value="{{program.id}}">{{program.name}}</option>
    {% endfor %}
  </select>
</div>
<div class="btn-group" role="group">
  <select id="project" disabled="true" class="listoption_filters">
    <option>{{ user.activity_user.organization.level_2_label }}(s)</option>
  </select>
</div>