<div id="individual_list">
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">[[ individual_label ]] List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <span class="text-filter">Filter by</span>
      </div>
      <div class="sub-nav-item">
        {% include "./filter.html" %}
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a
            role="button"
            class="btn btn-sm btn-primary"
            id="show-modal"
            @click="toggleModal()"
          >
            <i class="fa fa-plus"></i> [[ individual_label ]]
          </a>
        </div>
        <!-- Individual create modal -->
        <modal v-if="showModal" @close="showModal = false">
          <div slot="body">
            {% include './modals/individual_modal_form.html' %}
          </div>
          <div slot="footer">
            {% include 'ui-components/quick_entry_modal_footer.html' %}
          </div>
          <h4 slot="header">[[modalHeader]]</h4>
        </modal>

        <!-- individual delete modal -->
        <modal v-if="showDeleteModal" @close="showDeleteModal = false">
          <h4 slot="header">[[modalHeader]]</h4>
          <div slot="body">
            <p>
              Are you sure you want to delete <b>[[ itemToDelete.name ]]</b>?
            </p>
          </div>
          <div slot="footer">
            <div class="text-right">
              <button
                type="submit"
                class="btn btn-close"
                @click="showDeleteModal = false"
              >
                Cancel
              </button>
              <button
                class="btn btn-danger"
                @click="deleteIndividual(itemToDelete.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </modal>
      </div>
    </div>
  </div>

  <!-- Table -->
  <table class="table" id="individualsTable" v-if="individualsList.length">
    <thead>
      <tr>
        <th>[[ individual_label ]] Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Primary Phone</th>
        <th>Date created</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr v-cloak v-for="individual in individualsList" v-if="individual.first_name">
        <td>
          <a v-bind:href="'/formlibrary/individual_update/'+ individual.id+'/'"
            data-toggle="tooltip"
            :title="individual.first_name">
            [[ individual.first_name ]]
          </a>
        </td>
        <td>[[ individual.last_name ]]</td>
        <td>
          <div v-if="individual.sex == 'M'">
            Male
          </div>
          <div v-else-if="individual.sex == 'F'">
            Female
          </div>
          <div v-else>
            -
          </div> 
        </td>
        <td>
          <div v-if="individual.age > 0">
            [[ individual.age ]]
          </div>
          <div v-else>
           -
          </div> 
        </td>
        <td>
          <div v-if="individual.primary_phone">
            [[ individual.primary_phone ]]
          </div>
          <div v-else>
           -
          </div>
        </td>
        <td>[[ formatDate(individual.create_date) ]]</td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">
              More
            </button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/formlibrary/individual_list/0/0/0/">[[ individual_label ]]</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a v-bind:href="'/formlibrary/individual_update/'+individual.id+'/'"
                  >Edit</a
                >
              </li>
              <li>
                <a
                  class="text-danger force-link"
                  @click="toggleDeleteModal(individual)"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% include 'ui-components/vue_modal.html'%} {% block extra_js_in_body %}
<script type="text/javascript" src="{{ STATIC_URL }}vue.js/formlibrary/individual.js"></script>
{% endblock extra_js_in_body %}