<div id="service_list">
  <!-- Sub navigation -->
  <div class="sub-navigation">
    <div class="sub-navigation-header">
      <h4 class="page-title">Service List</h4>
    </div>
    <div class="sub-navigation-actions">
      <div class="sub-nav-item">
        <span class="text-filter">Filter by</span>
      </div>
      <div class="sub-nav-item">
        {% include "./filter.html" %}
      </div>

      <div class="sub-nav-item">
        <div class="btn-group" role="group" aria-label="...">
          <a
            role="button"
            class="btn btn-sm btn-primary"
            id="show-modal"
            @click="toggleModal()"
          >
            <i class="fa fa-plus"></i> Service
          </a>
        </div>

        <!-- Service create modal -->
        <modal v-if="showModal" @close="showModal = false">
          <div slot="body">
            {% include './modals/service_modal_form.html' %}
          </div>
          <div slot="footer">
            {% include 'ui-components/quick_entry_modal_footer.html' %}
          </div>
          <h4 slot="header">[[modalHeader]]</h4>
        </modal>

        <!-- service delete modal -->
        <modal v-if="showDeleteModal" @close="showDeleteModal = false">
          <h4 slot="header">[[modalHeader]]</h4>
          <div slot="body">
            <p>
              Are you sure you want to delete <b>[[ itemToDelete.name ]]</b>?
            </p>
          </div>
          <div slot="footer">
            <div class="text-right">
              <button
                type="submit"
                class="btn btn-close"
                @click="showDeleteModal = false"
              >
                Cancel
              </button>
              <button
                class="btn btn-danger"
                @click="deleteService(itemToDelete.id, itemToDelete.service_type)"
              >
                Delete
              </button>
            </div>
          </div>
        </modal>
      </div>
    </div>
  </div>

  <!-- Table -->
  {% comment %} <table class="table" id="servicesTable" v-if="servicesList.length"> {% endcomment %}
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Service Type</th>
        <th>Program</th>
        <th>Created By</th>
        <th>Create Date</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr v-cloak v-for="(service, index) in servicesList[0]" v-if="servicesList.length">
        <td>
          {% comment %} <a v-bind:href="'/formlibrary/individual_update/'+ individual.id+'/'"
            data-toggle="tooltip"
            :title="individual.first_name"> {% endcomment %}
          <a href="#">
            [[ service.name ]]
          </a>
        </td>
        <td>[[ service.service_type ]]</td>
        <td>[[ service.program.name ]]</td>
        <td>[[ service.created_by.name ]]</td>
        <td>[[ formatDate(service.create_date) ]]</td>
        <td class="text-right">
          <!-- Split button -->
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm disabled">
              More
            </button>
            <button
              type="button"
              class="btn btn-default btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Service</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a v-bind:href="'/formlibrary/'+service.service_type.toLowerCase()+'_update/'+service.id"
                  >Edit</a
                >
              </li>
              <li>
                <a
                  class="text-danger force-link"
                  @click="toggleDeleteModal(service)"
                  >Delete</a
                >
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% include 'ui-components/vue_modal.html'%} {% block extra_js_in_body %}
<script type="text/javascript" src="{{ STATIC_URL }}vue.js/formlibrary/service.js"></script>
{% endblock extra_js_in_body %}