{% extends "base.html" %} {% block content %} 

<!--
<script>
  $(document).ready(() => {
    $('#parentObjective').select2({
      theme: 'bootstrap',
      dropdownParent: $('#addObjectiveModal')
    });
    $('#program').select2({
      theme: 'bootstrap',
      dropdownParent: $('#addObjectiveModal')
    });
    $('#objectivesTable').DataTable();

    // show quick add modal if quick-modal to true
    const url = new URL(window.location.href);
    if (url.searchParams.get('quick-action')) {
      $('#addObjectiveModal').modal('show');
    }
  });
</script>
-->

<div class="container">
  {% block breadcrumbs %}
  <ul class="breadcrumb">
    <li><a href="{% url 'index' %}">My Dashboard</a></li>
    <li><a href="/indicators/home/0/0/0/">Indicators</a></li>
    <li class="active">Objectives</li>
  </ul>
  {% endblock %}

  <!-- Sub navigation -->
  <div class="bg-white mt-10 p-10 pt-0">
    {% include 'components/lists/objectives_list.html' %}
  </div>
</div>

{% endblock content %}
