{% extends "base.html" %}
{% block content %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Survery Dashboard">
    <meta name="author" content=TolaData"">
    <title>TolaData Rollout Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png"/>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL}}css/tola-dashboard.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL}}css/app.css" rel="stylesheet" type="text/css" />
    <!-- JQuery UI CSS -->
    <link href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.4.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    <script src="{{ STATIC_URL }}publicdashboard/js/vendor/Chart.min.js"></script>
    <link rel="borders" type="application/json" href="{{ STATIC_URL }}js/world_borders.geojson">
    <!-- Hosted Leaflet -->
    <script src="{{ STATIC_URL }}js/leaflet.js"></script>
    <script src="{{ STATIC_URL }}js/Chart.HorizontalBar.js"></script>
    <!--- Hosted Leaflet CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-body">
                <div style="float:left;">

                    <h4>Project Status {% if getFilteredName %} for <a href="/workflow/dashboard/{{ getFilteredName.id }}">{{ getFilteredName }}{% endif %} </a></h4>
                    Number of Projects : <b>{{ getProjectsCount }}</b><br>
                    <!-- approved count-->
                    <h4> <a href="/workflow/dashboard/{{ getFilteredName.id }}/approved/"><span class="label label-success">Approved &nbsp;<span class="badge">{{ getApprovedCount }}</span></span></a>
                    <!-- awaiting approval count-->
                    <a href="/workflow/dashboard/{{ getFilteredName.id }}/awaiting_approval/"><span class="label label-success">Awaiting Approval &nbsp;<span class="badge">{{ getAwaitingApprovalCount }}</span></span></a>
                    <!-- in progress count-->
                    <a href="/workflow/dashboard/{{ getFilteredName.id }}/in_progress/"><span class="label label-success">In Progress &nbsp;<span class="badge">{{ getInProgressCount }}</span></span></a>
                    <!-- in progress count-->
                    <a href="/workflow/dashboard/{{ getFilteredName.id }}/new/"><span class="label label-success">New &nbsp;<span class="badge">{{ nostatus_count }}</span></span></a>
                    <!-- rejected count-->
                    <a href="/workflow/dashboard/{{ getFilteredName.id }}/rejected/"><span class="label label-success">Rejected &nbsp;<span class="badge">{{ getRejectedCount }}</span></span></a></h4>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">

                    <!-- show project filter - 'All Projects', 'Approved', 'Rejected', 'In Progress', 'Archived' -->

                    <div class="btn-group">
                      <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Project Dashboard <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                         {% for project in getProjects %}
                            <li class="list-group-item">
                                <a href="/workflow/dashboard/project/{{ project.id }}/">{{ project.project_name }}</a>
                            </li>
                         {%endfor%}
                        </li>
                      </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="indicator" style=" width: 100%; height: 460px; margin: 0 auto; float:right">
                        <div style="width: 100%">
                        <canvas id="program_chart" height="200" width="300"></canvas>
                        <div id="program-legend" class="chart-legend"></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Project(s) Status</b> {% if getFilteredName %} for <a href="/workflow/dashboard/{{ getFilteredName.id }}">{{ getFilteredName }} </a>{% endif %}
                    </div>
                <div class="panel-body">
                    <div class="col-md-offset-2 col-md-10">
                        <canvas id="status" height="280"></canvas>
                        <div id="status-legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading"><b>KPI Target vs Actuals</b> {% if getFilteredName %} for <a href="/workflow/dashboard/{{ getFilteredName.id }}">{{ getFilteredName }} </a>{% endif %}
                </div>
                <div class="panel-body">
                    <div id="budget">
                        <canvas id="expenditure_canvas" height="300" width="200"></canvas>
                        <div id="exp-legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><b>Project Sites</b> {% if getFilteredName %} for <a href="/workflow/dashboard/{{ getFilteredName.id }}">{{ getFilteredName }}</a> {% endif %}</div>
            <div class="panel-body">

                <style>
                    #map { height: 350px; }
                </style>
                <div id="map"></div>

                {% include "small_site_profile_map.html" %}

            </div>
        </div>
    </div>
    <div>{% include "customdashboard/charts/doughnut.html" %}</div>
    <div>{% include "customdashboard/charts/bar_graph.html" %}</div>
    <div>{% include "customdashboard/charts/polar.html" %}</div>
    <div>{% include "customdashboard/charts/horizontal_bar_graph.html" %}</div>

{% endblock content %}