<!-- import chart.js -->

<!-- load basic layout -->
{% extends "customdashboard/themes/custom_base_layout.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

<!-- layout-specific content modules-->
{% block content %}

<!-- TODO: define layout sections -->
<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
		<div class='container-fluid'>
			<div class='col-lg-9'>
				<div class='panel panel-info borderless soft-border-full' style="min-height: 200; max-height: 200; background-color:#DB5E11;">
					<div class="panel-body" style='text-align: center'>
						<div class='col-lg-12 title-white'>
						<span style='font-size: 2.2em;'> Title Placeholder
						<!-- {{ pageText.pageTitle }} -->
						</span>
						<button class='btn btn-warn title-white' style='background-color: #e89424;border-radius: 2px; float: right; margin: .5em;'> Dynamic View </button></div>
					</div>
				</div>
				<div class='row row-eq-height' >
					<div class='col-md-6 row-eq-height bounded-column'>
						<div class='panel panel-info borderless soft-border-full' style="float: left; height: 245pt;">
							<div class="panel-body">
								<!-- {% with pageImages.imageset as tolaImageData %} -->
								{% with getAllComponentData.1 %}
								    <!-- {% include 'customdashboard/components/gallery/sidebar_gallery.html' %} -->
								    {% include getDashboardComponents.component_id.template_name %}
								{% endwith %}
							</div>
						</div>
					</div>
					<div class='col-md-6 row-eq-height bounded-column'>
						<div class='panel panel-info borderless soft-border-full' style="float: left; height: 245pt; ">
							<div class="panel-body" style='overflow-y: scroll; ' >
								<!-- {% with pageText.projectSummary as tolaTextData %} -->
								{% with getAllComponentData.2 %}
								    <!-- {% include 'customdashboard/components/narratives/context_pane.html' %} -->
								    {% include getDashboardComponents.component_id.template_name %}
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<div class='panel panel-info borderless soft-border-full'>
							<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> PROGRAM MAP </span></div>
								<div class="panel-body" style="height: 300;">
								<!-- {% with pageMap as tolaMapData %} -->
								{% with getAllComponentData.3 %}
								    <!-- {% include 'customdashboard/components/maps/content_map.html' %} -->
								    {% include getDashboardComponents.component_id.template_name %}
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='col-lg-12'>
					<div class='panel panel-info borderless soft-border-full' style="min-height: 400; max-height: 400;">
						<div class="panel-body" >
						  <ul class="nav nav-pills">
						    <li class="active"><a data-toggle="pill" href="#home" style='text-align: center'>OBJECTIVES</a></li>
						    <li><a data-toggle="pill" href="#menu1"> Objective 1 
						    <!-- {{pageText.objectives.0}} -->
						    </a></li>
						    <li><a data-toggle="pill" href="#menu2"> Objective 2
						    <!-- {{pageText.objectives.1}} -->
						    </a></li>
						  </ul>
						</div>
					</div>
				</div>
				<div class='col-md-12'>
					<div class='panel panel-info borderless soft-border-full' style="min-height: 200; max-height: 200; ">
					<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> LATEST EVENTS</span></div>
						<!-- {% with pageText.timelineLinks as tolaTextData %} -->
						{% with getAllComponentData.4 %}
							<!-- {% include 'customdashboard/components/narratives/sidebar_events.html' %} -->
							{% include getDashboardComponents.component_id.template_name %}
						{% endwith %}
		            </div>
				</div>
				<div class='col-md-12'>
					<div class='panel panel-info borderless soft-border-full'>							
					<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> NEWSFEED</span></div>
						<div class="panel-body">
							<!-- <span class='chart-title' style="overflow-y: scroll; ">NEWSFEED</span> -->
							<!-- {% with pageNews as tolaTextData %} -->
							{% with getAllComponentData.5 %}
							    <!-- {% include 'customdashboard/components/narratives/sidebar_news.html' %} -->
							    {% include getDashboardComponents.component_id.template_name %}
							{% endwith %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	  <div id="menu1" class="tab-pane fade">
		<div class='container-fluid' >
			<div class='col-lg-9'>
				<div class='panel panel-info borderless' style="min-height: 200; max-height: 200;">
					<div class="panel-body" >
						<span class='chart-title' style="overflow-y: scroll;"><h3>{{pageText.objectives_subtitles.0}}</h3></span>
						<p>{{pageText.objectives_content.0}}</p> 
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='col-lg-12'>
					<div class='panel panel-info borderless' style="min-height: 400; max-height: 400;">
						<div class="panel-body" >
						  <ul class="nav nav-pills">
						    <li><a data-toggle="pill" href="#home" style='text-align: center;'>HOME</a></li>
						    <li class="active"><a data-toggle="pill" href="#menu1">Objective 1 
						    <!-- {{pageText.objectives.0}} -->
						    </a></li>
						    <li><a data-toggle="pill" href="#menu2"> Objective 2
						    <!-- {{pageText.objectives.1}} -->
						    </a></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>
	  <div id="menu2" class="tab-pane fade">
		<div class='container-fluid' >
			<div class='col-lg-9'>
				<div class='panel panel-info borderless' style="min-height: 200; max-height: 200;">
					<div class="panel-body" >
						<span class='chart-title' style="overflow-y: scroll;"><h3>{{pageText.objectives_subtitles.1}}</h3></span>
						<p>{{pageText.objectives_content.1}}</p> 
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='col-lg-12'>
					<div class='panel panel-info borderless' style="min-height: 400; max-height: 400;">
						<div class="panel-body" >
						  <ul class="nav nav-pills">
						    <li><a data-toggle="pill" href="#home" style='text-align: center'>HOME</a></li>
						    <li><a data-toggle="pill" href="#menu1"> Objective 1 
						    <!-- {{pageText.objectives.0}} -->
						    </a></li>
						    <li class="active"><a data-toggle="pill" href="#menu2"> Objective 2
						    <!-- {{pageText.objectives.1}} -->
						    </a></li>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </div>

</div>
{% endblock content %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>