<!-- import chart.js -->

<!-- load basic layout -->
{% extends "customdashboard/themes/custom_base_layout.html" %}
{% load staticfiles %}

<!-- humanize numbers -->
{% load humanize %}

<!-- layout-specific content modules-->
{% block content %}

<!-- TODO: define layout sections -->
<div class="tab-content">
	  <div id="home" class="tab-pane fade in active">
		<div class='container-fluid'>
			<div class='col-lg-9'>
				<div class='panel panel-info borderless soft-border-full' style="min-height: 200; max-height: 200; background-color:#DB5E11;">
					<div class="panel-body" style='text-align: center'>
						<div class='col-lg-12 title-white'>
						<span style='font-size: 2.2em;'>{{ pageText.pageTitle }}</span>
						</div>
					</div>
				</div>
				<div class='row row-eq-height' >
					<div class='col-md-6 row-eq-height bounded-column'>
						<div class='panel panel-info borderless soft-border-full' style="float: left; height: 245pt;">
							<div class="panel-body">
								{% with pageImages.imageset as tolaImageData %}
								    {% include 'customdashboard/components/gallery/sidebar_gallery.html' %}
								{% endwith %}
							</div>
						</div>
					</div>
					<div class='col-md-6 row-eq-height bounded-column'>
						<div class='panel panel-info borderless soft-border-full' style="float: left; height: 245pt; ">
							<div class="panel-body" style='overflow-y: scroll; ' >
								{% with pageText.projectSummary as tolaTextData %}
								    {% include 'customdashboard/components/narratives/context_pane.html' %}
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-md-12'>
						<div class='panel panel-info borderless soft-border-full'>
							<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> PROGRAM MAP </span></div>
								<div class="panel-body" style="height: 300;">
								{% with pageMap as tolaMapData %}
								    {% include 'customdashboard/components/maps/rrima_map.html' %}
								{% endwith %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='col-lg-12'>
					<div class='panel panel-info borderless soft-border-full' style="min-height: 400; max-height: 400;">
						<div class="panel-body" >
						  <span style="margin-left: 20%;"><strong>OBJECTIVES</strong><br><br></span>
						  <li style="margin-bottom: 5%;"">To provide Aegean Response teams with regular, consistent and quality analyses of programmatic and secondary data sources.</li><li>To inform and improve program implementation, Aegean Response strategy and policy discussion.</li>
						</div>
					</div>
				</div>
				<div class='col-md-12'>
					<div class='panel panel-info borderless soft-border-full' style="min-height: 200; max-height: 200; ">
					<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> PROJECT TIMELINE</span></div>
						{% with pageText.timelineLinks as tolaTextData %}
							{% include 'customdashboard/components/narratives/sidebar_events.html' %}
						{% endwith %}
		            </div>
				</div>
				<div class='col-md-12'>
					<div class='panel panel-info borderless soft-border-full'>							
					<div class='panel-heading borderless soft-border-top' style='background-color: #7B5213;'><span class='title-white'> RRIMA REPORTS</span></div>
						<div class="panel-body">
							<!-- <span class='chart-title' style="overflow-y: scroll; ">NEWSFEED</span> -->
							{% with pageNews as tolaTextData %}
							    {% include 'customdashboard/components/narratives/sidebar_news.html' %}
							{% endwith %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
{% endblock content %}

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>